[2017-08-26 04:12] sivabudh commented on #346
Interesting. Would be very interested to see how this plays out. I too also use NGINX to serve my Angular app. And interested in trying out Angular Universal for SEO. Bummer that Angular Universal only works with Node.

[2017-08-26 11:37] m98 commented on #270
@gdi2290 You [commented](https://github.com/angular/material2/issues/308#issuecomment-247738536) on the Material 2 and said:

But I did not see those changes in the universal-starter, can you please provide more information or let me know if you changed the universal?

Thanks

[2017-08-28 14:44] argirok commented on #412
+1
Did you manage to add styles? I used to have an 'assets' folder but I cannot make it work with the latest version.

[2017-08-29 20:01] gdi2290 commented on #401
Make sure you `webpack-node-externals` for the server webpack config to avoid this
https://www.npmjs.com/package/webpack-node-externals

[2017-08-29 20:08] gdi2290 commented on #401
should be fixed via https://github.com/angular/universal-starter/commit/303bb16db6e05c54165812bdbc91de0ac738b7e4

[2017-08-29 20:08] #401 closed

[2017-08-30 06:27] peterpeterparker commented on #414
There isn't currently a "proper" way to do state transfer

A proposal / draft to handle this that should be implimented into angular/universal is a current work in progress

[2017-08-30 11:45] NqCompiler opened #416 "only able to set TRANSFER_STATE in AppComponent"
Hey,

setting values via TransferState service (cache) is only possible in the AppComponent, but retrieving them also in other components and services.
I am loading an Array of some data, but it's not always the same data (depends on the route etc.). I can't always tell from the AppComponent which data it should load from the backend and set for the cache (besides the fact that it would be also a

[2017-08-31 07:49] SumanSingh4 commented on #340
Hii,

@matiishyn  I have tried your approach, but I didn't get el['attribs'] varible as explained by @djabif, I am facing same.
After using attribute in place of attribs, I have done somthing like this:-

childNodesAsList.forEach(el => {
            if(!!el.attributes){
                var varb = el.attributes.getNamedItem('name');
                var content = el.attributes.getNamedItem('content'

[2017-09-01 10:46] #365 closed

[2017-09-04 11:16] elhamchoopany commented on #389
you should be use OpenGraph and Twitter Card

[2017-09-05 09:36] Skillnter commented on #139
Any update on flickering issue? The flickering persist...

[2017-09-05 14:00] Scipionh opened #419 "Having both server rendering and client rendering in a single app"
I had a quick look at Angular-universal, and I am not quite sur if I will be able to achieve what I need.
I basically have an app with 2 modules. One having to be referenced and one not.
Can I only specify one of my 2 modules in my server.ts and render the other one as a regular angular app and having both living in my app ?

[2017-09-05 14:18] fircus opened #420 "AOT. Module build failed: Invalid CSS after..."
Hello, When I try to execute "build:aot" command, I get error "Module build failed: Invalid CSS after "...lint:disable */": expected 1 selector or at-rule, was "export const styles"" for all my ".scss" files. Has anybody faced this trouble?
My loaders:
{test: /\.css$/, use: [{loader: 'raw-loader'}]},
{test: /\.scss/, use: [{loader: 'raw-loader'}, {loader: 'sass-loader'}]},

[2017-09-06 00:01] #413 closed

[2017-09-06 00:01] #415 closed

[2017-09-06 07:30] Scipionh opened #421 "npm install doesn't work"
npm ERR! notarget No compatible version found: evp_bytestokey@^1.0.3
npm ERR! notarget Valid install targets:
npm ERR! notarget 1.0.2, 1.0.1, 1.0.0
npm ERR! notarget
npm ERR! notarget This is most likely not a problem with npm itself.
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget
npm ERR! not

[2017-09-06 08:29] #419 closed

[2017-09-06 09:27] denisyilmaz commented on #416
I use the TransferState Service in other Components and Resolvers successfully to set and get data.

As an example here is my PageResolver I use for retrieving API Data and add it to TransferState. The Resolver looks if the Data is already loaded (via Server and added to TransferState), otherwise it loads the data via HTTP Request and sets it for later use to TransferState (if the page is loaded o

[2017-09-06 09:30] denisyilmaz commented on #414
Im using a Route Resolver to check if the Data is already in Transferstate (then immediately resolve() the route), otherwise I start a HTTP Request for the data and add the data to Transferstate.

This way you can assure that the data will be loaded only once without limiting it to the Server or Client side.

[code]

Hope that helps.

[2017-09-06 10:43] denisyilmaz commented on #421
as I understand it you have to switch to either `/cli` or `/custom-webpack` folder as there is no main package.json in the main folder. see the PR #422 for the new readme.

[2017-09-06 10:47] Toxicable commented on #412
This repo now has a CLI example which has a `styles.css`

[2017-09-06 10:48] Toxicable commented on #409
if you've fixed your problem can you close this issue.
Otherwise might I suggest trying our new CLI example, it has AOT working fine there

[2017-09-06 10:49] Scipionh commented on #421
The error actually happens from both /cli and /custom-webpack

[2017-09-06 10:51] denisyilmaz commented on #421
strange. I just cloned the repo 2 minutes ago and successfully installed node_modules in the `/custom-webpack`folder.

[2017-09-06 10:54] Toxicable commented on #403
Are you still getting this error?
We have also just added a CLI example which has AOT chunk generation working fine, would you mind trying that?

[2017-09-06 10:54] Toxicable commented on #398
I don't think this is the appropriate place for a MongoDB example

[2017-09-06 10:55] #421 closed

[2017-09-06 11:06] blochaou opened #423 "No provider for InjectionToken REQUEST!"
Hello
I try to use angular universal cli in a muti tenant application.
I created a service and inject the REQUEST token.

When i provide this service with  in the AppModule i get the error :
 **No provider for InjectionToken REQUEST!**
in chrome console

app.module.ts

`
@NgModule({
  declarations: [
    AppComponent,
    HomeComponent,
  ],
  imports: [

    BrowserModule.withServerTransition({ap

[2017-09-06 11:07] #409 closed

[2017-09-06 15:53] peterpeterparker opened #425 "With nodeExternals whitelist, lazy modules not found anymore"
Hi,

I cloned the integration of `nodeExternals` in `webpack.server.js` in my project (like https://github.com/angular/universal-starter/blob/ff6c88159a9fb94aaba20b3744c48c2e303b7814/custom-webpack/webpack/webpack.server.js)  and as a result it seems that lazy modules aren't found anymore on the server side with this configuration.

If I remove back `nodeExternals` everything is working again resp

[2017-09-06 16:15] peterpeterparker commented on #425
I'm dumb, I should extend the whitelisting (`whitelist: [/@angular/, /@ng/]`) with the libs I use

[2017-09-06 16:15] #425 closed

[2017-09-07 09:19] ishankhare07 opened #426 "Styles and js bundle not being rendered"
I referred to the https://github.com/angular/universal-starter/blob/master/cli/server.js file.
I can render the html properly, but there are no styles being rendered. Also it does not contain any bundles related to my angular code (js files) or others like polyfills, bundle etc.

How do I fix this?

[2017-09-08 09:57] NqCompiler commented on #416
Thanks for your answer. I realized it is also working in other Components, even services.
I am working with the watcher (npm run watch) and you should always restart your local server as well (usually it's doing this on his own, somehow in my case not).
But I am still facing some issues with setting the cache in async operations. Can't figure out yet what the problem is, but I'll keep looking and

[2017-09-09 07:05] iUwej commented on #271
`app.engine('html', (_, options, callback) => {
  console.log("Response items  initialize", options.res);
  const opts = { document: template, url: options.req.url,extraProviders:[
  	{provide: 'request',useFactory: ()=> options.req},
  	{provide: 'response', useFactory: ()=> options.res}
  	] };

  renderModuleFactory(AppServerModuleNgFactory, opts)
    .then(html => callback(null, html));
});`

[2017-09-09 18:53] gdi2290 commented on #425
I added this to a gotcha. If the gotcha isn't clear can you make a PR to reword it for someone else
https://github.com/angular/universal-starter#universal-gotchas

[2017-09-09 18:59] NqCompiler commented on #416
Ok so I was using my own Http Service, which was extending the Http Class from @angular/router. In order to make it work correctly I had to insert it via a useFactory function. Somehow this was causing my TranferState not to work. Makes sense because I was injecting a TransferState in die dependencies (deps), which is probably a new instance and therefore different.

[2017-09-09 18:59] #416 closed

[2017-09-10 08:33] saravanan10393 opened #428 "Cannot start server after adding third party library like ngBootstrap"
I add the
```npm install --save @ng-bootstrap/ng-bootstrap```
package to this cli project and build the project with
``` ng build --aot --app 1 ```
 then when try to start the server i get following error.

[code]

It seems all the required dependencies  in project are not compiled in to common js module.

I am struggling with this for few hours , any help or suggestion is mostly welcome.

[2017-09-10 11:45] peterpeterparker commented on #425
@gdi2290 gotcha is pretty clear, I should I read it first, sorry for the issue

[2017-09-11 00:35] gdi2290 commented on #425
no problem 👍

[2017-09-11 07:19] m98 opened #429 "HTTP requests happens both on server and client side"
I'm using [Universal Starter CLI](https://github.com/angular/universal-starter/tree/master/cli), one of my pages makes an HTTP request to fetch an article's body when I watch the Chrome network tab, I see the same HTTP request is issued again on the client side, means one HTTP request is issued twice, _once on the server side and again on the client side_, and it cause a flicker for a short moment

[2017-09-11 07:30] Toxicable commented on #429
an API is in design to solve this issue https://github.com/angular/universal/issues/791

[2017-09-11 07:37] m98 commented on #429
I just read that, it seemed you provided some solutions for it.
Hopefully, I can find a way to solve my problem until the API is ready to use.
Thanks @Toxicable

[2017-09-11 07:59] Toxicable commented on #429
Untill the official API is done, there are a few alternatives
https://github.com/angular/universal-starter/tree/master/custom-webpack/src/modules/transfer-state
https://www.npmjs.com/package/@ngx-universal/state-transfer

[2017-09-11 08:01] Toxicable commented on #429
the PR for the offical one just opened here
https://github.com/angular/angular/pull/19134

[2017-09-11 08:09] m98 commented on #429
Thank you
I need to upgrade to the newer version of Angular.
Do you know when is Angular next stable release?

By the way, is not there any way for sharing variables between server and client?

[2017-09-11 08:11] Toxicable commented on #429
This API isn't available yet, the PR has not been merged.
Angular releases weekly builds
This API will allow for you to share variables from server to client

[2017-09-11 08:16] m98 commented on #429
I was thinking about a temporary trick, maybe we can watch the route change and don't make any requests if it's still the first route, and is the platform-browser :thinking:

[2017-09-11 10:44] dannyrevenant commented on #428
@saravanan10393 This issue is related to https://github.com/angular/angular-cli/issues/7200 . I wonder if the universal-starter maintainers have a solution for this in the mean time while we wait for the angular team to resolve the cli issue?

[2017-09-11 10:59] m98 commented on #429
@Toxicable, I just saw your provided links about the alternatives, can't we implement them for the [universal-starter CLI](https://github.com/angular/universal-starter/tree/master/cli)?

Not sure if is it possible to use the [transfer-state ](https://github.com/angular/universal-starter/tree/master/custom-webpack/src/modules/transfer-state) on that used on Webpack?

I'll be glad to work on it if y

[2017-09-11 11:05] Toxicable commented on #429
Sure you can use those with the CLI, there's nothing special required to configure them, they're just not official API's

[2017-09-11 11:15] m98 commented on #429
Is not better if we can add it into the [universal-starter CLI](https://github.com/angular/universal-starter/tree/master/cli)?

[2017-09-11 11:17] Toxicable commented on #429
No since there will be an official one soon enough. It would be confusing for us to provide one way to solve it then turn around a few days later and show another

[2017-09-12 00:42] Toxicable commented on #426
How are you running the solution?

[2017-09-13 06:28] m98 commented on #429
I'm using [transfer-state](https://github.com/angular/universal-starter/tree/master/custom-webpack/src/modules/transfer-state), and it seems to be a good temporary solution until the official API is ready to use.
Thanks @Toxicable

[2017-09-13 06:28] #429 closed

[2017-09-13 06:47] Scipionh commented on #408
Is that something you plan to fix ?

[2017-09-13 09:35] saravanan10393 commented on #428
@dannyrevenant thanks for mentioning out. It helps. :+1:

[2017-09-13 16:16] jackbliss99 opened #431 "SCSS Files not converted on server side"
Hello!

I have an angular universal app up and running, but the SCSS files that get imported are not first converted in to plain CSS. What this means is that the component-specific scss styling is not shown before the client bootstraps. From what I understand, this is due to an incompatibility with AoT and scss loading, possibly due to the ExtractTextPlugin? If someone could explain to me exactly

[2017-09-13 16:28] Jamie452 commented on #431
+1

[2017-09-13 16:31] poppo191 commented on #431
@jackbliss99 Change style ext on .angular.json file

[code]

[2017-09-13 16:31] MarkPieszak commented on #431
Did you change your angular-CLI json to indicate you're using scss now? It's CSS by default. Give that a shot.

[2017-09-13 16:37] jackbliss99 commented on #431
I did change it, and it still shows the unstyled content. In the source coming from the server, I get the following:

    <style ng-transition="Frontend">#header[_ngcontent-c0]{
      padding: 10px 30px;
      border-bottom: 1px solid #CCC;
      h1{
        color: #333;
      }
    }</style>

which is what's leading me to believe that the SCSS is not being correctly processed when the server side

[2017-09-13 23:37] kalyan1102 opened #432 "Relative path or get the location protocol and url for http"
Hi,

I am trying to provide the relative path for the http but the server is complaining that its only support absolute URL. Is there any way I can pass the request URL dynamically? As window is not available I am not able to use location.protocol or url either.  Please point me to a working example.

Thanks in advance for the help

[2017-09-14 06:58] Scipionh opened #433 "You must pass in a NgModule or NgModuleFactory to be bootstrapped"
I have just tried Angular Universal starting with your repo (cli version) I did customize it a bit by doing the following changes:

[code]
app.module.ts

[code]

My comp module is basicaly a seed with only a main component display "foo"

If I try running it with a recent browser, I get the site working well (and I get the non-static version of the source).

Now If I do masquerade as IE10 by instan

[2017-09-14 13:03] MarkPieszak commented on #408
If you guys can, use the `cli` starter example here (as all of this is working there), as the other one is just an example on how to get started with custom webpack configuration, and likely won't get worked on anymore.

[2017-09-14 13:35] #433 closed

[2017-09-15 07:13] Scipionh opened #434 "Removing the prod option from the angular cli script doesn't work"
I tried removing the --prod option from the angular cli script :

    "build:dynamic": "ng build && ng build --app 1 --output-hashing=false && cpy ./server.js ./dist",

Unfortunately it fails with the error being in my server.js file
`const { AppServerModuleNgFactory, LAZY_MODULE_MAP } = require("./dist-server/main.bundle");
`
is undefined.

What should I do to fix this issue ?

[2017-09-15 07:20] Scipionh commented on #434
Ok I figured that I had to use AppServerModule and not AppServerModuleNgFactory.
All good then

[2017-09-15 07:21] #434 closed

[2017-09-15 14:22] kalyan1102 commented on #432
@MarkPieszak can you please help me out? Thanks in advance

[2017-09-17 06:37] poppo191 opened #435 "Required Testing Document"
Hi, I would like to know who to configure a test with karma on ssr

Thank you :)

[2017-09-19 04:04] Toxicable commented on #435
Are you using the CLI implimentation or webpack?

[2017-09-19 04:05] Toxicable commented on #432
see https://github.com/angular/universal/issues/766

[2017-09-19 04:08] poppo191 commented on #435
@Toxicable webpack :)

[2017-09-19 04:09] Toxicable commented on #435
Ah, well unfortunately I do not know how to configure that for testing.
But if you use the CLI version then you can do testing very easily since the CLI takes care of all that config

[2017-09-19 06:51] amitjain28 opened #436 "Double white page flash on page"
Double white page flash on pages when loading. it is clearly visible on Desktop and Mobile.
How can i remove it ?
Is this due to AOT or angular pre-rendering ?

[2017-09-19 17:32] SoftwareAndOutsourcing opened #437 "Conditional import with Angular 4"
Hi,

I have been using a plain JavaScript library which uses DOM with my Angular 2 Universal project using this solution https://github.com/angular/universal-starter/issues/137#issuecomment-236643879 to import it only in the browser environment.

However I'm migrating to v4, and `isBrowser` boolean has been replaced by `isPlatformBrowser` method, which requires  `PLATFORM_ID` to be injected in the

[2017-09-19 17:51] SoftwareAndOutsourcing commented on #437
BTW, the current `README.md` file suggests to use `import * as isBrowser from 'is-browser';`, but seems this is not part of the API.

[2017-09-19 20:06] Toxicable commented on #437
You cant use dynamic imports in Angular when using AOT since it wont be statically analyzable.
Most project have a separate Server module, example here: https://github.com/angular/universal-starter/blob/master/cli/src/app/app.server.module.ts

[2017-09-19 20:24] SoftwareAndOutsourcing commented on #437
Seems the import works when I do it in browser-app.module.ts (I'm using the webpack starter), but the issue is that I need the import to be available in a different module. Is that possible? I can work without AOT if needed.

[2017-09-20 00:15] kalyan1102 commented on #432
@Toxicable thanks a lot. This helps

[2017-09-20 00:15] #432 closed

[2017-09-20 07:23] amitjain28 opened #439 "angular 2.1.2 angular universal + flickers on browser"
when bootstraping at client side since the UI is rendered twice, 1 at server-side and 1 at client-side.
Also it is is showing white flash while flickering

Can anyone help?

[2017-09-20 18:53] Scipionh opened #440 "Rendering doesn't wait for async call with the angular-cli version"
I have just done two versions of the project, one using the webpack version, and one using the cli version.

I didn't have any troubles with the webpack version. Regarding the cli version though, the async call in the `ngOnInit ` of one of my component isn't waited, and the rendering happens without the content it fetches.
Universal waits for all the calls tracked by zone.js to finish before doing

[2017-09-21 00:43] Jamie452 commented on #310
I'm having a similar error while trying to implement ng-bootstrap's ngbDropdown - fails with error:

[code]

Is there a solution to this?

[2017-09-22 10:46] mauris commented on #401
`webpack-node-externals` doesn't seem to fix this issue. I still can replicate the error.

[2017-09-22 11:20] mauris commented on #401
Looking at https://github.com/alxhub/angular/blob/e73acc6f3023069a1c43605464bad377158bda7c/packages/platform-server/src/http.ts

It seems like we also need to implement our own `XhrFactory` and `BrowserXhr` that creates an instance of xhr2 for XMLHttpRequest on server-side.

[2017-09-22 12:47] mauris commented on #401
Upon further investigation, this should have been covered by an import of `ServerModule` from `@angular/platform-server` in the server's app module. :/ I'm still facing the problem

[2017-09-22 20:13] MarkPieszak commented on #439
Are you doing an Http call?
Are both your withTransitions providing the same `appId`?

Lastly, try adding `initialNavigation: 'enabled'` to your RouterModule options.

[code]

[2017-09-22 20:28] MarkPieszak commented on #125
Hey we've updated this starter to include a `CLI` and a standalone webpack example using the latest `@angular/platform-server` that's been moved into Core. Closing this out since it's relating to the previous version, angular2-universal, but feel free to open a new issue if there's still an issue with the new version! Thanks.

[2017-09-22 20:28] #125 closed

[2017-09-22 20:29] MarkPieszak commented on #134
Hey we've updated this starter to include a `CLI` and a standalone webpack example using the latest `@angular/platform-server` that's been moved into Core. Closing this out since it's relating to the previous version, angular2-universal, but feel free to open a new issue if there's still an issue with the new version! Thanks.

[2017-09-22 20:29] #134 closed

[2017-09-22 20:29] MarkPieszak commented on #175
Hey we've updated this starter to include a `CLI` and a standalone webpack example using the latest `@angular/platform-server` that's been moved into Core. Closing this out since it's relating to the previous version, angular2-universal, but feel free to open a new issue if there's still an issue with the new version! Thanks.

[2017-09-22 20:29] #175 closed

[2017-09-22 20:29] #190 closed

[2017-09-22 20:30] #193 closed

[2017-09-22 20:30] #202 closed

[2017-09-22 20:30] #217 closed

[2017-09-22 20:30] #218 closed

[2017-09-22 20:30] #227 closed

[2017-09-22 20:30] #236 closed

[2017-09-22 20:31] #237 closed

[2017-09-22 20:31] #246 closed

[2017-09-22 20:31] #251 closed

[2017-09-22 20:31] MarkPieszak commented on #257
Hey we've updated this starter to include a `CLI` and a standalone webpack example using the latest `@angular/platform-server` that's been moved into Core. Closing this out since it's relating to the previous version, angular2-universal, but feel free to open a new issue if there's still an issue with the new version! Thanks.

[2017-09-22 20:31] #257 closed

[2017-09-22 20:31] #259 closed

[2017-09-22 20:32] MarkPieszak commented on #270
It should be able to work with Material now without too many problems @m98
We can open an issue in the Material repo if there's still something not working.

[2017-09-22 20:32] #270 closed

[2017-09-22 20:32] #277 closed

[2017-09-22 20:32] #282 closed

[2017-09-22 20:33] #287 closed

[2017-09-22 20:34] #292 closed

[2017-09-22 20:34] #294 closed

[2017-09-22 20:34] #297 closed

[2017-09-22 20:34] #298 closed

[2017-09-22 20:34] #307 closed

[2017-09-22 20:35] MarkPieszak commented on #310
@Jamie452 Can you open a new specific issue with what you're doing and how we could try and replicate it? Closing this one out as it's very old and so much has updated since the OP. Thanks!

[2017-09-22 20:35] #310 closed

[2017-09-22 20:35] #311 closed

[2017-09-22 20:35] #312 closed

[2017-09-22 20:35] #313 closed

[2017-09-22 20:36] MarkPieszak commented on #314
Hey we've updated this starter to include a `CLI` and a standalone webpack example using the latest `@angular/platform-server` that's been moved into Core. Closing this out since it's relating to the previous version, angular2-universal, but feel free to open a new issue if there's still an issue with the new version! Thanks.

[2017-09-22 20:36] #314 closed

[2017-09-22 20:36] #315 closed

[2017-09-22 20:36] #320 closed

[2017-09-22 20:36] MarkPieszak commented on #329
Hey we've updated this starter to include a `CLI` and a standalone webpack example using the latest `@angular/platform-server` that's been moved into Core. Closing this out since it's relating to the previous version, angular2-universal, but feel free to open a new issue if there's still an issue with the new version! Thanks.

[2017-09-22 20:36] #329 closed

[2017-09-22 20:36] #330 closed

[2017-09-22 20:37] MarkPieszak commented on #331
Hey we've updated this starter to include a `CLI` and a standalone webpack example using the latest `@angular/platform-server` that's been moved into Core. Closing this out since it's relating to the previous version, angular2-universal, but feel free to open a new issue if there's still an issue with the new version! Thanks.

[2017-09-22 20:37] #331 closed

[2017-09-22 20:37] #332 closed

[2017-09-22 20:37] #333 closed

[2017-09-22 20:38] #338 closed

[2017-09-22 20:38] #339 closed

[2017-09-22 20:38] MarkPieszak commented on #340
You can use the `Meta` service directly and update whatever you need @SumanSingh4

[2017-09-22 20:38] #340 closed

[2017-09-22 20:39] #341 closed

[2017-09-22 20:39] #343 closed

[2017-09-22 20:39] MarkPieszak commented on #349
Hey we've updated this starter to include a `CLI` and a standalone webpack example using the latest `@angular/platform-server` that's been moved into Core. Closing this out since it's relating to the previous version, angular2-universal, but feel free to open a new issue if there's still an issue with the new version! Thanks.

[2017-09-22 20:39] #349 closed

[2017-09-22 20:39] #350 closed

[2017-09-22 20:39] #352 closed

[2017-09-22 20:39] MarkPieszak commented on #353
Hey we've updated this starter to include a `CLI` and a standalone webpack example using the latest `@angular/platform-server` that's been moved into Core. Closing this out since it's relating to the previous version, angular2-universal, but feel free to open a new issue if there's still an issue with the new version! Thanks.

[2017-09-22 20:39] #353 closed

[2017-09-22 20:40] #354 closed

[2017-09-22 20:40] #355 closed

[2017-09-22 20:40] MarkPieszak commented on #362
Hey we've updated this starter to include a `CLI` and a standalone webpack example using the latest `@angular/platform-server` that's been moved into Core. Closing this out since it's relating to the previous version, angular2-universal, but feel free to open a new issue if there's still an issue with the new version! Thanks.

[2017-09-22 20:40] #362 closed

[2017-09-22 20:40] MarkPieszak commented on #364
Hey we've updated this starter to include a `CLI` and a standalone webpack example using the latest `@angular/platform-server` that's been moved into Core. Closing this out since it's relating to the previous version, angular2-universal, but feel free to open a new issue if there's still an issue with the new version! Thanks.

[2017-09-22 20:40] #364 closed

[2017-09-22 20:40] MarkPieszak commented on #366
You can update Meta tags directly with the `Meta` service provided with Angular now.

[2017-09-22 20:40] #366 closed

[2017-09-22 20:41] MarkPieszak commented on #367
Hey we've updated this starter to include a `CLI` and a standalone webpack example using the latest `@angular/platform-server` that's been moved into Core. Closing this out since it's relating to the previous version, angular2-universal, but feel free to open a new issue if there's still an issue with the new version! Thanks.

[2017-09-22 20:41] #367 closed

[2017-09-22 20:41] MarkPieszak commented on #369
Hey we've updated this starter to include a `CLI` example now 👍

[2017-09-22 20:41] #369 closed

[2017-09-22 20:41] #370 closed

[2017-09-22 20:41] #371 closed

[2017-09-22 20:41] #373 closed

[2017-09-22 20:42] #374 closed

[2017-09-22 20:42] #375 closed

[2017-09-22 20:42] MarkPieszak commented on #376
Hey we've updated this starter to include a `CLI` and a standalone webpack example using the latest `@angular/platform-server` that's been moved into Core. Closing this out since it's relating to the previous version, angular2-universal, but feel free to open a new issue if there's still an issue with the new version! Thanks.

[2017-09-22 20:42] #376 closed

[2017-09-22 20:42] #377 closed

[2017-09-22 20:42] #379 closed

[2017-09-22 20:42] MarkPieszak commented on #380
Hey we've updated this starter to include a `CLI` and a standalone webpack example using the latest `@angular/platform-server` that's been moved into Core. Closing this out since it's relating to the previous version, angular2-universal, but feel free to open a new issue if there's still an issue with the new version! Thanks.

[2017-09-22 20:42] #380 closed

[2017-09-22 20:43] #381 closed

[2017-09-22 20:43] #383 closed

[2017-09-22 20:43] #384 closed

[2017-09-22 20:43] #386 closed

[2017-09-22 20:43] #387 closed

[2017-09-22 20:43] MarkPieszak commented on #388
Hey we've updated this starter to include a `CLI` and a standalone webpack example using the latest `@angular/platform-server` that's been moved into Core. Closing this out since it's relating to the previous version, angular2-universal, but feel free to open a new issue if there's still an issue with the new version! Thanks.

[2017-09-22 20:43] #388 closed

[2017-09-22 20:43] Toxicable commented on #414
StateTransfer has been merged into `@angular/platform-server`
https://github.com/angular/angular/commit/cfd9ca0d6f453decc154cc640351f5af67685510
It will be released in the next version

[2017-09-22 20:44] MarkPieszak commented on #389
You can use the `Meta` service provided by Angular now to change `<meta>` tags easily.

[2017-09-22 20:44] #389 closed

[2017-09-22 20:44] MarkPieszak commented on #390
Hey we've updated this starter to include a `CLI` and a standalone webpack example using the latest `@angular/platform-server` that's been moved into Core. Closing this out since it's relating to the previous version, angular2-universal, but feel free to open a new issue if there's still an issue with the new version! Thanks.

[2017-09-22 20:44] #390 closed

[2017-09-22 20:44] #393 closed

[2017-09-22 20:44] MarkPieszak commented on #394
Hey we've updated this starter to include a `CLI` and a standalone webpack example using the latest `@angular/platform-server` that's been moved into Core. Closing this out since it's relating to the previous version, angular2-universal, but feel free to open a new issue if there's still an issue with the new version! Thanks.

[2017-09-22 20:44] #394 closed

[2017-09-22 20:44] #395 closed

[2017-09-22 20:44] #398 closed

[2017-09-22 20:45] MarkPieszak commented on #399
Hey we've updated this starter to include a `CLI` and a standalone webpack example using the latest `@angular/platform-server` that's been moved into Core. Closing this out since it's relating to the previous version, angular2-universal, but feel free to open a new issue if there's still an issue with the new version! Thanks.

[2017-09-22 20:45] #399 closed

[2017-09-22 20:45] MarkPieszak commented on #400
Hey we've updated this starter to include a `CLI` and a standalone webpack example using the latest `@angular/platform-server` that's been moved into Core. Closing this out since it's relating to the previous version, angular2-universal, but feel free to open a new issue if there's still an issue with the new version! Thanks.

[2017-09-22 20:45] #400 closed

[2017-09-22 20:45] #402 closed

[2017-09-22 20:45] MarkPieszak commented on #403
Hey we've updated this starter to include a `CLI` and a standalone webpack example using the latest `@angular/platform-server` that's been moved into Core. Closing this out since it's relating to the previous version, angular2-universal, but feel free to open a new issue if there's still an issue with the new version! Thanks.

[2017-09-22 20:45] #403 closed

[2017-09-22 20:45] #404 closed

[2017-09-22 20:45] #408 closed

[2017-09-22 20:46] Toxicable commented on #440
It's been working in my won testing, could you provide a minimal reproduction for us?

[2017-09-22 20:46] #410 closed

[2017-09-22 20:46] MarkPieszak commented on #410
Hey we've updated this starter to include a `CLI` and a standalone webpack example using the latest `@angular/platform-server` that's been moved into Core. Closing this out since it's relating to the previous version, angular2-universal, but feel free to open a new issue if there's still an issue with the new version! Thanks.

[2017-09-22 20:48] MarkPieszak commented on #411
You're going to add the serialization functionality of Universal to certain routes of your existing express app, so that those routes, let's say `/products` runs Universal and returns that HTML to the browser.

[2017-09-22 20:48] #411 closed

[2017-09-22 20:48] #412 closed

[2017-09-22 20:49] MarkPieszak commented on #414
Yes for now you can use your own TransferState mechism, or wait until 5.0 to use the one built into Core. The webpack example here has an existing TransferState Http service you can use.

[2017-09-22 20:49] #414 closed

[2017-09-22 20:50] MarkPieszak commented on #423
Can you try to get `REQUEST` by putting `Injector` in your constructor dependencies, and grabbing REQUEST via `Injector.get(REQUEST)` ?

[2017-09-22 20:50] #423 closed

[2017-09-22 20:52] MarkPieszak commented on #420
It looks like you might of just setup the webpack loaders wrong for that, can you take a look at this comment here to set it up? https://github.com/angular/universal-starter/issues/320#issuecomment-269865804

[2017-09-22 20:52] #420 closed

[2017-09-22 20:55] MarkPieszak commented on #428
So besides other hackable ways of doing it, the easiest is basically setting up your `server.js` file in TypeScript, and having a webpack config to bundle it. In there you can set up `/.ts$/` files to use ts-loader, and make sure it grabs node_modules externals.

More information about this and most likely, updates to the CLI example, will be coming shortly to address these issues! 🍻

Here's an ex

[2017-09-22 21:00] MarkPieszak commented on #431
Are you using the CLI demo here?
If you have it set to scss in the angular-cli.json, there shouldn't be any problems. This looks like it's coming from something you're manually bundling up ?

Closing for now as SCSS is working with the repo.

[2017-09-22 21:00] #431 closed

[2017-09-22 21:03] MarkPieszak commented on #436
Do you have Http calls on that page?
You either need to setup the TransferState Http, or you need to setup your RouterModule options.

[code]

[2017-09-22 21:04] MarkPieszak commented on #437
Can you use the isPlatformBrowser() method from inside Angular and give it a shot?

[code]

[2017-09-22 21:05] MarkPieszak commented on #440
How are you doing your async call, with Http or HttpClient?

[2017-09-22 21:17] m98 commented on #270
@MarkPieszak thanks

I am getting warnings with some of material components (progress bar is one of them)

I guess I need to open an issue on Material repo.

The serer side rendering works, but Node still logs those warnings.

[2017-09-22 21:20] MarkPieszak commented on #270
Yeah open it up there if you can, it's most likely just something in the Component that needs updating on the Material-end. Thanks!

[2017-09-22 23:18] #428 closed

[2017-09-23 00:41] jackspaniel commented on #373
So is the HTTPInterceptor method posted by ozknemoy the preferred solution?

[2017-09-23 00:44] Toxicable commented on #373
@jackspaniel Angular now has HttpClient which can do HttpInterceptors
see more here https://angular.io/guide/http

[2017-09-23 00:55] jackspaniel commented on #373
Right I know it has HttpInterceptors. But it still can't do auth out of the box. So I guess the method above is the best solution.

FYI - most of our page require a logged-in user, which we identify by browser cookies. So we have to replicate that when the angular template is run on the server-side.

[2017-09-23 01:23] MarkPieszak commented on #373
We can make a quick example of it in some Docs markdown file in angular/universal soon.
But yes basically you want to grab what you need from the Request object and put it inside of an http interceptor and voila you should be all set! 👍

[2017-09-23 04:06] CaerusKaru commented on #426
I think the problem is here:
https://github.com/angular/universal-starter/blob/393879d29dc906e844e167e698f4f923c0c087f2/cli/server.ts#L39

Since the renderer is relying on the index.html in `src`, it's not loading any of the styles that get built into the final static `index.html` by the CLI. It should be changed to this:
[code]

[2017-09-23 04:10] CaerusKaru commented on #426
It looks like this was unintentional though, because the proper template is loaded, but not used:
https://github.com/angular/universal-starter/blob/393879d29dc906e844e167e698f4f923c0c087f2/cli/server.ts#L20

[2017-09-23 05:45] rluberda commented on #426
Not sure if this help you.
Today I worked on build:dynamic & serve:dynamic option.
Out of the box when I run it I noticed html without style/js.
After reviewing some code I figured out that webpack portion is not finished.

Below is quick solution with 2 plugins.

[code]

Above script duplicate dist/browser/index.html head and create new index.html file inside dist
Then change server.ts to point t

[2017-09-23 15:56] #426 closed

[2017-09-23 15:56] MarkPieszak commented on #426
@CaerusKaru is spot on, @rluberda all you need is the update in here that he mentioned: https://github.com/angular/universal-starter/commit/df3159406e40e3963c1e315346b1d50f9009f57b

Get latest for the starter also, a few other good updates were put in this morning.

[2017-09-24 13:08] zmnv opened #447 "HMR for fast update"
Hello guys, I'm a designer / low front-end.)))))))))

Can you please describe how to include webpack hmr in universal-starter repository (custom-webpack ?)?

[2017-09-24 13:43] Lomand opened #448 "HttpClient does not work in Lazy Loaded Modules"
#### What are the steps to reproduce your issue?
1. Clone `universal-starter` repo
2. Install CLI version of starter
3. Add `HttpClient ` module to `lazy.module` imports;
4. Use HttpClient in lazy loaded component, ex:
[code]
Build and serve the app with `yarn build:dynamic` and `yarn serve:dynamic`

#### What happens?
When I'm opening `/lazy` route, I have
[code]
in the server console. This does

[2017-09-24 17:15] alex-masl commented on #440
Strange, but for me it did not work for fresh Angular project (i did few modifications to render app on server and async load some content using Http).
First I was playing with different version of cli/zone.
But then undo all my playing with versions and npm re-install all dependencies again keeping versions given by "ng new".
And after reinstall it worked.

[2017-09-24 21:25] naveedahmed1 commented on #175
@MarkPieszak  I think the issue still exists. The `{initialNavigation: 'enabled'}` solution works only when we are not using Lazy Loading. When using Lazy Loading `{initialNavigation: 'enabled'}` prevents flickering on root url only whereas lazy loaded pages still flicker.

[2017-09-25 00:07] iamonuwa commented on #426
@MarkPieszak thank you for prompt fix. Styles has been fixed but JS bundles are not rendering.

[2017-09-25 01:23] MarkPieszak commented on #426
Which JS Bundles aren't rendering?
Are these JS files in an html file?

[2017-09-25 02:25] MarkPieszak commented on #175
Can you open up a new issue with some quick repro instructions? Just so we can differentiate it from this old issue.

[2017-09-25 02:51] iamonuwa commented on #426
@MarkPieszak the angular bundle scripts. None of them is loading...

[2017-09-25 12:25] MarkPieszak commented on #426
The regular script bundle should be in the index file in dist/browser/index.HTML, they are done the normal angular-CLI way.

[2017-09-25 15:46] Scipionh opened #449 "What are the needs of having a server/browser directory in the output"
I have recently tested the last changes you've done to the cli, and I wonder why did you change it by splitting the dist between a browser and a server folder ? Only the browser contains the index.html. But what is the logic between these two ?

I am not familiar at all with the universal app, so I am pretty much a very beginner in this domain

[2017-09-25 17:50] iamonuwa commented on #426
@Toxicable I am not seeing the the scripts bundle on the index.html page when I run node dist/server

This is the bottom section of the generated html page.
There is no scripts there.
![image](https://user-images.githubusercontent.com/6551094/30822906-5b507784-a222-11e7-9098-a528425420dd.png)

[2017-09-25 17:51] iamonuwa commented on #426
@MarkPieszak I am seeing them on the browser when I load with `cd dist/browser && http-server`, it works. But when I run `node dist/server` I get the error

[2017-09-25 18:00] MarkPieszak commented on #449
One is your sever bundle, that sets up node/etc. separating them makes it easier to keep static files js/css separate and available in the browser portion. You wouldn't want someone to be able to see your server side node code after all 😀

[2017-09-25 22:40] naveedahmed1 commented on #175
@MarkPieszak I think there will always be some flickering in cases similar to below code:

[code]

[code]

And I think the reason is, even when the SSR send response with user details, when this component initializes it sets `userDetails` to `null` which removes `user-details` from `dom`, and when `userService` returns users details (even from cache) it will be added to `dom` again. If the flicker

[2017-09-26 05:26] flauc opened #450 "CLI Version"
Thank you for the great starter 👍

I must be missing something obvious, but I can't seem to figure out how to run both server and client in development mode?

[2017-09-26 06:05] Scipionh commented on #449
I have actually modified the server.ts to chose between SPA behavior and static behavior at runtime (using the build:dynamic)

[code]

Does it make sense to do a similar thing for the static files ?
aka:
[code]

[2017-09-26 10:55] Nekor4 opened #451 "Static rendered app having page source only on the main route"
Hello,
Im using cli version of this repo. After static build, im serving dist/browser folder using http-server. Site is working well but when im trying to see the source of page, source appearing only on the '/' route on other routes source is empty. Which is obvious cause there is only one html file in dist/browser. So my question is how can i render files for ohter routes?

[2017-09-26 12:22] peterpeterparker opened #452 "cli: Error: No provider for InjectionToken REQUEST!"
Hi,

I updated my project to the current `cli` state of this `universal-starter` project and I'm facing following error while running `npm run build:static`:

I tried the solution described by @iliasbhal  in https://github.com/angular/universal-starter/issues/271 but still facing same error.

I tried to use `Injector.get` without success too like described by @MarkPieszak  in https://github.com/an

[2017-09-26 12:57] peterpeterparker commented on #452
Ok so it really just look like that I'm too dumb and that `REQUEST` can't be use when using `static`, what does make sense now when I'm think about it ;) Could someone just confirm and I'll then close this issue (wich is not one)?

[2017-09-26 13:39] BatsShadow commented on #440
This sounds related: https://github.com/angular/universal/issues/736

[2017-09-26 15:19] josemontiel commented on #433
@Scipionh what did you do to solve this issue?

[2017-09-26 16:15] saoron opened #453 "Firebase dynamic hosting"
Hi,
Any thoughts on how to integrate this with Firebase dynamic hosting?

[2017-09-26 17:16] peterpeterparker commented on #452
Ok so it really just look like that I'm too dumb and that `REQUEST` can't be use when using `static`, what does make sense now when I'm think about it ;) When I use cli `dynamic` I could access the request.

[2017-09-26 17:16] #452 closed

[2017-09-26 17:53] peterpeterparker opened #454 "[Feature] cli: add a app.browser.module.ts"
Hi,

I would suggest a feature request.

I was running the cli dynamically (`npm run build:dynamic` and then `npm run serve:dynamic`) and was then facing the following error on the server side:

Of course this happens because my `app.module.ts` was containing:

   import 'hammerjs';

To solve the issue in `main.ts` I bootstrap now a new file `app.browser.module.ts` I have created, which extend `ap

[2017-09-26 18:21] Toxicable commented on #451
Right now we do only support rendering at the route `/` you can see this here
https://github.com/angular/universal-starter/blob/master/cli/prerender.ts#L26
However we do have some tools in mind which could allow us to grab the routes out of an application and render out all of those routes.
But meanwhile you could wrap the renderModuleFactory and call it on your manualy added static routes, for ex

[2017-09-26 18:26] Toxicable commented on #450
Right now we only show using Universal in production mode since your a application should work example the same on server as browser, is there something you specifically want to develop focused at the server environment?
While you could do something like `ng build --watch` which will keep building to your dist folder, it's not the best experience.

[2017-09-26 23:23] rlavoie opened #455 "Handle 404s"
There should be a way to send responses with HTTP status 404.

[2017-09-27 06:31] vikerman commented on #448
Does the Lazy loaded module have the HttpClient issue when you also load HttpModule in the main non-laze loaded server app module? Will investigate the issue - But wanted to see if the above could be a workaround. This sounds like some module configuration issue.

[2017-09-27 06:37] Toxicable commented on #448
@vikerman The issue is with the value of `XhrFactory`
If you provide `HttpCientModule` in the `AppModule` and `LazyModule` or just in the `LazyModule` then `XhrFactory` gives you `BrowserXhr`.
Only if you provide `XhrFactory` in the `AppModule` alone will you get `ServerModule` from `XhrFactory`

[2017-09-27 09:29] #451 closed

[2017-09-27 09:32] Nekor4 opened #456 "Speed up page loading using node"
Hello,
is there any solutions to speed up page loading using node dynamic render? Something like cache rendered html to not render it twice?

[2017-09-27 11:03] flauc commented on #450
Well, I don't necessarily need the server to refresh but I need a way to access my API on the client, and for that I need the server lifted, but I usually call the API with an url like this '/api/something', so the app assumes it should go to 'localhost:4200/api/something' and I can't figure out how to do that. Do I need a proxy pass setup?

[2017-09-27 21:30] Toxicable commented on #450
Yeah it sounds like proxy is the method you want if in production your Angular app will sit on the same host as your backend.
See https://github.com/angular/angular-cli/wiki/stories-proxy
for info on how to do that

[2017-09-28 02:14] stewwan commented on #454
import hammer on main.ts

[2017-09-28 05:29] peterpeterparker commented on #454
@stewwan you are right, thx. why searching complicated when you could be solve easily

[2017-09-28 05:29] #454 closed

[2017-09-28 07:38] stewwan opened #457 "how to make a query using firebase?"
[code]
running this code the page take a while and respond with ERR_RESPONSE until I hit refresh then the page loads fine.

the server prints the `ok` from `console.log`, but not render the page on first request.

I'm using the CLI starter

any thoughts?

[2017-09-28 07:44] Toxicable commented on #457
Angular waits for all async operations to complete before it renders.
`firebase` opens and holds open a websocket connection and for Angular to be able to render your application on the server this websocket connection must close, otherwise it will never render.
AngualrFire2 is working to support universal but right now `firebase` by itself does not

[2017-09-28 07:45] Toxicable commented on #456
I would suggest using a cache for Express.
I've discuses with others and we've concluded that it shouldn't be Universal's responsibility to handle caching.

[2017-09-28 07:47] Toxicable commented on #447
HMR dosen't work too well with Angular so with the issues it has you end up saving more time just using normal auto reloading

[2017-09-28 07:47] stewwan commented on #457
ok thanks for the fast reply.

any idea for a workaround? like a http request between app and firebase..  would that work?

[2017-09-28 07:48] Toxicable commented on #457
An Http request would work fine yeah

[2017-09-28 07:50] #457 closed

[2017-09-28 07:50] stewwan commented on #457
ok many Thanks I will try!

[2017-09-28 07:53] flauc commented on #450
Thank you for pointing me in the right direction 👍

[2017-09-28 07:53] #450 closed

[2017-09-28 13:00] MarkPieszak commented on #450
Just make sure in the end (when going to prod) you pass a full URL, as the proxy is mainly there for development. Without the full URL you will get errors during SSR since we need an absolute URL when making requests there.

[2017-09-28 17:12] stewwan opened #458 "question on server.ts"
hello, this project is awesome

I need to know if there's any way to import extra stuff into the [`server.ts`](https://github.com/angular/universal-starter/blob/master/cli/server.ts) file. I needed to import a configuration file there, is there any way? or do I actually need to put everything in the same file?

[2017-09-28 17:40] naveedahmed1 commented on #439
@MarkPieszak is there any way to avoid flickering for cases similar to:

[code]

[code]

When the component initializes on client side it sets `userDetails` to `null` which removes `user-details` from `dom`, and when `userService` returns users details (even from cache) it will be added back to `dom` again.

[2017-09-28 17:59] stewwan commented on #448
I don't quite understand, is there a way out of this case? I need to do a simple GET on the server.

[2017-09-28 18:17] stewwan commented on #7
+1

[2017-09-28 18:20] stewwan commented on #7
@Bhushan001 your repository has been deleted.. please share your result with us. How did you get HTTP to work?

[2017-09-28 18:22] Toxicable commented on #7
If you have an issue with http then I'd suggest opening a new issue.
This one has been closed for a long time now

[2017-09-28 20:22] stewwan commented on #7
ok I solved like you said in gitter, just importing HttpClientModule once in app.module

thanks

[2017-09-29 06:00] laconstituante opened #459 "Could not build for static or dynamic extractedChunk.getNumberOfModules"
The app runs fine with ng serve, but when one of the following commands are executed:
npm run build:dynamic && npm run serve:dynamic
or
npm run build:static && npm run serve:static

I get this error
TypeError: extractedChunk.getNumberOfModules is not a function
    at ExtractTextPlugin.<anonymous> (C:\xampp\htdocs\universal-static\cli\node_modules\extract-text-webpack-plugin\dist\index.js:246:32)

[2017-09-29 06:21] #459 closed

[2017-09-29 09:49] Lomand commented on #448
Is there any hot-fix for this issue?

[2017-09-29 15:27] stewwan commented on #448
@lomand import httpClientModule just once on app.module (non laze)

[2017-09-29 19:59] SoftwareAndOutsourcing commented on #437
That worked, thanks. Seems it also works with AOT, looking at the source of the AOT file I can see the plain JavaScript library source I load with `require`. I even did a small test with the cli version, and works fine.

@Toxicable are you sure you can't make dynamic imports with AOT? I can create a repo with the demo if you want to take a look.

[2017-09-29 20:05] Toxicable commented on #437
@SoftwareAndOutsourcing I am very much sure, imports need to be static otherwise the compiler wont know if they're being imported or not

[2017-09-29 23:42] krats opened #460 "importing webpack compiled output into existing node server"
I want to import the output of webpack into an existing nodejs deployment. i tried exporting AppServerModule from server.ts file so that it can be required by existing nodejs deployment but i keep getting No NgModule metadata found for 'AppServerModule'

[2017-10-01 21:12] krats commented on #460
I was trying to export AppServerModule from server.ts and import it into an existing node server. The problem with this is that webpack strips NgModule decorators. I found a workaround by exporting ngExpressEngine instead.

Change  your server.ts in the universal-starter cli to the following

`import 'zone.js/dist/zone-node';
import 'reflect-metadata';
import { enableProdMode } from '@angular/core

[2017-10-01 21:14] krats commented on #460
Closing the issue

[2017-10-01 21:14] #460 closed

[2017-10-02 18:09] SoftwareAndOutsourcing commented on #437
@Toxicable I created a demo at https://github.com/SoftwareAndOutsourcing/universal-starter-require-demo, could you take a look? Lazy loading is working for me both with cli and webpack versions.

[2017-10-03 21:26] dimitarrusev commented on #440
I've noticed similar behavior recently. Async calls inside route resolves are not waited to complete on the server. Using HttpClient, Angular version: 4.4.3.

[2017-10-04 13:40] Scipionh commented on #395
Would that be feasible to have a similar solution for the server side ?

[2017-10-07 13:58] MrCroft opened #462 "Error: StaticInjectorError[{provide:ResourceLoader, useClass:FileLoader}]: 'deps' required"
Steps to reproduce:
1. Get the [cli folder](https://github.com/angular/universal-starter/tree/master/cli) in this repo
2. Open package.json and replace all Angular versions with "5.0.0-rc.1"
3. I've also replaced the CLI version with "1.4.5" (don't know if it matters)
4. Run `npm run build:dynamic` (ignore the `prerender.ts` **error**)
5. Run `npm run serve:dynamic`

`Error: StaticInjectorError[{p

[2017-10-07 17:10] MarkPieszak commented on #462
If you want to use 5.x you have anything from `@nguniversal` To version 5.x as well. NgModule factory-loaded and express-engine if you're using that as well. Hope that helps!

[2017-10-07 17:12] MarkPieszak commented on #458
It's a typical Node server so you can do things however you'd like, in separate files / folders, whatever 👍

[2017-10-07 17:12] #458 closed

[2017-10-07 17:14] MarkPieszak commented on #456
Yes, you could create and handle a cache however you'd like, look into Node cacheing to get so,e ideas on how to achieve it. It's outside of the scope here for the starter as some might not want one.

[2017-10-07 17:14] #456 closed

[2017-10-07 17:15] MarkPieszak commented on #453
Check out @davideast and his work here: https://github.com/davideast/angular-universal-express-firebase

[2017-10-07 17:15] #453 closed

[2017-10-07 17:16] MarkPieszak commented on #449
You wouldn't need that stuff for the static files, those you always want served up!

[2017-10-07 17:16] #449 closed

[2017-10-07 17:18] #439 closed

[2017-10-07 17:20] #440 closed

[2017-10-07 17:20] #436 closed

[2017-10-07 18:44] Toxicable commented on #462
@MarkPieszak This is actually a bug, we forgot to upgrade the module loader, but there's a PR to fix it here https://github.com/angular/universal/pull/808

[2017-10-07 21:42] MrCroft commented on #462
@MarkPieszak just replaced `@nguniversal/*: 1.0.0-beta.3` with `5.0.0-beta.1` and now it works (other than a build error which should be solved by the PR @Toxicable mentioned).

Initially, I didn't want to go with `@nguniversal/*:1.0.0-beta.3` like the updated example since a few days ago. But I'm used to checking what the available `dist-tags` are on npm (and 5.x used to have a tag). Now it only

[2017-10-08 06:07] rhizohm opened #463 "Dist folder error"
I think there is a bug on line 17 of server.ts. If I download the sample and built it and then try to run the server.js that is rendered, it fails because the dist folder is already in process.cwd(). Changing the line to

[code]
fixes the issue and things work as expected!

[2017-10-08 06:11] rhizohm opened #464 "Why is the angular cli version so old?"
Just curious why the version of the @angularcli is not current? Everything else in the sample uses the latest/greatest but that...

[2017-10-08 06:14] Toxicable commented on #464
https://github.com/angular/universal-starter/blob/master/cli/package.json#L49
This is the latest version.
The `^` means that version 1.x.y will be installed

[2017-10-08 06:23] MarkPieszak commented on #464
Yeah anything 1.3 and over should work as that's when it was all first introduced.

[2017-10-08 06:23] #464 closed

[2017-10-10 00:50] westdabestdb opened #465 "No provider for t!"
I tried to get data from server.ts using Http and service from my angular component, but every time I tried, I got this error "**ERROR Error: Uncaught (in promise): Error: No provider for t! Error: No provider for t!**". Any fix ?

[2017-10-10 00:56] MarkPieszak commented on #465
Are you trying to use Http (angulars Http) in server.ts, because that won't work.
Can you make a regular XHR call, and just make sure you don't renderModuleFactory until that call is done.

[2017-10-10 01:18] westdabestdb commented on #465
I was trying to use angular's Http in my app.service.ts, and I tried regular XHR in my service too, still same error

[2017-10-10 01:20] MarkPieszak commented on #465
Is this when you're doing an ng serve ?
If it's from running universal, try running serve, it sounds like you might of forgot to add something to your providers array.

[2017-10-10 01:22] westdabestdb commented on #465
i use "npm run build:dynamic && npm run serve:dynamic", let me check my providers but my service is included in providers

[2017-10-10 01:43] westdabestdb commented on #465
My bad!! I forgot to import HttpModule and I had an error in my service. Thank you @MarkPieszak !!

[2017-10-10 01:43] #465 closed

[2017-10-10 12:32] CSchulz opened #466 "Use preboot with cli universal starter"
Added the modules like described in the readme of preboot but failing with following error:

Trying to run with `npm run build:static && npm run serve:static`

Example can be find here

https://github.com/CSchulz/universal-starter

[2017-10-10 12:57] CSchulz commented on #466
Seems to be an issue with the webpack file https://github.com/angular/preboot/issues/39#issuecomment-335304249 .

The new preboot version (5.1.4) helps with browser module import in server module.

[2017-10-10 12:57] #466 closed

[2017-10-10 13:51] #463 closed

[2017-10-10 13:51] MarkPieszak commented on #463
Thank you @rhizohm ! Fixed via  936585d

[2017-10-10 13:57] Ovidiu-S commented on #439
I am having the same problem.
I am doing an http call, `initialNavigation: 'enabled'` is set.
Please provide more info on `withTransitions`

[2017-10-10 17:00] mathieubruguier opened #467 "ng-bootstrap's ngbDropdown throws an error when used with Universal"
Whenever using ng-bootstrap's ngbDropdown element it crashes Universal with the following error message:

[code]

This is very similar to [#310](https://github.com/angular/universal-starter/issues/310), so I would assume it has to do with meta tags.
When the ngbDropdown element is removed from the code, everything works just fine.

Any idea what can be done to fix this?

[2017-10-10 21:06] #467 closed

[2017-10-10 23:49] Toxicable commented on #462
@MrCroft See https://github.com/angular/universal/issues/821 about the dist-tags

[2017-10-11 08:44] mbero opened #468 "<router-outlet> tag content not rendered"
Hello

I'm using universal-starter project configuration in my Angular4 application. Everything is working pretty smooth beside one thing:
When i'm using f.e **_curl http://localhost:3000/homepage_**
I get whole HTML rendered by server side.

But when i type :
**_curl http://localhost:3000/somesubpage/someid/_**

in places which i use routing and tag `<router-outlet>` i didnt get properly rendered

[2017-10-11 15:58] vikerman commented on #462
Sorry for the confusion. Can this be closed?

[2017-10-11 18:17] MrCroft commented on #462
@vikerman If you mean from my point of view, yes - of course. This issue was just about the error thrown because I was using Angular 5 with nguniversal 1.0.0-beta.3 packages instead of 5.x.
Works fine with 5.x

I only thought that you guys wanted to wait for [angular/universal#808](https://github.com/angular/universal/pull/808) to be in the next release, before closing this one also. Only because

[2017-10-11 20:13] Toxicable commented on #462
The original issue has been fixed via https://github.com/angular/universal/commit/9136967378d53b9f25842c87b6a16ed92e16b539
If you still have any other issues feel free to open another issue specifically about it

[2017-10-12 00:32] jongood01 commented on #468
I have the same issue and can't figure out what is causing it. If I create a new component in the unaltered universal-starter/cli project it works fine (tested with external template files and sass files and both work fine). But in my own project the route is not rendered only content outside the route-outlet. There are no errors during compile or on the node server once it's running.

[2017-10-12 02:21] jongood01 commented on #468
I have solved the issue on my project it was a custom route reuse strategy we were using. For debugging your case I recommend branching your project and  deleting everything for a simple component that works. Then add the pieces back in until it works.

[2017-10-12 06:00] rhizohm opened #469 "How do I configure some routes to bypass the server and render purely on the client?"
Hi - I really want to use universal for some of an application, but then completely bypass the server for other routes and have the client do everything.

If I use the static prerender method, it seems like if I don't include a route in the static.paths.js file, the route will get resolved by the client, but the LocationStrategy seems to fail if the URL is called directly.

If I use the dynamic me

[2017-10-12 06:35] mbero commented on #468
jongood01 : Thanks for answer - i will let you know if (and how) i solve this

[2017-10-12 10:07] khaled-ansary opened #470 "Getting an error in server.js file"
Hello,
I am getting an error in `server.js` file.  I am not able to trace why I am getting this error.
I use the following command to build and run my project.
`npm run build:dynamic && npm run serve:dynamic`

It build successfully but I getting the following error in `server.js` file

[code]

[2017-10-12 12:31] Achrafxxx opened #471 "Broken URL in README.md"
the README.md file located into: https://github.com/angular/universal-starter/tree/master/cli
has the url below

should be updated to :
https://github.com/angular/universal/tree/master/modules/module-map-ngfactory-loader

[2017-10-12 14:35] MarkPieszak commented on #470
This isn't from the base repo here right, is this your application put inside the example here?

It looks like a third party library causing issues, you'll have to start by going to that line in the server.js bundle and try to investigate which library is causing it. From there you'll have to use Webpack to swap that library out for a blank or mocked version for the server render.

Let us know!

[2017-10-12 18:05] MarkPieszak commented on #469
For dynamic, just set certain routes to go through the res.render() that's currently for * routes. And for * routes (after the more specific ones being above it) just send the res.send your dist browser index.html similar to how we have for static files and you'll be all set.

[2017-10-12 19:35] jongood01 commented on #468
Specifically the issue was a simple console.debug() in the custom route reuse strategy - node doesn't have the debug method. Look out for apis like this that don't exist server-side.

[2017-10-12 20:25] rhizohm commented on #469
Nice! Got it!  For anyone doing this, here's the code I used for routing requests to the client:
[code]

[2017-10-12 20:25] #469 closed

[2017-10-13 03:02] #471 closed

[2017-10-13 08:13] khaled-ansary commented on #470
Yes, I used the example  `universal-starter` repo and you are right that it is a third party library causing issue. I tried to run it using `gulp` and able to trace out the error. The error causing for `PrimeNg` library. I am getting now the following error ..

[code]
I have found the same issue in `PrimeNg` repo [https://github.com/primefaces/primeng/issues/2839](url) that can be solved by deleti

[2017-10-13 15:50] khaled-ansary opened #472 "ReferenceError: document is not defined"
I am getting an error for `custom-event` library which may be use for `cross browser` support.  Angular universal does not support `DOM` related code. So how can I solve this problem? The error is following..
[code]
The related question found in `https://stackoverflow.com/questions/45581696/angular-4-server-side-rendering-with-node-js-referenceerror-document-is-not-de` but still unsolved..

[2017-10-13 18:32] rquantz commented on #317
Why is this issue closed? It's nuts that this is considered acceptable.

[2017-10-14 01:23] gdi2290 commented on #317
@rquantz @bmrinal
Replacing the view rather than reusing it is by design of Angular's renderer which doesn't allow for hydration. The reason is that it's faster to render compared to reusing the view which has been true. The only reason to use hydration is for all of the edge cases that come with switching from SSR to CSR.

flickering was resolved (as from here: https://github.com/angular/angular/

[2017-10-14 02:14] MarkPieszak commented on #470
So you want to use `NormalModuleReplacementPlugin` to swap it out, I don't know the exact specifics of what you'd need for this one, but you could try first replacing it with a blank/empty file `empty.js` in the example below that's nothing more than

[code]

But this might not work (and just throw other errors).

If worst comes to worst, you might need to copy/paste the prineng.js file, and just

[2017-10-14 02:19] MarkPieszak commented on #472
This will most likely be related & fixed with exactly how we did it in the other issue

https://github.com/angular/universal-starter/issues/470#issuecomment-336602788

This one could probably just be swapped out for an empty replacement.

[2017-10-14 02:28] #468 closed

[2017-10-14 02:29] MarkPieszak commented on #468
Closing out as it looks like you guys got it figured out!

[2017-10-14 17:03] philippeboyd opened #474 "Build Dynamic vs Static"
I'm trying to understand the difference between building in dynamic mode vs static mode. I've checked the checksum of each file and they're all the same apart from the index.html files of course. I understand that the the dynamic index.html file is "empty" and will populate depending on which page you're viewing while the static index.html pages are fully generated and staticly served (am I gettin

[2017-10-14 18:22] Toxicable commented on #474
Here are the core differances between them
https://github.com/angular/universal-starter/tree/master/cli#static-or-dynamic

However as for when to use either, the basic answer i'd use to that is to use Dynamic when you're hosting your app on a web server and have dynamic content.
Static when you're hosting your app on a static distribution service such as a CDN and where the content is not so dynam

[2017-10-14 18:35] MarkPieszak commented on #474
Fabian is spot on, dynamic is more for if you need `/products/golf` `/products/shoes` to be hit, and dynamically request data. These pages could be different hour-by-hour with the latest products for example.

Static is just for static pages (where the data doesn't change).
Maybe you're app has a homepage & about us that doesn't change often, you want to statically prerender those, and just let yo

[2017-10-14 18:48] philippeboyd commented on #474
Great answers guys! It's 100% clear now.
Thanks!

[2017-10-14 18:48] #474 closed

[2017-10-17 19:41] J4cku commented on #139
Same for me :(

[2017-10-17 19:50] jeffwhelpley commented on #139
@J4cku @Skillnter there are two strategies to eliminate flickering now:

1. Re-use data from server side. This will be part of the Angular 5 release, but you can use the latest beta release in your own project if you want to try and get a head start.
2. Utilize Preboot [like this example of Preboot with the Universal Starter](https://github.com/jeffwhelpley/universal-starter-preboot).

Also note t

[2017-10-17 21:20] bobby-brennan opened #475 "Multiple runs of prerender causes flicker"
Ran into one issue when running the prerender script: if the homepage is prerendered, and the prerender script is run multiple times, it will cause a flickering issue on all prerendered pages.

## More details:
* The normal build process generates `dist/browser/index.html`
* Prerender script reads `dist/browser/index.html` and uses that to generate new HTML files
* If homepage is prerendered, `dis

[2017-10-17 22:32] MatheusdeAndradeFlausino opened #476 "Error on service-worker.js"
Hi,
I'm getting an error when run build:dynamic of this project.
I just fork the project on github and added the translate to it (@ngx-translate/core and http-loader).
So when I access _localhost:4000_ I got the following error:

And got too::

Please, anyone can tell me what's wrong?
Thanks.

[2017-10-18 07:50] dottodot commented on #448
I'm seeing this issue too. The error is only server side and only on lazy loaded modules. I have also only included `HttpClientModule` in my `app.module`

[2017-10-18 09:51] khaled-ansary commented on #472
Thanks. Its working.
I copy the `custom-event` folder to `src/server-mocks/` and replace all `document` with `global.document` then apply the [#470 (comment)](url) solution.

[2017-10-18 09:51] #472 closed

[2017-10-18 09:52] khaled-ansary commented on #470
Thanks the solution is working.

[2017-10-18 09:52] #470 closed

[2017-10-18 14:41] khaled-ansary opened #477 "Rebuild webpack when get a new folder with files in the app directory for dynamic module loading"
Hello, I am developing a plugin based app. The plugins are stored into a folder and the plugins module will be load dynamically.  So, the modules are not imported directly. I tried this code to load the module dynamically by providing only the module url,
[code]
Example module and components of the plugins are
[code]
The dynamic loading is working fine whenever the plugins are already exist into t

[2017-10-18 17:12] bobby-brennan commented on #475
PS - I'm happy to implement and send a PR if you guys think this is the right solution.

[2017-10-18 18:57] Toxicable commented on #477
Universal isn't the solution to your problem here.
I would suggest waiting for Angular Elements, that would fit your use case perfectly.

[2017-10-19 13:42] khaled-ansary commented on #477
Yes, it is a complex scenario for angular but I think nodejs has the power to do it. In this scenario, the external plugins are not lazy loaded because webpack don't know anything about the external plugins module and for this reason, it cannot create bundle for that plugin.
Node js can watch the plugin stored folder for changes using `fs.watch` method. So, when nodejs get any changes, it can rebu

[2017-10-21 10:50] manfredsteyer opened #480 "StaticProviders in Angular 5"
Tried to upgrade the seed to Angular 5. The only issue I ran into so far is that provideModuleMap is currently returning a Provider[] while beginning with Version 5 we need a StaticProvider[]:

[code]

[2017-10-21 17:43] MarkPieszak commented on #480
Manfred hey! 👋 Long time no see haha
Can you install the lazy module and express engine that's 5.x versions, and you'll be all set.

The "latest" versions of the packages are out there for 4.x but if you install @next then you'll be all set 👍

[2017-10-24 03:24] pickupdwq opened #482 "How to add jquery to this project ?"
I add in index.html. But the page show me $ is not defined . I try the other way . But the page show 'jQuery requires a window with a document'. How to solve this problem?

[2017-10-25 12:12] dint17 opened #483 "How to use prerender.ts for route parameters"
I have setup my project with this starter project. In my application I have a component called **article.component.ts**. With routing parameters I determine which article to load from my api:

[code]

In the file **static.paths.ts** I only have the following:

[code]

Using **npm run build:static** generates one index.html file in the folder **/article**. What I try to achieve is the following:

[

[2017-10-26 00:54] MarkPieszak commented on #482
If you're going the route of adding the jQuery CDN to your index.html, as opposed to importing jquery in your `main.ts` (which is also only available on the browser-side). All you should have to do is, in any component you -need- to use jQuery in:

[code]

Ideally try to stay away from using jQuery as there's always a better way :)

Also you can now `@Inject(DOCUMENT) private document,` (from angu

[2017-10-26 22:23] filoxo opened #484 "How to retain css during transition?"
I've gotten a CLI project that uses the techniques described in this repo for SSR. Mine is only slightly modified in that it renders an app shell that is delivered with the first request. I've found that the prerender script creates the following style tag:

[code]
The above is bothersome to me for two reasons: I'd consider this "critical css" which should stay on the page and not be blown away by

[2017-10-27 08:26] dint17 commented on #483
I got this working by getting my ID's from the API on static.paths.ts and then adding one path for each article

[2017-10-27 08:26] #483 closed

[2017-10-27 15:42] LDemouge commented on #476
how did you solve this?

[2017-10-31 00:31] #462 closed

[2017-10-31 13:59] KrGyan opened #486 "Use Node JS for SSR and API concurrently"
Hi Guys,

Can we use the current setup for both SSR and consuming API's?

Please suggest, best suitable way !!

[2017-11-01 03:40] #480 closed

[2017-11-02 12:24] MarkPieszak commented on #486
There should be some commented code in there to handle it.

Just add all your app.get(‘/api/whatever’) paths above the SSR rendering line in server.ts, create all your API paths there, and you’ll be all set!

[2017-11-02 12:24] #486 closed

[2017-11-03 11:33] KrGyan commented on #486
Yup that works !!

[2017-11-05 13:30] yosigolan opened #488 "After upgrade to angular 5 components that are only part of browser route still being counted and produce errors"
Hello.
i have a project with many modules and components. i am using lazy loaded modules in my project and for universal i am using the ModuleMapLoaderModule.
some of the routes in my project are relevant to seo and also users might navigate to them directly however some routes are user specific routes and therefore not relevant to seo. the routes which are user specific include complicated compon

[2017-11-05 15:28] mohammedzamakhan opened #489 "Deploy Heroku Error"
I am getting error when I click deploy heroku button on the readme
<img width="461" alt="screen shot 2017-11-05 at 9 27 08 am" src="https://user-images.githubusercontent.com/2327532/32416218-9e989996-c20b-11e7-9081-81cfbb3da779.png">

[2017-11-06 07:57] yosigolan commented on #488
i opened it in the universal repo: https://github.com/angular/universal/issues/838

[2017-11-06 07:57] #488 closed

[2017-11-06 09:47] ng-state commented on #189
Hi, having troubles to use Hammer with server side renderin.
gdi2290 also cannot find app.node.module file to look for work around.
Is there any other possible solutions how to use it?

[2017-11-06 10:39] Toxicable commented on #189
@ng-state if you have an issue it would be best to open an issue for it since this one is pretty outdated

as for your second comment I have a proposal here: https://github.com/angular/universal/issues/828
Feel free to add any opinions on the matter there

[2017-11-06 10:50] CaerusKaru commented on #484
Duplicate of https://github.com/angular/angular/issues/15716#issuecomment-298980082

[2017-11-06 10:53] CaerusKaru commented on #447
The webpack branch has been removed and is likely no longer supported. If you can switch to the angular-cli, there’s a [guide](https://github.com/angular/angular-cli/wiki/stories-configure-hmr) on how to enable HMR, and it runs pretty well.

[2017-11-07 17:40] filoxo commented on #484
@CaerusKaru Thanks for the info, but I don't think this is a duplicate. My server module doesn't use routing and isn't lazily loaded at all. Additionally, I think this goes a little beyond that issue because I'm asking for the universal renderer to inline critical styles for _reuse_ in my app after its loaded as well for better performance.

[2017-11-07 17:46] CaerusKaru commented on #484
To clarify: unless your server module completely ignores your browser module, i.e. does not import it, it necessarily uses routing in order to generate your components and render the HTML string. If your server module does ignore your browser module, then this issue is out of scope for the universal-starter because the starter was not designed with this functionality in mind, and your issue is bet

[2017-11-08 10:31] Creiger commented on #455
There si a great [ServerResponseService](https://github.com/patrickmichalina/fusebox-angular-universal-starter/blob/master/src/client/app/shared/services/server-response.service.ts) available for this.

[2017-11-08 12:14] denisyilmaz opened #490 "NG Development Server for Express Server"
Hi,

I love the new Angular 5 Universal Starter with the Angular CLI, so I updated an project from the previous Angular 4 Custom Webpack Configuration to the CLI Version.

Everything works fine for production, unfortunately I can’t get the server.ts (express engine) up and running in development.
As far as I understood `ng serve` uses an custom express server for development.

How can I use custom

[2017-11-08 16:42] filoxo commented on #484
Indeed my server module doesn't use the browser module at all; instead it renders the same components filled with placeholder components (like Facebook's feed does) which is what I consider the shell. Closing since this is "out of scope".

[2017-11-08 16:42] #484 closed

[2017-11-08 18:24] btgoodwin commented on #452
Can you share what your NPM script is for `build:static` vs. `build:dynamic`?  My CLI app doesn't have those options, and I'm having this same problem when trying to build a DI graph from within a single directive.

[2017-11-08 18:25] btgoodwin commented on #452
Can you share what your NPM script is for `build:static` vs. `build:dynamic`?  My CLI app doesn't have those options, and I'm having this same problem when trying to build a DI graph from within a single directive.

[2017-11-08 18:25] btgoodwin commented on #452
Can you share what your NPM script is for `build:static` vs. `build:dynamic`?  My CLI app doesn't have those options, and I'm having this same problem when trying to build a DI graph from within a single directive.

[2017-11-08 18:44] peterpeterparker commented on #452
@btgoodwin sure

I use only `dynamic`, `static` doesn't work with my project. But here what I've got

In package.json:

    "scripts": {
        "ng": "ng",
        "start": "npm run build && npm run serve:dynamic",
        "start:dynamic": "npm run build:dynamic && npm run serve:dynamic",
        "start:static": "npm run build:static && npm run serve:static",
        "build": "ng build --extract-

[2017-11-08 19:19] btgoodwin commented on #452
Thanks. Unfortunately, that doesn't work for me.  When the app tries to load, I get weird errors about a downstream library of mine where it did some symbol mangling (`export 'ej' (imported as 'i2') was not found in 'that-library'`).  I'm using the NG CLI server (`ng serve`), which for me at least, only seems to work in non `--prod` mode.

[2017-11-08 20:06] peterpeterparker commented on #452
looks super complicated to me @btgoodwin :( hope you will find a solution!

[2017-11-08 20:43] btgoodwin commented on #452
For what it's worth, [here is a demo reproduction of my bug](https://angular-gitter-wmzhot.stackblitz.io/).

[2017-11-09 06:27] peterpeterparker commented on #452
@btgoodwin try to ask your question/seek support on the https://gitter.im/angular/universal channel

[2017-11-09 06:33] Toxicable commented on #452
@btgoodwin Your issue looks completely unrelated to Universal here
I would advise that you don't use `ReflectiveInjector` since it is now deprecated in v5
Also there is no need for you to create your own Injector context.

[2017-11-09 11:38] btgoodwin commented on #452
@Toxicable I agree; I came here mainly because the error and symptoms sounded similar to what I am seeing in v4 and v5.  Thanks again @peterpeterparker for posting the scripts. :-)

[2017-11-10 09:39] michaelpwilson commented on #271
I tried @iliasbhal approach but after running in production I get the following error:

    Error: StaticInjectorError[{provide:"request", useFactory:useFactory}]: 'deps' required

I don't see anything different in the code:

    app.engine('html', (_, options, callback) => {
      let engine = ngExpressEngine({
        bootstrap: AppServerModuleNgFactory,
        providers: [
          { provide:

[2017-11-10 10:48] michaelpwilson commented on #271
Fixed by adding empty array to deps for the provider:

    { provide: 'request', useFactory: () => options.req, deps: [] },

[2017-11-11 23:31] CaerusKaru opened #491 "docs: add test directory with examples"
The universal-starter should contain a directory with guidance on how to test Universal applications. At the very least, it should have an `e2e` or `test` directory like those generated by the CLI

[2017-11-11 23:50] CaerusKaru commented on #490
You're right that `ng serve` uses a custom express server, but it specifically only invokes the Webpack bundle for the **browser**, not the server. If you think the CLI should support dev mode for Universal (you wouldn't be alone), you should file in an issue in that repository.

[2017-11-11 23:56] Toxicable commented on #490
The cli uses webpack dev server
I don't think it's the CLI's place to host the Express engine for dev mode.
I thin ka better solution is using `ng build --watch` then hooking that up into your Express or whatever other backend you use

[2017-11-11 23:57] CaerusKaru commented on #490
Directly from the webpack-dev-server, "The webpack-dev-server is a little Node.js Express server", [source](https://webpack.github.io/docs/webpack-dev-server.html).

[2017-11-12 00:04] Toxicable commented on #490
Not trying to be pedantic here but it dosen't look little to me
https://webpack.js.org/configuration/dev-server/#src/components/Sidebar/Sidebar.jsx
https://github.com/webpack/webpack-dev-server
There is a lot of config there.
But anyway, that's beside the point, I don't think that it should be responsible of somehow rendering up our Universal apps.
For one; what if someone wanted to use another ba

[2017-11-12 00:07] CaerusKaru commented on #490
I think there's some validity to having the CLI, which generates server builds, have the ability to test those builds. It doesn't discount the possibility that others use different backends down the pipe, but it at least provides the ability to test basic server compatibilities without having to rebuild the entire project.

Just like `ng serve` tests browser bundles, `ng serve --ssr` or something

[2017-11-12 00:15] CaerusKaru commented on #490
Also, `webpack-dev-server` may have a lot of config, and the CLI piles on top of that, but it's still Express running the show behind the scenes.

[2017-11-12 02:05] Kayes-Islam opened #492 "Error trying to configure SCSS"
Steps:

1. Rename styles.css file to styles.scss
2. Change angular-cli.json to set defaults.styleExt = scss.
3. `npm install` returns these warnings:
[code]
4. `npm run start` then gives the following errors:
[code]

NOTE: It was working fine with universal starter seeder with Angular 4.

[2017-11-12 23:41] helix46 commented on #489
# How to deploy Angular Universal Starter to Heroku
(this works for me)

Create a Heroku app my-heroku-angular-universal (change the app name!!)
`git clone https://github.com/angular/universal-starter.git`
Delete .git folder
Don't bother doing npm install unless you want to run locally
In package.json (see below for sample):
  move all lines from devDependencies to dependencies
  add the following

[2017-11-13 02:16] mohammedzamakhan commented on #489
It doesn't directly work from the heroku button on `README.md` file

[2017-11-13 07:09] ericel commented on #389
@MarkPieszak  The meta tag service provided by Angular doesn't seem to work with universal in rendering. Everything works well, but when I view my page source,  the meta tags don't show up.

[2017-11-13 13:31] denisyilmaz commented on #490
thanks for your input. I understand that the Universal should be working with different solutions for the backend, that's why I opened the issue here in the Universal-Starter Repo as I hoped it might be something that can be configured with webpack or somehow else.

As @CaerusKaru  mentioned it's really necessary to be able to test the builds together with the server that will be used in productio

[2017-11-13 21:04] Starscream27 commented on #373
@MarkPieszak Did you have the chance to make the quick example in the docs ? I can't get my head around it.

[2017-11-14 15:35] davidgk opened #493 "No provider for InjectionToken MatSnackBarData"
When I try to create a test that use into the constructor this guy:

export class ErrorStatusSnackBarComponent {

  constructor (@Inject(MAT_SNACK_BAR_DATA) public data: string) {
  }

}
Into the test I don't know how to provide this, as when I do it  the test doesn't run too because:

  Error: Invalid provider for the NgModule 'DynamicTestModule' - only instances of Provider and Type are allowed,

[2017-11-14 17:15] dottodot opened #494 "Separate Directive for Browser and Server with a Shared Module"
I have a Directive that I want to used in the Browser only, and normally I'd just import it into my SharedModule so that it's available in all my lazy loaded modules.

However I can't quite get my head around how I can implement a Shared Module that does this. I know I can create a dummy directive for the server side but that doesn't help in regards to lazy loaded modules.

For services there's yo

[2017-11-17 00:39] kmturley commented on #448
This works! I've created a fork with the HTTP changes you can use to test:
https://github.com/kmturley/universal-starter/commit/ceba9f874712169ab3f8945a53cd41b7f5fbae1e

[2017-11-18 12:06] christofferskog commented on #470
What exactly are `server-mocks`? I can't find it. I'm following https://github.com/angular/angular-cli/wiki/stories-universal-rendering rather than using this repo but I'm facing the same issue. I need some guidance.

[2017-11-18 12:14] thibaultvanluchene opened #495 "Inline template and styles when using ng g c"
So, when I use ```ng g c``` to generate a component in this project, it's always inline, but that's not what I want, as that's normally done with the flag ```--inline-style```

How to generate separate style and template files, like the CLI normally does?

[2017-11-19 13:43] GrandSchtroumpf commented on #437
I am not tottaly sure if my issue is linked to this one, but I want to import an Angular Module that wrap perfect-scrollbar : [ngx-perfect-scrollbar](https://github.com/zefoy/ngx-perfect-scrollbar) which needs the DOM.
I import PerfectScrollbarModule in my SharedModule (so I cannot us AOT). Even without using any component from this module it makes my prerender build to crash.
Any idea how to fix

[2017-11-20 11:03] amanjain325 opened #496 "Build issue"
When i make build, it takes around 5 to 6 minutes in local. Please solve this issue.

[2017-11-20 19:51] BattiniSantthosh opened #497 "http.get api request is calling twice"
## server.ts

<pre>
import 'zone.js/dist/zone-node';
import 'reflect-metadata';
import { renderModuleFactory } from '@angular/platform-server';
import { enableProdMode } from '@angular/core';

import * as express from 'express';
import { join } from 'path';
import { readFileSync } from 'fs';

// Faster server renders w/ Prod mode (dev mode never needed)
enableProdMode();

// Express server
const a

[2017-11-21 11:06] Gorniv commented on #497
try look https://github.com/Angular-RU/angular-universal-starter/blob/master/src/app/transfer-back/transfer-back.component.ts

[2017-11-21 11:09] Gorniv commented on #494
try look https://github.com/Angular-RU/angular-universal-starter/blob/master/src/app/mock-server-browser/mock-server-browser.module.ts

[2017-11-21 11:46] dottodot commented on #494
@Gorniv thanks that makes sense, hadn't thought of splitting out the environment like that.

[2017-11-21 12:32] Gorniv commented on #492
try `npm install -g node-sass`

[2017-11-21 12:53] Gorniv commented on #493
https://github.com/angular/material2/blob/master/src/lib/snack-bar/simple-snack-bar.ts
 and you can try look https://github.com/Angular-RU/angular-universal-starter/tree/material2

[2017-11-21 17:40] SoftwareAndOutsourcing commented on #437
@GrandSchtroumpf in the old webpack starter there was a browser-app module (https://github.com/angular/universal-starter/blob/393879d29dc906e844e167e698f4f923c0c087f2/custom-webpack/src/app/browser-app.module.ts) where you could import things like that, I think you will need to add something like in the cli version).

@Toxicable did you have any chance to take a look at the demo?

[2017-11-22 05:35] Kayes-Islam commented on #492
It's working now

[2017-11-22 05:36] #492 closed

[2017-11-22 07:51] Gomathipriya commented on #373
@jackspaniel Can you please share the code how you did this?

[2017-11-22 12:05] chintan13 commented on #271
@michaelpwilson thanks man,

full block is here we need to replace in server.ts is

app.engine('html', (_, options, callback) => {
    let engine = ngExpressEngine({
        bootstrap: AppServerModuleNgFactory,
        providers: [
            { provide: 'request', useFactory: () => options.req, deps: [] },
            provideModuleMap(LAZY_MODULE_MAP)
        ]
    });
    engine(_, options, call

[2017-11-22 13:25] khaled-ansary commented on #470
Hi, you can create a folder in "src/server-mocks" or any other name that you have to mention in
`NormalModuleReplacementPlugin`.

For example, I was getting error for `tooltip` feature that was exported in `primeng.js`. So, I copied the `primeng.js` file into `server-mocks` and remove the `tooltip`  export code.
e.g. `//__export(require("./components/tooltip/tooltip"));` .

So, you can copy a corr

[2017-11-22 13:26] jackspaniel commented on #373
I did. It's all above.

[2017-11-22 18:35] ryanstrandt commented on #356
Just so you know - I got the same error when adding in the @angular/service-worker to have a pwa on the client side. Don't know if the same issue exists as with material.

[2017-11-23 17:16] FriOne opened #498 "Problem with splitting to browser and server modules"
I want to make 3 modules: `app`, `browse` and `server`, to separate server modules from browser. For example angular material has `NoopAnimationsModule` for a server and `BrowserAnimationsModule` for a client. And both browser and server modules import `app.module.ts`. But when I do so, I get error in browser (I guess related to `@nguniversal/module-map-ngfactory-loader` package).
[code]
I logged

[2017-11-23 20:16] randomparanoia opened #499 "Clouflare caching unable to bootstrap app"
Hi, maybe I'm missing something, but couldn't find anywhere else: It seems everytime my app is being served via Cloudflare, It is unable to bootsrap correctly... which runs normally after turning cache off (even with cache rules set to bypass and express Control-Cache to no-cache)?! Any ideas for a workaround or what I'm doing wrong? Maybe some misconception with dynamic vs static so it shoudn't b

[2017-11-23 21:31] dikod opened #500 "Render page with nested router"
Hello :)
On my gallery page I have many thumbnails which I click to open modal (add class 'active') with full image ( change url by window.history.pushstate from www.mypage.com/gallery to www.mypage.com/gallery/img1). My problem is when I enter link to open modal with full image  e.g www.mypage.com/gallery/img1 -> okey, I see modal with full img1 etc but it isn't visible for google.

Google see th

[2017-11-24 13:02] FriOne commented on #498
My bad, import map module into browser

[2017-11-24 13:02] #498 closed

[2017-11-24 13:50] FriOne commented on #490
I think we don't need SSR in develop process, we can just send requests to server without static. But of course it would be nice to serve them both by one command.
@denisyilmaz you can use `ts-node-dev --fast --respawn server/index.ts` to access api from client.
Client in this case will be server with CLI, you just need to change server api url.

[2017-11-24 14:56] #500 closed

[2017-11-25 21:43] Toxicable commented on #495
https://github.com/angular/universal-starter/blob/master/.angular-cli.json#L85
set this to false
see https://github.com/angular/angular-cli/wiki/generate-component for more

[2017-11-27 07:04] thibaultvanluchene commented on #495
I'll try this soon! Thanks for your reply.

[2017-11-27 08:21] Skillnter commented on #139
@jeffwhelpley update for angular 5 is in universal repo but i still see the glitch. I think they have preboot integrated. I am lil' lost here... I know its not a straightforward process and lots of hurdles to overcome. I just want to know for now if its been implemented. I was working on 1st strategy... so i am not sure if i have to continue my work or not.

[2017-11-27 17:39] abhijithmannath commented on #470
@khaled-ansary I am facing a similar DOM related error, but I can't seem to get any sensible traceback so as to know which library is causing the issue. I am really new to webpack and angular, could you please explain how you used gulp to pinpoint the library.

[2017-11-28 11:55] hasan786786 opened #502 "building:ssr error"
D:\angular4\demo2\dist\server.js:115968
            var ua = window.navigator.userAgent.toLowerCase();
                                                                        ^
ReferenceError: window is not defined
    at D:\angular4\demo2\dist\server.js:115968:49
    at D:\angular4\demo2\dist\server.js:115970:11
    at Object.<anonymous> (D:\angular4\demo2\dist\server.js:116809:3)
    at __webpac

[2017-12-01 16:54] freezy opened #503 "Pre-render with images"
Since the `raw-loader` used for HTML files in CLI doesn't resolve the `src` of `<img>` elements, I `require()` them in the controller and point `[src]` to it.

However, when pre-rendering, the server-side code is packed using `--output-hashing=false`, which results in the HTML served by `npm run serve:prerender` pointing to non-hashed URLs but serving hashed files. This results in 404s until the J

[2017-12-01 19:35] Toxicable commented on #502
see https://github.com/angular/universal-starter#universal-gotchas

[2017-12-02 05:38] stephengardner commented on #447
HMR Works fine with Angular, but unfortunately I don't have an answer for you here.  Subbed, though.

[2017-12-05 15:39] stephenlautier opened #504 "index dynamic rendering + SSR"
Hi,

Is it possible to do dynamic rendering in the main index.html per request by replacing html to pug, ejs or so, and it should work with SSR. I'm quite new to this template and not too familiar with node express either.

This is what I'm trying to achieve e.g.:

[code]
*NOTE: the syntax is pseudo*

[code]

Some stuff you can achieve by doing on built for environments via webpack. However im loo

[2017-12-05 17:57] asadsahi opened #505 "webpack failed to create server bundle, getting errors."
Trying to create server bundle from my express file called (app.ts instead of server.ts). This file has some backend logic e.g database (sql lite, sequelize models code). It failed to create the final app.js file with the webpack.config.js file configuration provided on angular.io. I get following errors:

Any guesses what can be included in webpack.config.js to resolve them?

[code]

[2017-12-06 06:03] miladhamzelou opened #506 "How to handle 404 not found and redirect with status code 404"
How to handle 404 not found and redirect with status code 404 when route not found?

[2017-12-06 08:24] dneeleman commented on #506
`import { Inject, Injectable, Optional } from '@angular/core';
import { RESPONSE } from '@nguniversal/express-engine/tokens';
import { Response } from 'express';
import { isEmpty } from 'lodash';

@Injectable()
export class StatusCodeResponseService {

    private response: Response;

    constructor(@Optional() @Inject(RESPONSE) response: any) {
        this.response = response;
    }

    /**

[2017-12-06 10:30] miladhamzelou commented on #506
Thanks @dneeleman for this solution.

[2017-12-07 11:56] mitorski opened #507 "Looking information about XMLHttpRequest is not defined as BrowserXhr."
In the README i found this line:

The application runs XHR requests on the server & once again on the Client-side (when the application bootstraps)
Use a cache that's transferred from server to client (TODO: Point to the example)

And in my opinion, this can be answer for my problem with XMLHttpRequest is not defined as BrowserXhr.

I know.. here it's many other issues with this problem ( i was se

[2017-12-07 12:04] #507 closed

[2017-12-07 12:05] mitorski commented on #507
https://en.wikipedia.org/wiki/Rubber_duck_debugging ;) i was found bug in my code... works fine now.

[2017-12-07 20:05] qlaffont opened #508 "Angular Universal don't change Title"
Hi,
With your starter I try to change my title but I check the result with javascript disabled and my title is not change. Is it normal ?

Test Repo : https://github.com/qlaffont/test-universal

Regards
Quentin

[2017-12-08 19:47] hesampour commented on #472
I have the same problem

[2017-12-08 19:54] Toxicable commented on #505
Whatever ORM you're using appears to be using modules such as `aws-sdk` which doesn't appear to be possible to webpack up.
You'll want to exclude those from the build via webpack's exclude option

[2017-12-08 19:56] Toxicable commented on #504
Nope.
Universal only works with an Angular application, it dosen't touch your index.html aside from using it as a host thenreplacing it later on

[2017-12-09 00:23] asadsahi commented on #505
@Toxicable thanks for the hint. trying to exclude most of the modules in error, but still getting the same error, here is the webpack.config.js:

[code]

[2017-12-09 00:39] Toxicable commented on #505
@asadsahi sorry, my mistake, I meant `externals` not exclude
so something like this:
[code]
Should do the trick, and yes you will have to install node_modules on your server, which I personally am not a fan of at all so if you do find a work around for it let me know :D

[2017-12-09 03:46] iambipinpaul commented on #196
Has anyone been able to get server side rendering to work with Azure(Nodejs)?

[2017-12-09 13:24] asadsahi commented on #505
@Toxicable now I am more confused.

If I have understood correctly, what you are suggesting is to add sequelize in externals to exclude this from being part of final bundle.

But the comments in webpack configuration file according to angular docs say opposite. See below.

![image](https://user-images.githubusercontent.com/3470892/33795994-d5dabd38-dce3-11e7-9440-ec596ce164c1.png)

One more thing.

[2017-12-11 07:19] CaerusKaru commented on #506
If this is an accepted solution, please close this issue.

[2017-12-11 07:22] CaerusKaru commented on #504
You can achieve this with equivalent Angular solutions, namely injecting values into the SSR engine and retrieving them in your app.

[2017-12-11 10:24] stephenlautier commented on #504
@CaerusKaru can you give a small example to see exactly what do you mean? doesnt have to be a working solution just a simple example. thanks!

[2017-12-14 01:04] CaerusKaru commented on #504
The `renderModuleFactory` or `ngExpressEngine` both have options to inject providers (`extraProviders` and `providers`, respectively). You can then use Angular's [Dependency Injection](https://docs.angularjs.org/guide/di) to insert values that will only show up from server-side generated templates. You can then retrieve these values using the `Optional` and `Inject` decorators in whatever componen

[2017-12-14 01:05] CaerusKaru commented on #504
For adding link tags dynamically, you can use the `Renderer2` to add links to an injected `DOCUMENT` object.

[2017-12-14 21:15] hmlabs opened #512 "Routes with children are not being rendered in the server"
I have the following routes defined

[code]

Lazy route renders in the server, however the routes with children defined do not.

[2017-12-14 21:24] #512 closed

[2017-12-16 11:35] m98 commented on #508
Your repo seems to be fine, make sure that you're changing the title when it does not depend on the browser side js actions, otherwise, it should work properly.

[2017-12-16 11:41] m98 commented on #497
Does the HTTP request issue two times once on the server side, and again on the browser?

If that's the case, please take a look at this [PR](https://github.com/angular/universal-starter/pull/509) and it might help you to understand how to handle such thing.

The reasons this happens is that server makes the HTTP request and gives the data to Angular app on the client-side (Browser), and browser d

[2017-12-16 11:43] m98 commented on #496
What's the problem?

Do you mean the build speed?

[2017-12-18 11:44] amanjain325 commented on #496
yes

[2017-12-19 04:46] imraqes commented on #374
@gdi2290 sometimes when I scroll my application preboot doesn't complete, I can see 2 <app-root> in browser elements one as hidden, also I can't see all the things which are hidden on isBrowser, and events also doesn't work. This happens when I open too many tabs continuously on my browser, I realized this is because of preboot doesn't complete automatically, but I could not able to find how to ma

[2017-12-19 08:34] marcinkunert opened #513 "Update to Angular 5.1"
Angular 5.1 [has been released](https://blog.angular.io/angular-5-1-more-now-available-27d372f5eb4e). The changelog states some changes to Angular Universal. Does it affect this project?

[2017-12-19 08:38] m98 commented on #513
This repository works fine if you Update your Angular.

[2017-12-19 08:41] marcinkunert commented on #513
@m98 ok, thanks! Just wanted to make sure there are no major upcoming changes just after I get it working for my project.

[2017-12-19 08:41] #513 closed

[2017-12-19 18:55] calebeaires opened #514 "How to deploy Angular Universal to production (port 80)"
After make the app, how to deploy it? I see that on package.json there is many commands to build, but how to make it right to put on production in port 80?

[code]

[2017-12-19 20:21] kalyan1102 commented on #514
if you run "npm run build:ssr" it will create a dist folder which you will need to place on server. Additionally for some of the module dependencies, you also need to place package.json and run npm install to install node modules.

Once you are done with all these you can then run "npm run serve:ssr" ( better to use pm2 which will take this process and don't exit ) but it will start pointing to yo

[2017-12-19 20:25] furcino commented on #287
Hello, I was looking for the solution too. Just build an angular5 project and wanted seo to work with angular-universal. I didn't find it here so I am adding it:

`import { Component } from '@angular/core';
import { Title, Meta, MetaDefinition } from '@angular/platform-browser';

@Component({
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.css']
})
exp

[2017-12-19 20:29] furcino commented on #340
Hello, I was looking for the solution too. Just build an angular5 project and wanted seo to work with angular-universal. I didn't find it here so I am adding it:

[code]

So people can find this:

I wanted to **change meta tags and page title in angular5 during the prerender phase**. That led me to here. I finally just started searching the documentation and the solution was there clear as day. Th

[2017-12-19 22:03] SwamyKottur opened #515 "Can this work with ng eject?"

[2017-12-20 08:32] m98 commented on #514
The @kalyan1102 answer is correct.

But here is the summery if you're confused:

1. `npm run build:ssr`
2. Move the `dist` over to your server
3. install [PM2](http://pm2.keymetrics.io/)
`      npm install pm2 -g |`
4. On your server, use PM2 to run the server bundled app
`      pm2 start dist/server.js`
5. If you're using Nginx, or other web servers, make sure to redirect requests to the port tha

[2017-12-20 08:35] m98 commented on #515
Could you please provide more detail on your issue?

The answer to these questions might help us:
- What's the current behavior?
- What's the expected behavior?
- What have you tested yet?

[2017-12-20 09:21] hareldvd commented on #506
May I suggest a demo app I published that faces the 404 issue: https://github.com/hareldvd/Angular5-Universal-404-Demo

[2017-12-20 15:59] SwamyKottur commented on #515
@m98

I did ng eject on cli project and tried to configure universal for such app. I believe the` ng eject` for platform server is not ready yet as i got the console error message for the same. So, the `prerender.ts` and `server.ts` files are required with the `dist/server/main.bundle` and now that i have ejected out i am unable to build a appropriate webpack file so that i can generate the simila

[2017-12-20 16:54] ssatz commented on #401
@mauris I am getting error like
this method getcookie not implemented

Have you rectified it?

[2017-12-20 22:02] calebeaires commented on #514
Thanks @kalyan1102, @m98

[2017-12-20 22:02] #514 closed

[2017-12-22 15:58] sharadjaiswal1411 opened #516 "Unable to load pages on new tab or view source"
Hi I am using Angular5 with universal. After starting server my home page opens fine and page source is also visible. But when i try to open my inner page on browser directly.Page did not loads , it keeps loading and loading. Opening page via home page link works fine but in view source <router-outlet></router-outlet> content is blank.
Please suggest what are possible causes of this.

[2017-12-23 04:36] kalyan11021980 commented on #516
Is your router.ts config is correct and matching with your client routes? If you can share example then it will be easier to check for everyone and provide solutions!

[2017-12-23 06:38] edenmanny25 commented on #516
please provide sample  code of your app  issue to try to solve it

[2017-12-23 07:46] m98 opened #517 "Warning while compile when using Express Request"
* **I'm submitting a ...**
[code]

_@gdi2290 You have provided an answer for this issue on this [Angular issue](https://github.com/angular/angular/issues/11580#issuecomment-327338189), but sounds there is some problems yet. Could you please take a look at this? I'm using [Angular/universal-starter](https://github.com/angular/universal-starter)_

* **What is the current behavior?**
When using Expre

[2017-12-23 08:46] sharadjaiswal1411 commented on #516
Thanks guys. Issue is resolved , Problem in my  share-buttons directive. I have removed it.

[2017-12-23 08:46] #516 closed

[2017-12-23 23:54] calebeaires opened #518 "Were API support removed?"
I have noticed an fraction of code on `server.ts` file to active API support, but I cant get it working while on `ng serve` dev. I have tried to run server.ts but it does not work too.

[code]

Is there an workaround I am missing?

[2017-12-25 10:43] aniruddhha opened #519 "http://localhost:4000 and http://localhost:4000/index.html"
when I hit http://localhost:4000, it start loading indefinitely, but when I hit http://localhost:4000/index.html it loads full page immediately ..

I have observed following things on server.ts

- **ERROR { Error: Uncaught (in promise): ReferenceError: window is not defined
ReferenceError: window is not defined**, _I suppose this is not related to my concern, because if I add material in freshly c

[2017-12-25 11:43] m98 commented on #519
This issue does not follow the issue template, you need to provide some more information at above of the issue to the clerfiy type of the issue, such as the issue type (feature request, bug report,...) or your development environment.

But this seems to be a question, please use Stack Overflow to ask questions.

[2017-12-25 12:25] #519 closed

[2017-12-25 12:25] aniruddhha commented on #519
Well I will post it on stackoverflow

[2017-12-26 14:07] miscoo1 opened #520 "prerender task fails"
I pulled this universal-starter project, prerender and ssr mode works. Then I integrate it to my project, build was successful. But it fails when the command `node prerender` is called. It fails with this error:

package.json
[code]

I tried to remove all problematic parts, but I don't identify the problem.

[2017-12-27 14:29] miscoo1 commented on #520
Issue caused by multi module project and related misconfiguration.

[2017-12-27 14:29] #520 closed

[2017-12-29 06:10] sabari11 opened #521 "API RESPONSE RENDERING IS NOT HAPPENING"
static html is rendering but api response is not rendering ....

[2018-01-03 22:28] MarkPieszak commented on #521
Api responses? Do you mean from `Http`?

[2018-01-08 12:13] Dinath commented on #508
What if the title is rendering throught an HTTP request ; and changed with `title.setTitle('')` from the `@angular/platform-browser` ?

[2018-01-08 12:13] #508 closed

[2018-01-08 13:14] Dinath opened #522 "btoa is not defined"
I am using `"@angular/material": "^5.0.3"`, which I know seems not supported yet.

This **fatal error** seems caused by Material, but I do not know if it is true. How can I debug it?
[code]

This one is not fatal, but I do not know which component is responsable.

[code]

[2018-01-08 17:01] avsek477 commented on #389
@ericel  did you find any solution for your problem?

[2018-01-08 23:44] stephanegg opened #523 "How-to: Authentification in Angular Universal"
Angular Universal allows us to store auth token on the client side (in the localstorage wrapped in isPlatformBrowser condition) but how to retrieve it on the server side? What are the best practices? I guess that using Http Interceptor is key but what is left is still unclear for me.

[2018-01-09 21:03] stephanegg commented on #373
@MarkPieszak any news ? It would be amazing if you could provide a quick example in the docs. This is a requirement for most of apps with authentification and a sensible point in terms of security, it would definitely find its place in the docs 👍

[2018-01-10 17:00] adisonkh opened #524 "innerHTML load twice in server side and client side"
I use the module TransferHttpCacheModule. which transfer the variable from server side render already. but if I use innerHTML client side load variable again.

--Mycode--
#home.html
--<div id="banner1" class="row" style="clear: left; height:100px; width:100%; overflow:auto;" align="center" [innerHTML]="scBannerStr">
<-/div>--

#home.ts
scBannerStr = '<script type="text/javascript">myscript</script

[2018-01-10 20:08] dereklin opened #525 "App lazy module not found in nx mono repo"
I have a nx mono repo project.  I am able to load a lazy module in the libs folders.  However, I can't load a lazy module inside the apps folder.

Here is my repo: https://github.com/dereklin/nx-demo-jest/tree/load-lazy

I am trying to load the lazy module similar to the this starter:
[code]
I am getting
[code]

But this works fine:

[code]

[2018-01-11 15:41] prosto-artem opened #526 "Router not working in IE 11, when serving ssr build"
Today i've faced a problem.
I was testing my webapp on angular, and findout that routing on ie11, is just not working at all for in project.
And the most confusing part that, when i just start the project using 'npm run start' everything works like a charm, but if making a build and then trying to use it (npm run build:ssr -> npm run serve:ssr), thats the place, where i'm facing troubles.
I've alr

[2018-01-12 04:37] maphi88 commented on #403
@Toxicable  I have created 2 routing instead, one for server (app.node.server) and one for browser(app.browser.server). This allows server side rendering as well as client lazy load. The main issue which caused single page generation was cause there was a component which was used in other page as well, have separated it to module and included it.

[2018-01-12 06:59] dereklin commented on #525
It's a tsconfig thing.  I have provided a solution in the linked issue.

[2018-01-12 06:59] #525 closed

[2018-01-12 08:59] prosto-artem commented on #526
problem was a duplicate object property  in one of my components

[2018-01-12 08:59] #526 closed

[2018-01-13 15:31] Dinath commented on #522
Closed because the error was caused by a service using http authentification.

[2018-01-13 15:31] #522 closed

[2018-01-13 16:51] #524 closed

[2018-01-15 13:06] starikovs opened #527 "Warnings while `npm install`"
I have some warnings while `npm install` but when I did this a few days ago everything worked without any warnings..

[code]

And when I do `npm ls` it prints:

[code]

[2018-01-15 13:16] intergleam commented on #7
so how do i pre-render a component waiting for an XHR call to complete? (or a db call). I am using following and it doesn't wait
[code]

[2018-01-15 13:25] intergleam commented on #181
I have     "zone.js": "^0.8.14" and it doesn't work

[2018-01-15 14:21] intergleam opened #528 "The 'Hello' message is not rendered on the server side"
steps to reproduce
clone universal-starter
npm i
npm start
open view-source:http://localhost:4200/
expected result: the code should contain "Hello"
current result:
[code]

[2018-01-15 14:25] intergleam commented on #521
I guess what he means is promises are not resolved before rendering. something like this
[code]
is not being pre-rendered

[2018-01-15 14:36] qlaffont opened #529 "Discarding entity body for GET requests"
Hi,
I have this error and i don't know why.
Can you help me ? I have used your starter.

Regards
Quentin

[2018-01-15 14:54] qlaffont commented on #529
Fix with force update `ncu`

[2018-01-15 14:54] #529 closed

[2018-01-16 05:29] indiefun commented on #527
same error on macOS high sierra (10.13.2)
node --version : v6.12.3
npm --version : 5.6.0

[2018-01-16 08:57] intergleam commented on #528
ok so i figured i should run `npm run build:ssr && npm run serve:ssr` as per readme. Now the  view-source shows full HTML, but I still see a XHR request in the following case:
[code]
![selection_001](https://user-images.githubusercontent.com/2155554/34980084-62fb1684-fab4-11e7-8f3a-0eaf618c9cad.png)

[2018-01-16 08:59] intergleam commented on #528
is there a way to pre-render with the results of `http.get`? using this as an example, may be some API DB call. To show user (or google bot) a full page with all the data

[2018-01-16 09:32] intergleam commented on #181
I have
[code]
then I run `npm run build:ssr && npm run serve:ssr` as per readme, open http://localhost:4000 and I see an XHR to get text.txt
![image](https://user-images.githubusercontent.com/2155554/34981681-48a56b54-fab9-11e7-9419-4055b0cb9a73.png)

[2018-01-16 09:41] intergleam commented on #181
weirdly if I use
[code]
i still get XHR request but view-source:http://localhost:4000/ shows me
[code]
 

[2018-01-16 10:40] ZhalgasovaBota commented on #512
I have similar problem. How do you solved that issue?

[2018-01-16 17:42] Vandivier commented on #259
can we inline svg files by filename?

[2018-01-17 00:29] CesarDevesa commented on #527
Same issue [https://github.com/angular/angular-cli/issues/8767](url)

[2018-01-17 22:18] imarshmultani opened #530 "Directives not working when did npm run build:ssr && npm run serve:ssr"
I did built successfully angular app , but when did npm run build:ssr && npm run serve:ssr, and went to http://localhost:4000 , it did loaded the pages app of without any issue , **but any of the directives such as : load more ( (click)="LoadMoreMovies()" ), or on another component change video server ( (click)="ChangeServer()")  , does not work at all** , i've been clicking on them , i did check

[2018-01-17 23:25] #530 closed

[2018-01-17 23:26] imarshmultani commented on #530
it works fine when we go to dist folder and say: node server.js , so there is issue just with npm run build:ssr && npm run serve:ssr , closing this ,

[2018-01-18 06:31] christianemmanuel commented on #527
How can we fix this? same issue :(

[2018-01-18 13:52] mlb6 commented on #389
@ericel I'm having the same issue. Using the Meta Service does not add any meta tag on the server side. Have you found a solution?

[2018-01-18 17:06] wibaldwin commented on #527
same issue here.  Not a great start with Angular...

[2018-01-18 22:52] MarkPieszak commented on #527
Is there an issue when running?
Warnings shouldn't cause you any problems, that's just for authors to be aware of dependencies etc

[2018-01-18 22:53] MarkPieszak commented on #515
If you're ejecting your leaving the bounds of the CLI, so you'll have to handle everything yourself.
We previously had a webpack version you can find here in this branch (https://github.com/angular/universal-starter/tree/angular-5.0/custom-webpack), that might help get you going.

[2018-01-19 00:16] SwamyKottur commented on #515
@MarkPieszak Thanks for sharing this. I will look into ti

[2018-01-19 13:39] wibaldwin commented on #527
I haven't done much since I am just beginning with Angular but so far going
through the tutorial everything has worked as expected.

On Jan 18, 2018 4:52 PM, "Mark Pieszak" <notifications@github.com> wrote:

[2018-01-19 14:58] indiefun commented on #527
update @angular/cli to latest version 1.6.5 will fix this issue

[2018-01-22 13:10] intergleam commented on #411
a follow-up, If I need to retrieve a user balance in OnInit and it involves DB call, naturally I want to do it first time using SSR and next time (for example when user switches to /account) on the client side. In both cases lets say I need to call some `db.getBallance()` method which has access to db login/password. Can you please suggest an architecture for that? Seems like a typical scenario. T

[2018-01-23 20:06] fabiolima opened #533 "Angular services on server side"
Hi, there is a way to use angular services on server side?

In my server.ts i have an route like this:

`app.get('/example/**', ExampleController);`

and inside `function ExampleController(req, res) { .... `

I want to use my `DataService` but he needs to be injected, right?

* my `DataService` depends of another abstraction named `RestService`

So i'm trying this:
`...`
`import { Injector } from

[2018-01-24 07:45] m98 commented on #533
There is no problem in using services in the server-side.
Actually, Angular runs your code both on server, and browser. But sometimes, you need to run a code just on server-side. Then you can specify the platform type.

[2018-01-24 17:35] fabiolima commented on #533
@m98 Thx for repply.

I know about platform type, but I need to use the service inside of Node. On angular, if your service is globally provided you just need do something like:
`import { Service } from './path' ; `

`@Component({...}) `
  `  class MyComponent { `
  `  constructor(private service: Service) { }`
`}`

and the Angular resolves the service dependencies and injects into constructor, bu

[2018-01-25 12:14] AhmedHassan07 commented on #389
I am having same problem with angular universal. any solution?

[2018-01-25 15:48] avsek477 commented on #389
Add this to your tsconfig.json file. By default, the angular neglects the
meta data. Also, my server response always throws the index.html. But in my
front end, the api responses are all good. I cant figure out why my
server.ts isn't throwing any reponse other than index.html

angularCompilerOptions": {
    "skipMetadataEmit" : false,
    "strictMetadataEmit": true
  }

On Jan 25, 2018 17:59, "Ahm

[2018-02-01 17:17] istrdev commented on #503
--output-hashing media

https://github.com/angular/angular-cli/wiki/build

[2018-02-06 10:07] sjogren opened #534 "Not possible to inject values with InjectionToken from node server to server bundle"
I try to inject values from the `server.ts` into the built server bundle of the application like so:

**server.ts**
[code]

**tokens.ts**
[code]

**app.module.ts**
[code]

The `REST_URL` token is not recognized by the application injector since it is not the exact same reference to the token (it is defined in 2 places in the built `server.js`.

This generates the following error:
[code]

---

Repr

[2018-02-06 14:52] sambelsky opened #535 ""GET /about" Error (404): "Not found""
![image](https://user-images.githubusercontent.com/34452640/35865774-6b615888-0b7b-11e8-9cf7-700dda0453fc.png)
![image](https://user-images.githubusercontent.com/34452640/35865789-78d4b42e-0b7b-11e8-9b2b-9b80efd1a8f1.png)
why its showing not found .. can i fix this?

[2018-02-07 09:31] adrienlamotte opened #536 "Is it possible to use SSR only for bots/crawlers ?"
Hello,

I'm using Angular Universal with my app, but I have some strange flickering when the page load (transition between server version and the actual app. And I does'nt work well with my route having Guards (user account pages for ex).

I only need SSR for SEO... So maybe there is a way to use SSR only for crawler bots ? And serve the classic Angular app for users ?

For now, I'm using the same

[2018-02-07 12:43] elSuperRiton commented on #468
Hey guys, got sort of a similar issue here.

I have my router wrapped around a canActivateChild that sends a request to an api in order to get some config before rendering. Had to do it this way since the APP_INITIALIZER still allows the router to render.

Anyways, the router outlet is completely empty when using server side rendering and I have no clue if that comes from delaying the routing or a

[2018-02-07 21:50] djabif commented on #529
Hello @qlaffont, how did you solve this issue?

[2018-02-08 07:57] qlaffont commented on #529
I have fix this issue with an update at the beginning. After that, try to cache with angular universal every request.
If you don't do that, this errors can happened :
1 - It's just a warning message and your app works very well
2 - It's a warning message but your app not works.

[2018-02-08 13:14] djabif commented on #529
@qlaffont thanks for answering. What do you mean by _"an update at the beginning"_?

[2018-02-08 13:18] qlaffont commented on #529
I have use this library npm-check-update. Do an update with ncu and after do an npm update.

[2018-02-09 09:18] dneeleman commented on #536
Hi @adrienlamotte you should have a look at [`Preboot`](https://github.com/angular/preboot).
I think that library will solve your issues!

[2018-02-12 17:07] KrGyan commented on #535
Have you defined the route for about in  your routing module?

[2018-02-12 17:33] thovo opened #538 "Error Not Yet Implemented with Webpack when run node dist/server.js"
Hi everyone,

I am not sure this is the right place to ask the question regarding my issue. If not, please accept my apology and remove it!

I were following the [guide ](https://github.com/angular/angular-cli/wiki/stories-universal-rendering)to implement Angular Universal for my application. Everything worked out well until the last command `node dist/server.js` throw an error `Error: NotYetImple

[2018-02-13 00:06] Toxicable opened #539 "Unit and e2e testing examples"
We should add some examples of how to unit and e2e test against Universal specific areas of the app.

[2018-02-13 00:08] CaerusKaru commented on #539
Should this maybe be in the `@angular/universal` repo too? I can write up a unit test guide based on my work on angular/flex-layout#567, but I think it should probably go there.

This is of course assuming we want to keep the universal-starter as a "pick up and go" kind of repo. Making specialized tests here would force the user the remove them as they specialize the app.

[2018-02-13 02:07] Toxicable commented on #539
Good point.
As discussed we'll make examples over there which we can use for testing aswell

[2018-02-13 02:07] #539 closed

[2018-02-14 01:53] seetharaghavan opened #540 "When using Angular Resolve Server side Rendering is not happening"
When i use angular resolve to load data before hand and use the data in the component server side rendering is not happening. When i do curl it returns with <router-outlet></router-outelt> for routes using resolve.

For routes not using resolve it is rendering the whole content.

for Resolve routes
![image](https://user-images.githubusercontent.com/16444717/36184122-d1a67eca-1157-11e8-9ebd-17f0642

[2018-02-14 07:10] CaerusKaru commented on #493
Is this still an issue?

[2018-02-14 07:11] CaerusKaru commented on #491
It's been decided that this will be consolidated into the `@angular/universal` repo as an examples directory.

[2018-02-14 07:11] #491 closed

[2018-02-14 07:13] CaerusKaru commented on #518
Can you provide a minimal reproduction repo so we can investigate?

The repo should build on a clean install.

[2018-02-14 07:14] CaerusKaru commented on #515
@SwamyKottur Can this be closed?

[2018-02-14 07:14] CaerusKaru commented on #503
@freezy Did @istrdev's solution work for you?

[2018-02-14 07:16] CaerusKaru commented on #527
Closing as not an issue with this repo (building from fresh install pulls in CLI ^1.5.0 which resolves to 1.6.8)

[2018-02-14 07:16] #527 closed

[2018-02-14 07:17] CaerusKaru commented on #502
Closing as not an issue with the starter. To run SSR, your bundles can't have references to the global window object.

[2018-02-14 07:17] #502 closed

[2018-02-14 07:22] CaerusKaru commented on #497
Please try using the newer `HttpClient` from `@angular/common/http`. `Http` is deprecated. Please update the issue and let us know if this is still an issue.

[2018-02-14 07:22] CaerusKaru commented on #494
@dottodot Can this be closed?

[2018-02-14 07:23] CaerusKaru commented on #455
The method for this is to inject the `RESPONSE` token (for either Express or Hapi) and send the response code using that object.

[2018-02-14 07:23] #455 closed

[2018-02-14 07:24] CaerusKaru commented on #535
Please provide a minimal reproduction repo. Pictures are never a good idea for issues. Please keep in mind not everything on the Internet has the ability to interpret images alone.

[2018-02-14 07:26] CaerusKaru commented on #538
The issue is that one of your libraries manipulates a `<canvas>` element, which is not supported by the SSR DOM implementation (Domino). You need to move whatever library is responsible for this into a browser-only part of your app so that it doesn't throw errors on the server.

It's likely this doesn't impact the initial view, so doing this shouldn't impact the overall usability of your app.

[2018-02-14 07:26] #538 closed

[2018-02-14 07:27] CaerusKaru commented on #540
This repository is not a support forum. Better avenues for support include StackOverflow and Gitter.

[2018-02-14 07:27] #540 closed

[2018-02-14 07:28] #506 closed

[2018-02-14 07:29] CaerusKaru commented on #517
The latest version of `server.ts` should have a resolution to this. We can reopen this issue if that doesn't work for you.

[2018-02-14 07:29] #517 closed

[2018-02-14 07:31] CaerusKaru commented on #448
Can this be closed?

[2018-02-14 07:34] CaerusKaru commented on #447
Closing since `universal-starter` no longer has a Webpack branch. To use HMR with Angular CLI, please use the reference I linked above.

[2018-02-14 07:34] #447 closed

[2018-02-14 07:37] CaerusKaru commented on #496
This is not an issue with `universal-starter`. If you have an issue with build time, please post an issue with our build tool, the Angular CLI.

[2018-02-14 07:37] #496 closed

[2018-02-14 07:41] CaerusKaru commented on #534
Instead of using an `InjectionToken`, use a plain string value as follows:

`{provide: 'restUrl', useValue: '/rest'}`

Then inject as follows:

`@Inject('restUrl') private restUrl: string`

I can't say for certain, but I think the issue with the `InjectionToken` is that it gets compiled separately in each bundle, so you get a different reference than the one you want. With string values, it's a di

[2018-02-14 07:41] #534 closed

[2018-02-14 07:42] CaerusKaru commented on #495
Closing as not an issue with `universal-starter`.

[2018-02-14 07:42] #495 closed

[2018-02-14 07:45] Toxicable commented on #515
As @MarkPieszak pointed out; when you eject you're accepting that you can handle the webpack config yourself. It is possible to do Universal in such a situation just we are unable to support it.

[2018-02-14 07:45] #515 closed

[2018-02-14 08:10] #494 closed

[2018-02-14 09:26] freezy commented on #503
Sorry I didn't have the time to test it at the time, but I just did and it seems to work well!

Basically needed to replace `--output-hashing=false` with `--output-hashing=media` in `package.json`. Maybe that would be a better default?

[2018-02-14 10:29] thovo commented on #538
I think the root cause is not the canvas, because I removed it and also the component used it but it didn't help.

[2018-02-14 15:42] samber commented on #540
@seetharaghavan it was happening to me when using old http implementation (@angular/http). If this is your case, you should migrate to @angular/common/http.

It fixed all my weird server side load issues ! \o/

[2018-02-14 16:29] #503 closed

[2018-02-14 16:31] CaerusKaru commented on #538
Then a better avenue for support would be StackOverflow or Gitter. The main repo works on clean install, any added functionality is out of scope for filing issues here.

[2018-02-14 16:53] thovo commented on #538
Can you give me gitter link? Many thanks!

[2018-02-14 20:29] denis-andrikevich commented on #373
up

[2018-02-14 20:43] #448 closed

[2018-02-15 11:43] seetharaghavan commented on #540
Thanks @samber. I still have the issue. I move this to stack overflow like they suggested. The problem is this i wrote a backend script in server.ts file to contact mongodb server and fetch data using mongoose. Previously i used external api from another server to fetch and populate data. backendserver.com/api/details server side rendering happened and *ngFor field is populated. But later i modifi

[2018-02-15 14:05] herzinger commented on #340
Sorry if I'm asking a dumb question, but does this stuff from `@angular/platform-browser` work in the universal prerender phase? It just sounds a bit unintuitive, so I though of asking.

[2018-02-16 06:11] CaerusKaru commented on #538
[Gitter](https://gitter.im/angular/universal)

[2018-02-16 14:46] samber commented on #373
You cannot use local storage, as data from your browser are not available during the server side rendering.
Please note that using localstorage for auth is not recommended !

If you use cookie, this is how to do:

[code]

[code]

[code]

[code]

Enjoy ;)

[2018-02-21 11:12] adrigardi90 commented on #468
Hey, my project is quite advanced as well and I'm getting the same issue you've explained.

In my case the problem is the canActivate param. If I define it for the routing, the server side render does not show any content for the router-outlet. However, if I remove it, everything works and the content is render correctly. I'll try to check what is happening.

Starting for the most simple case in y

[2018-02-22 11:45] coderrepo opened #542 "Rendering Issue"
- Page loading twice and flicking the screen!
https://ngcoderfirst.firebaseapp.com/
- When I access page url routing to home then back to requested URL.
Ex : https://ngcoderfirst.firebaseapp.com/career

I have hosted apps in the Firebase hosting platform!

[2018-02-22 15:46] SwamyKottur commented on #515
@CaerusKaru yes you can close this. I adapted solution from this [repo](https://github.com/qdouble/angular-webpack2-starter) for my project and now my entire project is on webpack. Thanks for looking into my ticket

[2018-02-25 17:07] Nahask opened #543 "404 on api call"
Hi,

I'm currently trying to make a call to my API, but i keep getting a 404 error

This is what I started to do to implement my API

server.ts
[code]

api.js
[code]

app.module.ts
[code]

home.component.ts
[code]

home.service.ts
[code]

And the when i try to reach it after running my devlopment environement with `npm run start`, I got this error

![image](https://user-images.githubusercontent.co

[2018-02-25 21:20] CaerusKaru commented on #543
Did you try either removing or adding a slash at the end of the route URL?

[2018-02-25 21:47] Nahask commented on #543
I just tried that `return this.httpClient.get<any>("/api/")`  (and `app.use("/api", apiRoute);
` and I still got this problem
![image](https://user-images.githubusercontent.com/7364650/36646874-d236dbd0-1a7d-11e8-8b67-59866caca75b.png)

[2018-02-25 21:50] CaerusKaru commented on #543
Unfortunately this is out of scope for the `universal-starter` repo, since we don't have opinionated examples for the APIs. Better avenues for support would be StackOverflow or Gitter. This looks like an Express issue, not one with Universal (i.e. when I use the given `/api/**`, I have no issues).

[2018-02-25 21:50] #543 closed

[2018-02-25 21:51] CaerusKaru commented on #542
Duplicate of https://github.com/angular/angular/issues/15716

[2018-02-25 21:51] #542 closed

[2018-02-25 21:52] CaerusKaru commented on #536
@adrienlamotte Can this be closed?

[2018-02-26 06:13] pppangilinan opened #544 "Error occur on production server after deploying in Firebase Uncaught SyntaxError: Unexpected token <"
Currently I'm using "@angular/cli": "~1.7.1" and  "typescript": "~2.5.3" after deploying my Angular application in firebase I get this 3 errors,

1. Uncaught SyntaxError: Unexpected token < inline.318b50c57b4eba3d437b.bundle.js:
2. Uncaught SyntaxError: Unexpected token < polyfills.bf95165a1d5098766b92.bundle.js:
3. Uncaught SyntaxError: Unexpected token < main.4871dfc6be55ccbf4c0b.bundle.js

[2018-02-26 09:03] adrienlamotte commented on #536
@CaerusKaru yes, thank you.

I ended up using this on particular routes (which need authentification) :
```app.use('/account/**', express.static(join(DIST_FOLDER, 'browser')));```

[2018-02-26 09:03] #536 closed

[2018-02-27 12:28] peterpeterparker commented on #395
@nogo0d

for the module and ts part you could have a look to the following couple of posts, I noticed that my solution was a bit glitchy and had to make some improvements, maybe that could helps you?

https://github.com/ngx-translate/core/issues/754

also since then I have migrated to the angular cli, so not sure anymore that I still use the webpack part of what I described above

[2018-02-27 12:38] nogo0d commented on #395
@peterpeterparker

Will take a look TY

[2018-02-27 12:59] nogo0d commented on #395
@peterpeterparker

Hmm. I can't put this thing working. (Really don't know how to start this...)
This internationalization feature, shouldn't be a really simple task to add to a project?  Is there any way to talk to you privately?! (Really sorry to bother you) :|

[2018-02-27 13:12] peterpeterparker commented on #395
ngx-translate is generally easy to include, it's just that using universal make things at first a bit more tricky

your project is open source? could you link it here?

or would you like to open a stackoverflow issue, document it, and link it here?

[2018-02-27 14:17] nogo0d commented on #395
@peterpeterparker

The project itself is not open-source, but because it is a really early version I can put it there but basically I didn't put anything new. Just followed this: https://github.com/angular/universal-starter

The repository I'm working on:
https://github.com/nogo0d/angular-universal-example

If you could give me some lights I would appreciate.

[2018-02-27 14:38] nogo0d commented on #395
Yes, right.

I'm just trying to find a resource to implement ngx-translate with angular-universal, but I'm not being able to find that..

[2018-02-27 14:44] peterpeterparker commented on #395
Well when it comes to me, this issue and the one I told you above are what I did document.

Have a try and then post your issues, in case you face some, on Stackoverflow. Feel free to link them here and ping me if it happens.

[2018-02-27 14:48] nogo0d commented on #395
Hmm.. OK. Will dig a little more. TY for everything,

[2018-02-27 15:03] m98 commented on #523
Is not it possible to store a cookie for your access token, and accessing it from the server, and browser?

[2018-02-27 16:36] nogo0d opened #545 "How-to: Add internationalization (i18n) to SSR Angular Universal App"
I'm trying to add internationalization to an app made with universal starter, and it's being a really pain in the ar**...

Does anyone know if is there any resource to implement i18n feature to a Server Side Rendered Page?

Thank you very much for your help!

[2018-02-27 16:43] chintan13 commented on #545
yes, can you please explain what problem you are getting? I have used ngx-translate module for translations

[2018-02-28 10:36] Colt-M4 commented on #373
@samber Thanks! Worked for me well.

[2018-03-01 12:31] diegogarciaa commented on #62
jeffwhelpley I think you need to organize these issues... I keep seeing you opening and closing issues related to this

[2018-03-01 21:09] prosto-artem opened #546 "How to start the project with AOT"
Hello, everybody!
Sorry for creating an issue, kinda new with angular-universal, but i have a question about using AOT with it.

Is there any FAQ or at least some instructions about how can i get this going for my prod build?
Is that even possible or do i have to choose between SSR or AOT?
I've listed others closed/opened issues about this theme, but could not actually  find anything usefull
 to m

[2018-03-02 12:55] postmeback opened #547 "Cannot find module node-sass"
Whenever i am trying to run my project using angular-cli it gives the below error:

ERROR in ./node_modules/raw-loader!./node_modules/postcss-loader/lib??embedded!.
/node_modules/sass-loader/lib/loader.js??ref--8-3!./src/styles.scss
Module build failed: Error: Cannot find module 'node-sass'
    at Function.Module._resolveFilename (module.js:538:15)
    at Function.Module._load (module.js:468:25)

[2018-03-02 12:58] postmeback commented on #547
Till now what i have done:

1. Deleted the node_modules folder and reinstalled it using **npm install** -- No Success
2. Tried to install node-sass package by using **npm install node-sass** -- No Success

[2018-03-02 17:03] nogo0d commented on #545
Hi there! The problem is that I couldn't find any place to have a really complete guide to support translations in a SSR angular App. But nevertheless I made it :|..

Hmm yes! I have used the i18n official from Angular, and realized that is very painful, because you need to create a build for each language that you want to support.

After that I created a POF with ngx-translate, but right now the

[2018-03-05 09:37] wryly commented on #542
This issue is still occurring. angular/angular#15716 was closed with a request to create a new issue with minimal reproduction. This issue does that.

Any updates on a fix for this and angular/angular#15716? Should another issue be submitted?

[2018-03-06 13:07] meeraPurohit commented on #389
@avsek477 I'am using angular 5 and I implemented this on tsconfig.json file but no success.
Can you help me out of this?

[2018-03-06 13:22] meeraPurohit commented on #340
Hey, @matiishyn I using angular 5, I implemented DomAdapter, on run time, I got error
**Module not found: Error: Can't resolve '@angular/platform-browser/src/dom/dom_adapter'** .
When I searched for this, I came to know that this is a private API.
Do you have any other alternatives for this?

[2018-03-06 13:55] meeraPurohit commented on #378
Hey, @orgbx, I tried implementing you approach, but I got the following error while importing
**import {__platform_browser_private__} from '@angular/platform-browser';**
**[ts] Module '"DIRCTORY/node_modules/@angular/platform-browser/platform-browser"' has no exported member '__platform_browser_private__'.**

Do you have any other solution for this? Or I'am not correctly importing it?
Please help

[2018-03-06 14:06] chozharajan commented on #356
@kevinlllR are you fixed this  _**"navigator is not defined**_" issue give me some guidelines step by step am also getting the same error and others as well waiting for replay

[2018-03-07 07:40] jorgjanke commented on #356
Steps to reproduce:
ng new --style scss --routing true --service-worker www.abc.com

ng generate universal ngu-app-shell
.. add router outlet
ng generate app-shell my-shell --universal=ngu-app-shell --route=app-shell-path

ng build --prod
\Date: 2018-03-07T07:35:39.184Z
Hash: dc03561d506c82fd921d
Time: 11863ms
chunk {0} polyfills.bf95165a1d5098766b92.bundle.js (polyfills) 59.4 kB [initial] [render

[2018-03-09 23:29] MrJmpl3 commented on #448
If you used self sign cert , the problem is the Angular Universal used Express and the security validate the ssl certification to the server , i used a self sign ssl
 , the solution is add the env NODE_TLS_REJECT_UNAUTHORIZED=0 to disable the verification SSL in NodeJs , warning this env is only in dev , in production is so risky

[2018-03-09 23:54] Phoscur commented on #533
@fabiolima I think you are comparing Angular Application Serverside Rendering and REST API declaration, in the search of a common denominator. You won't find much. You can reuse your Constants, Functions and Classes undecorated in Angular land. Your example API needs to factor out for example validation, so these parts can be reused in serverside and clientside execution.

As I understand it, the

[2018-03-10 00:00] Phoscur opened #549 "Fix tests"
The Angular CLI config contains configuration for karma and protractor, but they actually do not exist.
It would be nice to see the SSR build tested e2e!

[code]

[2018-03-10 00:09] Phoscur commented on #549
Possible duplicate of #435

- Unit Testing (Karma) is unrelated to SSR
- E2E Testing (Protractor) is very relevant for SSR/AOT production modes as currently JIT compilation is used for development

[2018-03-10 20:37] tunecino opened #550 "[Question] is there a reason to blacklist 'rxjs/operators' ?"
Sorry for asking this here. I'm confused about importing from `rxjs/operators` being blacklisted in **tslint.json** file while [RxJs Pipeable Operators docs](https://github.com/ReactiveX/rxjs/blob/master/doc/pipeable-operators.md#pipeable-operators) indicates this way of importing them:
[code]
Is there a reason for such blacklisting? is it better to import them individually as `rxjs/operators/tap`

[2018-03-10 21:02] Toxicable commented on #550
By importing from `rxjs/operators` you will pull in all operators.
Therefore you should import from `rxjs/operators/operator`

[2018-03-10 21:49] tunecino commented on #550
Understood. Thank you for the reply @Toxicable

[2018-03-10 21:49] #550 closed

[2018-03-11 09:00] evgenyetoro commented on #181
I have the exact same issue? Is there a solution?

[2018-03-12 09:53] samber commented on #523
LocalStorage is not available server side. You have to store your auth token into cookies.

[2018-03-12 10:01] stephanegg commented on #523
Sure, do you have any example on how to send the auth cookie on browser side and get it back server side? It would be really helpful (for me and a lot of people I think as it s not really well documented)

[2018-03-12 18:26] stephengardner opened #551 "Multiple issues with building this on Heroku"
First, you'll get an error due to a `yarn.lock` and a `package.lock`.  Second, the button to deploy to heroku doesn't work; Heroku complains about a missing `app.json` file.

There should ideally be some instructions on how to deploy this to Heroku without using the button.

I'm trying to get it to work.  Not succeeding, but if I do I'll let you know

[2018-03-12 18:32] stephengardner commented on #551
Figured it out.  There are a few other open issues so I'll close this one

[2018-03-12 18:32] #551 closed

[2018-03-13 05:42] stephengardner commented on #489
@mohammedzamakhan I wrote about all the reasons why this isn't deploying on heroku (and how to get it to deploy) [here](https://medium.com/augie-gardner/deploying-an-angular-universal-app-to-heroku-eca2b7966947), I also put together a git repo where the `Deploy to Heroku` button works for this app [here](https://github.com/stephengardner/universal-starter-heroku) - feel free to clone or try the bu

[2018-03-13 20:07] agustinhaller opened #552 "Missing specified styles (both through [ngStyle] or using Renderer2 .setStyle in custom component"
Just added a new component to the lazy view (`<test-component>`) and set `[ngStyle]="{'padding-bottom': '100%'}"`.
When I run `npm run build:ssr && npm run serve:ssr` the `<test-component>' in the server side rendered view does not have the styles appended.

I also reported this issue here: https://github.com/angular/universal/issues/929

But I don't know if it's either the build process specified

[2018-03-13 20:11] agustinhaller commented on #552
@gdi2290 any hint on what may be causing this?

[2018-03-13 21:24] CaerusKaru commented on #552
Might be related to https://github.com/angular/angular/issues/22536? Did you try doing something like `[ngStyle]="{'paddingBottom': '100%'}"`?

[2018-03-13 21:30] agustinhaller commented on #552
@CaerusKaru just tried `paddingBottom` instead of `padding-bottom` and no luck. What I found weird is that it's not working even using Renderer2 `setStyle()` method

[2018-03-13 21:31] CaerusKaru commented on #552
The reason is because under the covers the `NgStyle` just uses the `setStyle` method

[2018-03-13 21:34] agustinhaller commented on #552
In my smoke tests, this behavior was not present in Angular 5.0.2

*Working example using Angular `5.0.2`*
[code]
[code]

* **NOT** working example using Angular `5.2.8`*
[code]
[code]

Angular 5.0.2 was using Domino or Parse5DomAdapter? Maybe that introduced the bug.

[2018-03-13 21:36] CaerusKaru commented on #552
The bug I referenced was introduced in 5.2.7

[2018-03-13 21:41] agustinhaller commented on #552
Hope they merge your [PR](https://github.com/angular/angular/pull/22527) soon

[2018-03-13 21:46] CaerusKaru commented on #552
I'm closing this issue until then, because this is definitely not an issue with universal-starter (and likewise with Universal)

[2018-03-13 21:46] #552 closed

[2018-03-14 06:14] chozharajan opened #553 "update meta tag after API call does not work"
`constructor(private meta: Meta){

     this.meta.updateTag({ name: 'description', content: 'Angular 4 meta service' });
      this.meta.updateTag({ name: 'Keywords', content: 'Angular 4 meta service' });
      this.meta.updateTag({ property: 'og:title', content: 'Angular 4 meta service' });
      this.meta.updateTag({ property: 'og:description', content: 'Angular 4 meta service' });
      this.me

[2018-03-14 11:09] samber commented on #523
@stephanegg https://github.com/angular/universal-starter/issues/373#issuecomment-366254611

[2018-03-16 03:45] erashu212 commented on #529
For me, It does not work :(

[2018-03-17 08:24] kamalakkanni opened #554 "After deploying to my iis server ,server side renderingdoesn't working"
Hi,

As per this tutorial ,I have deployed only browser folder from dist.But server side rendering is not working.pls help me to fix it.

Thanks

[2018-03-17 17:29] hesampour commented on #554
replace port with the following code
const PORT = process.env.PORT || 4000;

I solved this problem but have another problem that the screen goes white after changing the route

[2018-03-18 22:56] orgbx commented on #378
@meeraPurohit My solution was for angular 2 where universal was flaky and patchy. Things have quite changed since then and while I'm not updated on the framework anymore, I do recall that Angular 4 included a big overhaul of the universal approach where meta tags were now natively supported. Good luck.

[2018-03-19 05:00] meeraPurohit commented on #378
Hey @orgbx,
Thanks for the reply. I tried it in angular 5 and succeeded. Those were really hectic days for me.

[2018-03-19 06:07] kamalakkanni commented on #554
Hi,

My server.ts already has this line only

Thanks

[2018-03-19 06:13] kamalakkanni commented on #554
If i run below comments
             npm run build:prerender && npm run serve:prerender
and moving dist/browser to iis ,my contents rendered in View page source .But updated meta tags are not rendered.

Pls help me to fix it

[2018-03-19 17:08] G1itcher opened #555 "Fork with testing implemented?"
It's all done locally at the moment, but would you be interested in pulling a fork with testing via Mocha for server and Karma for client implemented, functional, and debug-able?

[2018-03-22 10:39] netlander opened #556 "Component Dynamic Content Generates ERROR [Error]"
Using a component that gets it's dynamic content from Http service generates cryptic errors like this:

[code]
(One for each component/directive that fetches data from server).

So far the packaged site works but was wondering what the errors were and if they had any significant effects on the long term running/performance of the site.

[2018-03-22 15:14] khaing211 opened #557 "Is it a good idea that ... ?"
Hi,

I have been researching the best way to implement AngularJS 5 in the following usecase:

1. The data provider is all backend i.e. either another service or a backend db requires credentials (that should not expose to the client in any way).
2. There won't be any exposed REST API to data provider i.e. there won't be /api/book/:id to get a particular book.
3. Since there is no REST, we fall bac

[2018-03-22 18:47] Toxicable commented on #556
I don't know what those errors are.
You'll have to post more information or a minimal reproduction.

[2018-03-22 19:11] CaerusKaru commented on #556
Related to beta.6/beta.7 issues

[2018-03-22 20:46] CaerusKaru commented on #556
Found the issue, will be patched in v5 final

[2018-03-23 10:56] netlander commented on #556
@CaerusKaru glad you've found the issue, actually pretty easy to replicate. The app seem to work even though it errors and it looks like the bundled Express is complaining about something...

 Can you elaborate a bit more on what the problem is?

When is v5 final due?

Thanks

[2018-03-24 12:59] pier7529 opened #560 "Module not found: Error: Can't resolve 'encoding' .../node_modules/node-fetch/lib'"

[2018-03-24 14:05] pier7529 commented on #560
Error on my side

[2018-03-24 14:05] #560 closed

[2018-03-27 16:26] apizzimenti opened #561 "Third-Party Library Compiled in Server"
Using the [`createjs-module`](https://www.npmjs.com/package/createjs-module) third-party library seems to break the compilation process for Universal. I have this code:

[code]
Still, I am stuck with a `ReferenceError: window is not defined` when I compile. When I check the results of the compilation, it seems that `createjs-module` is being shimmed into the `/dist/server.js` file. Why is this hap

[2018-03-27 21:28] cmddavid commented on #557
I think you are trying to solve your back-end problem in the wrong area. Even though angular has server side rendering, it still essentially is a front-end framework. Trying to hide your api endpoints by only using them in your server.module could potentially work, but it would be a tough nut to crack. For instance, server side rendering is only triggered for the initial render, after that your ap

[2018-03-27 21:32] cmddavid commented on #528
There is, you can use the universal cache to rehydrate your application.

[2018-03-28 08:37] khaing211 commented on #557
I agree with all you said, because that is the current target usecase Angular focus on. Constraint #3 above is artificial i.e. in the usecase of pagination or datatable, Ajax is, no doubt, a better implementation.

The reason I start to explore the path (described in my previous post) is that, under the current Angular guidance/standardize setup, Angular HttpClient on platform-server make another

[2018-03-29 01:31] viethoanganh79 opened #562 "Preloading in this project"
many tks author, it nice example 👍
but i want Preloading in this project
how i can include Preloading???

[2018-03-29 08:21] kamalakkanni commented on #378
Hi @meeraPurohit ,

I am also using universal in angular5 project.My updated meta tags are rendered in view page source in localhost:4000.After deploying this to iis.It is not rendering updated meta.pls help me to fix it.I used Meta service which is from @angular/platform-browser

Thanks

[2018-03-29 08:53] meeraPurohit commented on #378
@kamalakkanni

First of all you need to create a shared service like this

[code]

Then after in you routing file, you need to put
[code]

and inside you every component you need to import your shared file and call the addSeoData into constructor like this

[code]

Hope this will help you. and do reverrt me if you succeed.

[2018-03-29 17:46] izupet commented on #517
I am facing the same issue (using latest server.ts). Express version 4.16.3.

[2018-03-29 20:07] enricodg-binus opened #563 "SSR problem"
So, after i follow and do the steps, I get the following error when building the ssr.

Module build failed: TypeError: Cannot read property 'afterCompile' of undefined
    at successfulTypeScriptInstance (/Users/enrico/code/fp_web/node_modules/ts-loader/dist/instances.js:167:28)
    at Object.getTypeScriptInstance (/Users/enrico/code/fp_web/node_modules/ts-loader/dist/instances.js:51:12)
    at Ob

[2018-03-29 20:53] #563 closed, assigned to nobody

[2018-03-30 10:33] Thommas commented on #545
That's my current config:
[code]

All that's left for me to figure out is how to customize prerender.ts and server.ts used by webpack to target the right build folder.

[2018-03-30 12:03] chozharajan commented on #514
@kalyan1102, @m98  i don't have knowledge in _nginx_ . we are hosting our project  in IIS web server. any one tell me how to host universal project in IIS server. for normal angular project i move all bundles in `dist` to `mywebsite/Allfiles` folder. but in universal i have two folder `server and browser`. i moved all files from server and browser. site works but universal not working(view source)

[2018-03-31 11:44] canbakis commented on #523
I am also struggling with this issue and I have problems with these parts:
- How to send localstorage / document.cookie to server side and save.
- How to get cookie into my AuthGuard in isPlatformServer() area to check and into the http.client headers.

I tried to use `@Inject(REQUEST)`  but gave me a an error.
I would also need a way to delete the cookie if the authentication expires.

[2018-04-02 04:57] kamalakkanni opened #564 "How can I host this project in iis"
Hi ,

Can anyone pls guide me to host this project in iis server

Thanks

[2018-04-02 13:57] netlander commented on #556
@CaerusKaru @MarkPieszak is it safe to ignore this issue while we're waiting for the fix in v5 final?

[2018-04-03 15:48] tomschreck commented on #356
I'm getting the exact same issue following Angular University's Angular PWA course

[2018-04-04 12:38] jedrichards commented on #181
@intergleam The presence of a XHR on the client doesn't necessarily mean the server didn't also make the request while it was rendering.

[2018-04-05 06:12] quangpdt commented on #347
The solution from @kevinvella did the job but it increased the server response time a lot. So I decided to go with CloudFlare and use their minify tools for all JS, CSS and HTML

[2018-04-05 07:48] kamalakkanni commented on #564
pls help me

[2018-04-05 19:29] MarkPieszak commented on #564
Take a look at this comment, I believe it's possible with IIS Node:
https://github.com/angular/universal/issues/769#issuecomment-364952768

[2018-04-06 21:58] RubensTen commented on #439
the same problem with
Angular 5
Angular universal 5

Any solution ?

[2018-04-07 20:57] YerayMnopi commented on #556
Hi
I have the same issue. I was using 5.0.6-beta. Now I am using:
 "@nguniversal/express-engine": "^5.0.0",
  "@nguniversal/module-map-ngfactory-loader": "^5.0.0",

But the problem persists.

Thanks

[2018-04-08 14:20] masoudline opened #568 "Now showing update on view sources"
I used Angular Universal and build production of browser and server folders but when i load http://localhost:4000, Dynamic child components and dynamic meta tags and title not showing on view sources.
The child components have a lazy module.
In other words, for all pages, it brings the static view source of front page: https://paste.ubuntu.com/p/HkVcgpgGWd/
this is my server.ts file: https://paste

[2018-04-10 12:13] den-luschitsky commented on #271
@iUwej, for response object you should use following approach in server provider sections:
`{ provide: RESPONSE, useFactory: () => options.req.res, deps: [] }`

and then in your component
`import { RESPONSE } from '@nguniversal/express-engine/tokens';`
`import { Response } from 'express';`

`constructor(
    @Inject(PLATFORM_ID) private platformId: Object,
    @Optional() @Inject(RESPONSE) private

[2018-04-11 08:24] masoudline opened #572 "Angular Universal (SSR) and Ckeditor 4 error"
Hi, I used angular universal for server-side rendering and ng2-ckeditor.
when I want to be compress and webpack ng2-ckeditor the belove error show:

CKEditor 4.x is missing (http://ckeditor.com/)
how can I resolve this problem? I must be used ng2-ckeditor !!

[2018-04-11 13:08] masoudline opened #573 "Which editor is suitable for Angular Universal?"
Hi,
Which editor is suitable for Angular that renders at server side without error? I test ng2-ckeditor, ngx-editor, ng-ace-editor and... but all of theme have many errors.

[2018-04-13 07:46] kamalakkanni commented on #564
thanks,its working fine

[2018-04-13 07:46] #564 closed

[2018-04-16 09:34] m98 commented on #573
Is there any reason you need to have the WYSIWYG editor to be rendered by Node on the server?

Why don't you just make a new pipe, or function which just only renders the WYSIWYG editor when it's in the browser?
[code]

[2018-04-17 12:10] stepan-perlov opened #575 "Rendering Question"
Good day,

How setup universal-starter for rendering only first load on server-side?
Now, when I click link - page reload.

[2018-04-17 12:16] stepan-perlov commented on #575
Miss configuration for static files.

[2018-04-17 12:16] #575 closed

[2018-04-18 14:50] hesampour commented on #436
@MarkPieszak method not worked for my project.

[2018-04-21 20:01] atelljohannsmothers opened #576 "Setting base href dynamically from express"
What is the recommended way to set the base href dynamically from Express? At the moment, I am using handlebars to compile and render on every request.

[code]

[2018-04-21 20:40] Toxicable commented on #576
You could have a platform check as part of your app bootstrap process which sets the app href

[2018-04-22 18:09] atelljohannsmothers commented on #576
I'll give that a try! Thanks for the suggestion!

[2018-04-23 09:58] dineshk16feb commented on #530
I getting below issue after run "npm run build:ssr",

ERROR in multi ./src/main.server.ts
Module not found: Error: Can't resolve '/Users/Dinesh/Downloads/universal/src/main.server.ts' in '/Users/Dinesh/Downloads/universal/node_modules/@angular/cli/models/webpack-configs'
resolve '/Users/Dinesh/Downloads/universal/src/main.server.ts' in '/Users/Dinesh/Downloads/universal/node_modules/@angular/cli/m

[2018-04-24 17:28] SwamyKottur opened #577 "Lazy Loading Behavior On Browser from a Server Rendered View"
I know the app bootstraps again on browser when it is rendered and pushed out from server. But the UX is not seamless for the lazy loaded routes where for a blink the page goes empty after a initial server rendered view and then paints again.

Not sure if this is the behavior or am i missing some configuration

Any help in this regard is appreciated.

[2018-04-27 08:53] vforv commented on #490
Hi @FriOne Could you show some example for this:
ts-node-dev --fast --respawn server
?

[2018-04-27 10:09] Toxicable commented on #490
Im slowing chipping away at something which could help in this area.
Take a look at this here: https://github.com/angular/devkit/issues/595
as a very rough and early demo you can checkout this here: https://github.com/Toxicable/nodejs_target_demo
Note: this dosen't actually include anything Universal, but it's the groundwork required to add Universal to it later

[2018-04-27 15:53] glebmachine commented on #521
Use router resolving mechanism

[2018-04-29 11:15] nitinhepat commented on #553
+

[2018-04-29 15:57] chazguerrero commented on #514
@chozharajan we host a universal app on iis in aure you need to add the below to your webconfig.
if you are hosting the iis server on your own hardware make sure you have the iisnode module installed
[iis-node github](https://github.com/tjanczuk/iisnode)

[code]

hope this helps!

[2018-04-30 05:42] kamalakkanni commented on #514
@chazguerrero Thanks.I have installed iisnode and nodejs  in my production server.Tehn I put above lines in web.config.I got error as

403 - Forbidden: Access is denied.

I tried to fix this by changing my config as below

<?xml version="1.0" encoding="UTF-8"?>
<configuration>

   <system.webServer>
    <handlers>
           <add name="iisnode" path="/server.js" verb="*" modules="iisnode"/>
     <

[2018-04-30 16:43] sunnykreative opened #578 "How to deploy this project to aws?"
I have two folder browser and server. Other two files prerender and server.js. I dont want to use prerender. Can you suggest me how I can host this project to aws ec2?

[2018-05-04 14:37] dpinheiro commented on #378
I had a problem with the Meta service and universal as well, and it turns out if access document object before setting the meta tags, the meta tags will not show up (they show when app bootstraps in the browser but not on server render as pretended)

[code]

If `this.shareUrl = document.location.href` is becomes first than the tags will not work

[2018-05-05 06:33] a13972848 opened #579 "WARNING in ./node_modules/@angular/core/fesm5/core.js"
![555](https://user-images.githubusercontent.com/34478822/39660426-510a521a-5071-11e8-9663-2841b667e071.png)

In Angular 6;
and
npm run build:ssr && npm run serve:ssr

[2018-05-06 09:58] Vetm opened #580 "Development with API-Routes is unoptimized"
I'm experiencing similar problems as #518. The current solution for developing with API-routes is not very pleasant.

The server.ts has an [example](https://github.com/angular/universal-starter/blob/master/server.ts#L36) for using API-routes. However, in order to use this you'll have to do a complete [production build](https://github.com/angular/universal-starter#production-also-for-testing-ssrpre

[2018-05-06 11:58] peterpeterparker opened #581 "Error: No module factory available for dependency type: ContextElementDependency"
[X] I want to submit a bug

**Behavior**

When I serve the project, I face the error "Error: No module factory available for dependency type: ContextElementDependency"

**How to reproduce the problem**

     git clone https://github.com/angular/universal-starter
     cd universal-starter
     npm install
     npm run start

**Stacktrace**

**Side note**

Look like this problem was already noticed

[2018-05-06 12:40] peterpeterparker commented on #581
Not sure but looks like the solution is to remove webpack, at least I didn't faced the error afterwards, therefore I close my issue

     npm remove webpack webpack-cli --save
     rm -r node_modules
     rm package-lock.json
     npm install

[2018-05-06 12:40] #581 closed

[2018-05-06 14:28] PuriaRad commented on #483
Hi,
I have the same problem with a rest api backend. There are a lot of nested routes with IDs and I want to create a html for each one and then set meta tags.

Would you give me an example of writing appropriate `prerender.js` and `static.paths.ts` please?

Thank you!

[2018-05-06 16:51] PuriaRad opened #582 "Prerender build with 4 level nesting parameters"
For some reasons I want to create prerender build of my angular 5 project instead of server-side rendering.

There are 4 levels in my routes like this:

`example.com/category/:id/subcategory/:id/event/:id/ticket/:id`

Also, There is a rest api backend which I'm using for fetching data for each section. For example, /category/1 is sport, /category/1/subcategory/1 is football and so on.

**First que

[2018-05-06 18:52] Toxicable commented on #582
This is not something Universal can solve for you.
You must know the exact path before you render your app when doing so, Universal cant do a lookup to see if a certain product exists or not.
I think SSR is a better case for you, since that's dynamic and as requests come in for certain products.

However if you did still want prerendering then you could possibly do a API query to find all products

[2018-05-06 19:39] jrojano2 commented on #179
I got the same error and in my case the problem was that I uploaded the content of dist instead of the dist folder

[2018-05-07 09:29] gtzinos commented on #547
Hello guys, probably you use nodejs linux package.

I faced some issues on my Linux environment and I removed it. I suggest you to use a package like nvm or y to manage versions.

[2018-05-07 11:19] netlander opened #583 "Error: No module factory available for dependency type: ContextElementDependency"
This error shows on a fresh install of 6.0.0 (`npm i && ng serve`):
[code]

[2018-05-08 00:34] Toxicable commented on #583
Thanks for reporting this. Looks like it's something to do with what module versions are installed.
What I mean by that is that if you install with `yarn` you wont see this issue since `yarn` is a bit better at handling modules and modules within modules.

So as a work around: use `yarn` instead.

I'll investigate whats going on here otherwise

[2018-05-08 00:38] Toxicable commented on #580
We understand developing agasint Universal is painful right now.
We also have some tooling in the pipeline that'll help in this situation, but it's very much still early stages so we're not 100% how it's going work out just yet.

Right now you could use `ng build --watch` for the frontend and then use `watch` (npm module) to rebuild / restart your Nodejs app when your `/dist` changes.
However, thi

[2018-05-08 01:32] michaelmarshall commented on #583
using yarn to resolve this worked for me. thx @Toxicable

[2018-05-08 07:18] peterpeterparker opened #584 "Edit repo description "Angular 2""
Hi,

I can't provide a PR for this trivial update ;)

Best regards

<img width="1021" alt="capture d ecran 2018-05-08 a 09 15 59" src="https://user-images.githubusercontent.com/16886711/39743286-b7179a28-52a0-11e8-9611-8ff4da3dce97.png">

[2018-05-08 12:57] netlander commented on #583
I'll give yarn a go once again. The last time I tried installing it on Win 10 it didn't go too well...

[2018-05-08 15:36] rtyx commented on #538
I'm getting the same error from ng2-charts (which I see you're also using). This is my error stack trace:

[code]

The problem seems to be here:

[code]

and particularly, here:

[code]

In my case, wrapping the canvas element and displaying it conditionally only if the platform is browser seems to be avoiding the error, at least.

The template:
[code]
The typescript file:

[code]

[2018-05-08 16:19] randomparanoia opened #585 "Environment variables not being replaced"
Hello,

I have searched for this issue but couldn't find anywhere else, it seems that environment.dev variables are not being replaced by environment.prod in the new configuration file in server.js. I came up with this issue since  my app kept breaking because of missing ENV vars on this file in prod. In the last version it did not happen.

thank you.

[2018-05-08 16:28] alexthelion opened #586 "ERROR HttpErrorResponse in Heroku"
Hello,
I'm getting an error message when I click on view-source in Heroku. On the localhost there is no problems.

`2018-05-08T16:09:28.723213+00:00 app[web.1]: ERROR HttpErrorResponse {
2018-05-08T16:09:28.723235+00:00 app[web.1]:   headers: HttpHeaders { normalizedNames: Map {}, lazyUpdate: null, headers: Map {} },
2018-05-08T16:09:28.723238+00:00 app[web.1]:   status: 0,
2018-05-08T16:09:28.723

[2018-05-08 16:32] michaelmarshall commented on #583
I used chocolatey to install yarn on win10pro. it went fine after a restart to get all the consoles to grab it.

[2018-05-08 22:25] Ks89 commented on #583
I suggest to commit also `package-lock.json` created with npm >= 5 to prevent these type of issues

[2018-05-10 08:50] Toxicable commented on #583
So the issue here that we install webpack and @angular-devki/build-angular also installs webpack and due to the 2 copies there's conflicts.
The solution to this is to simply remove our version of webpack, then only the one version will be used.
Just ignore the peer dependency warning from webpack-cli when installing.

I still consider this a work around, we are working on a better solution but for

[2018-05-10 08:50] #583 closed

[2018-05-10 09:58] netlander commented on #583
There only one Webpack Under node_module so the question is where is the other version and how to uninstall it to get this workaround to work?

[2018-05-10 10:01] Toxicable commented on #583
I've have only tested this the cli v6, so unsure if it will work with v5
If you do `npm ls webpack` it should reveal the other webpack install under @angular-devkit/build-angular
Let me know if that's not the case

[2018-05-10 10:34] netlander commented on #583
Yes it shows:
[code]
Tried `npm uninstall webpack` and `npm uninstall webpack@4.8.1` both without much success. Also tried removing webpack dependency from package.json, that didn't work either.

----
**Which version to uninstall and what's the command that does it?**

[2018-05-10 14:50] masoudline commented on #524
@adisonkh how can you solve this problem?

[2018-05-11 07:49] netlander commented on #583
The other thing is this issue shouldn't be closed as it describes a real bug in the 6.0.0 release of this repo, unless the developers are not interested in supporting **npm**, which is totally unacceptable.

[2018-05-11 10:31] Toxicable commented on #583
You can get this working off a project that has `webpack` already installed by doing:
1.`npm ls webpack`
you should have the output
[code]
2. `npm uninstall webpack` then `npm ls webpack`
This will uninstall all copies of webpack so the output should be
[code]
3. Remove package-lock.json and node_modules then `npm install` and finally `npm ls webpack`
Which should then have the output
[code]

If s

[2018-05-11 10:34] Toxicable commented on #579
@a13972848 You can ignore that warning. It's nothing broken, it's simply @angular/router 's use of `System.import()`
You can track this more here: https://github.com/angular/angular/issues/21560

@linusbrolin Your issue is this open here: https://github.com/angular/universal/issues/982
It appears to be related to using `innerHTML`

[2018-05-11 13:36] netlander commented on #583
@Toxicable thanks for your reply and I'm not all that frustrated. OK maybe a little bit due to this mass migration to `yarn` which implies that we should all drop everything and move away from `npm`. For some this is not an option. Will take a look at your solution later on. Thanks again.

[2018-05-13 09:40] gorkemyontem opened #587 "Use environment variable on the server side."
Hi,
I have two environment files. One for development and the other is for production.
When I use `ng build --prod` and print out environment variables in app.component.ts, my browser console shows production variables. However, the terminal (server) is still showing the development variables.
Why I need to use production variables on the server? Because I have different set of configuration on bo

[2018-05-13 18:55] Toxicable commented on #587
duplicate of https://github.com/angular/universal-starter/issues/585

[2018-05-13 18:59] Toxicable commented on #585
You need to use the `fileReplacements` option of the server target.

for example if you modify your server target to look like the below
Then it'll have the same behaviour as `ng build`
except to use the prod config you must use `ng run projectname:server --configuration=prod`
[code]

[2018-05-14 07:52] jongood01 commented on #585
When I try this I get:
Unknown option: '--configuration'

My architect server block looks like this:
`        "server": {
          "builder": "@angular-devkit/build-angular:server",
          "options": {
            "outputPath": "dist/server",
            "main": "src/main.server.ts",
            "tsConfig": "src/tsconfig.server.json"
          },
          "configurations": {
            "stag

[2018-05-14 08:58] KxL51 opened #588 "error 'Callback was already called."
Hello,

When i try to run npm run start i got this error = "universal-starter-master\node_modules\neo-async\async.js:14
    throw new Error('Callback was already called.');
    ^"
I tried this https://github.com/angular/universal-starter/issues/581 but it doesn't solve the problem.
This one have the answer https://github.com/angular/universal-starter/issues/583

[2018-05-14 09:35] #588 closed

[2018-05-14 09:57] Toxicable commented on #585
@jongood01 Ah there appears to be a bug with that command at the moment
https://github.com/angular/angular-cli/issues/10569

instead you can run it like `ng run ng-universal-demo:server:production`
or in general `ng run {projectName}:{target}:{configuration}`

[2018-05-14 11:37] kamalakkanni commented on #514
@chazguerrero  pls help us

[2018-05-14 11:41] kamalakkanni commented on #514
whether I need to move all the files of dist?

[2018-05-14 12:41] m98 commented on #514
@mikkeldamm You need to move the `dist` directory to your server. If you're using an Express engine, you just need to start the `server.js` which exists on `dist` directory: `node dist/server.js`, it will run on a special port as you defined in your configuration (it should be 4000 if you use this repository)

On IIS, you need  to serve that IP and port, and also on all "not found" (`404`) pass it

[2018-05-16 04:50] kamalakkanni opened #591 "which is best server to deploy angular universal app and how to host this"
Hi,

Can anyone tell me which is best server to deploy angular universal app and how to host this.

Thanks and Regards,
Kamalakkanni.V

[2018-05-16 05:29] eddie-hm opened #592 "how use ie 9 or ie 11??"
My angular app edit pollyfills.ts  but After build chrome ok... but ie 11 not working..

What is my server.ts add file??

[2018-05-17 20:10] gorkemyontem commented on #587
Thanks @Toxicable for the answer on #585

[2018-05-17 20:10] #587 closed

[2018-05-18 23:30] Toxicable commented on #579
I just put in a fix for this here
https://github.com/angular/universal-starter/pull/593
feel free to update your webpack config to have this extra line

[2018-05-19 04:04] #579 closed

[2018-05-20 10:17] bnlambert commented on #591
I think server running nodejs is enough.

[2018-05-22 07:17] adeelibr commented on #547
[code]

[2018-05-22 08:38] kamalakkanni commented on #591
ok.Thanks

[2018-05-23 01:03] hiepxanh commented on #591
cheap and almost free for development [with firebase](https://hackernoon.com/deploying-angular-universal-v6-with-firebase-c86381ddd445)

[2018-05-23 08:14] kamalakkanni commented on #504
can you provide me an example

[2018-05-23 09:07] kamalakkanni commented on #591
but for production.We need to pay money right

[2018-05-25 04:08] alxpsr opened #595 "How configure server.ts without CLI ?"
Hi!
I have Angular-app without CLI. But starter-guide say configure angular.json like this:

[code]

How can i configure rightly my server.ts without it?

[2018-05-25 04:43] peterpeterparker commented on #581
The webpack dependency has been now removed in this project too with https://github.com/angular/universal-starter/pull/589

[2018-05-28 12:19] kamalakkanni opened #597 "worker not defined"
Hi,

Below is my worker code

const WorkerPath=require('file-loader?name=scripts/[name].[hash].js!jsstore/dist/jsstore.worker.min.js');

export const _connection= new JsStore.Instance(new Worker(WorkerPath));

I got worker not defined error.So,

I used domino like below in server.ts

[code]

then also getting error.pls help me to fix it

Thanks

[2018-05-29 05:10] #597 closed

[2018-05-29 06:39] alxpsr commented on #595
I found 3 ways:
1. CLI with @angular-devkit/build-angular:server
1. Without CLI, only webpack with @ngtools/webpack
1. Compile only with ngc (i.e https://github.com/bleenco/angular-universal-seed on build:ssr uses only ngc, without any plugins)

What the difference between all this ways?

[2018-05-29 12:58] cmddavid commented on #591
As long as you stay within the limits of the free tier, you won't be paying a dime on Firebase

[2018-05-30 02:01] nghenglim commented on #490
quite similar to this issue, we need a way to quick reload in server mode to catch code that might only run in browser mode.

For example `document` or `window` is both only support on browser, it will be good to catch those during development with `ng serve`

FYI, NextJs actually do reload from server side on file changes, and it helps prevent writing code that will only run in browser, and only

[2018-05-30 17:57] #586 closed

[2018-05-31 17:14] mattbanks commented on #520
@mbrezovsky Don't want to open a new issue, but running into the same thing. What did you end up fixing on your end to get it working? I pulled down and integrated into a current project to get prerendering so we can deploy for SEO, but getting this `Unhandled Promise rejection` error.

[2018-06-01 02:02] philip-firstorder commented on #578
I did it using pm2 and nginx, instructions here:
https://www.google.de/amp/s/blog.khophi.co/serve-angular-universal-server-side-dynamic-rendering-nginx-proxy/amp/

[2018-06-01 04:29] sunnykreative commented on #578
Yes I figured it out. Thanks for the reply.

On Fri, Jun 1, 2018 at 7:32 AM, Philip Sultanescu <notifications@github.com>
wrote:

--
*Thanks and Regards,*
Sunny Bhagat
Follow us on Facebook: <https://www.facebook.com/kreativemachinez/>

[2018-06-01 06:57] cmddavid commented on #591
Even if you have to pay money for it, it still saves you a lot of problems setting up a server and maintaining it etc. So it may be worth the money to stick to Firebase.

[2018-06-01 11:03] philip-firstorder commented on #578
Then this issue can be closed then.

[2018-06-01 18:43] kmturley opened #601 "Missing default angular test and e2e commands"
If you init a new Angular 6 project using:
`ng new projectname`

The package.json looks like this:
[code]

Can you add the missing test and e2e commands to your starter template?

[2018-06-05 09:30] KxL51 opened #603 "Deploy angular universal app on OVH VPS"
I have develop a site with angular 5 which is live for now.

I have put the dist folder content in the html folder and i run server.js with pm2.

But now I tried to deploy the version with angular universal for the SEO and it didn't work properly.
The site is host on a `OVH VPS`.

I got the dist repo like this : https://www.noelshack.com/2018-23-2-1528186340-capture.png.

Where did i need to put t

[2018-06-05 16:27] PeterParker commented on #581
@LawzPopiel -- I think that message was meant for @peterpeterparker ... :P

[2018-06-05 19:09] peterpeterparker commented on #581
hahaha Hi @PeterParker, it's Peterpeterparker 😜
thx for mentioning me

[2018-06-05 19:11] PeterParker commented on #581
[We meet again!](https://github.com/twbs/bootstrap/commit/6708c4dba5a1d3176b53df120706888a1e22fb05#commitcomment-27768317)

No worries. :)

[2018-06-06 10:46] alxpsr commented on #595
okay,
Unfortunately angular-cli does not provide a way to customize the webpack config: https://github.com/angular/angular-cli/issues/1656#issuecomment-239366723

[2018-06-07 03:50] hiepxanh commented on #591
can we close that issue ? @kamalakkanni ka

[2018-06-07 04:01] #591 closed

[2018-06-07 14:00] KxL51 opened #605 "Build Application error"
Hello,

When i launch "npm run build:prerender && npm run serve:prerender", it works fine until "cd dist && node prerender".
I got this error :
`fs.js:885
  return binding.mkdir(pathModule._makeLong(path),
                 ^

Error: ENOENT: no such file or directory, mkdir 'D:\Cour\Serimaj\universal-starter-master\dist\browser\Textiles\tee-shirts'
    at Object.fs.mkdirSync (fs.js:885:18)
    at D

[2018-06-08 08:47] hiepxanh commented on #603
your vps need run as express server and config your proxy to redirect to localhost:xxxx sir.

[2018-06-08 08:48] #605 closed

[2018-06-10 16:01] DionisisKav commented on #373
This solves the problem of passing the request.cookies to the   server side .
But If your api, that is executed on server returns you a new token,  how you will pass it  back to  the client and store it as a cookie ?

[2018-06-11 08:52] KxL51 commented on #603
Thanks for your answer. I have deploy the site but the connection with express doesn't seems to work.
you can have a look : http://www.jetestmessitetranquille.ovh
Go to textiles and what you want.

Got this error message :

`<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Error</title>
    </head>
    <body>
        <pre>Error: Failed to lookup view &quot;

[2018-06-11 13:20] samialmorshedi opened #606 "Auto restart and rebuild angular universal on save"
I turned my application to angular universal. It's great but I have a problem with developing mode. I need to see my editing result real-time. I need restart my app on each atrl+s (save) like `build --watch` `nodmeon`.
My server is Eexpressjs and I'm using the command  `"npm run build:ssr"` after each edit. It takes lots of time!!
How can I do that?

[2018-06-12 02:17] m98 commented on #373
Cookies store in the browser, and by every HTTP request, they send it back to the server. Then you already have access to cookies both on server and browser, and you don't need to do any additional thing. You just need to write a service which is responsible for reading cookies both on server and browser

[2018-06-12 07:51] samialmorshedi opened #607 "Live reloading app on each changes for developing mode"
I have read whole the readme file but there are just 3 deployment ways. One for client-side rendering, 2 others are for production mod. But I need another way for run application client-side and server-side together in live mode for developing. Please help me is there any solution for it.
How can I develop my application by universal on both sides?

[2018-06-12 09:40] chintan13 commented on #607
I was having same issue I am using three terminal with below commands

ng build --target=development --environment=prod --aot --watch
ng build --target=development --environment=prod --aot --watch --app 1
npm run webpack:server && npm run serve:ssr    // make stop/start this one only

so first two commands will be in watch mode and will update build automatically after changes.
so once builds are

[2018-06-12 11:06] chintan13 commented on #607
yes it works for my setup, it seems your setup is little different,

here idea is to run build command in watch mode and then stop/start webpack command.
you should modify your commands accordingly

[2018-06-12 12:00] DionisisKav commented on #373
@m98 i'm not 100 % sure what you  are telling me .Let me reproduce my problem providing you some code.

[code]

return next.handle(request)
     .do(event) => {

   };

}

This is my apihttpInterceptor  that takes the injected request and passing the request.cookies to the xhr requests.
I 'm using **jwt** authentication so every 1 hour the token expires and the server responds with a new
**Set-Coo

[2018-06-12 14:22] chintan13 commented on #607
things been changed much in this demo, I can see your problem now, sorry it will take little time for me to figure it out with this code.

[2018-06-20 09:28] netlander opened #608 "Empty Route Data Since 6.0 Upgrade"
Since the 6.0 upgrade the code below (which reads data from `Router`) no longer works. This code used to work before the upgrade. Now the `event` object comes back empty (title undefined in code below).
[code]
The Router data is configured as follows:
[code]

P.S. Not able to create a Stackblitz project based on this repo (https://stackblitz.com/github/angular/universal-starter)

[2018-06-22 05:21] codearemo commented on #544
Please I have the same issue...did you get a solution. 😞

[2018-06-23 16:25] ishan123456789 opened #609 "Getting error about ngsw-worker.json"
Here's the error

`
ERROR Something went wrong please try again later!
subscrib in toast called
ERROR { Error: Uncaught (in promise): Error: Cannot match any routes. URL Segment: 'ng
sw-worker.js'
Error: Cannot match any routes. URL Segment: 'ngsw-worker.js'
    at ApplyRedirects.noMatchError (E:\xampp\htdocs\universal-starter\dist\server.js:1
45108:16)
`
How should I fix it.I'm trying to implemen

[2018-06-23 18:00] ishan123456789 commented on #609
Fixed using `ng add  @angular/pwa --project ng-universal-demo`

[2018-06-23 18:00] #609 closed

[2018-06-27 01:36] martinabrahams commented on #514
I found something odd when running on IIS with iisnode, which may help some people.

Normally when you perform a build everything goes into ./dist including server.js. When you run the application via npm this is where the server.js needs to live.

However on IIS when wrapping via web.config it needs to have server.js moved to the root of the application (referencing ./dist/server.js as your entry

[2018-06-29 12:57] hinalshah91 opened #610 "We already have an angular 6 + angular universal repository. Can you provide steps to include transfer state in it?"
We already have an angular 6 + angular universal repository. Can you provide steps to include transfer state in it?

[2018-07-02 07:05] m98 commented on #610
It's not hard to use transfer state, you can make your application in a way that services automatically store all HTTP responses in transfer state.

Take a look at this[ pull request](https://github.com/angular/universal-starter/pull/509) and the discussion below that. Both the pull request and discussion are correct and mind how would you like to implement it into your project.

[2018-07-05 15:55] netlander commented on #556
After upgrading to Angular and Universal to 6.0 I'm still getting the exact same behaviour described in this issue.

Any ETA for the fix?

[2018-07-05 16:11] YerayMnopi commented on #556
In my case the error was an extraslash at the end of the requested url.

The api was returning a 301 and the node server throw the mentioned exception.

Yeray Díaz Rodríguez

[2018-07-05 23:24] jbeckton opened #613 "Need help with dist folder paths"
When I run my Universal Starter app locally it works fine, but when I deploy it to Azure App Service the node process.cwd() changes and it prevents Express server from finding the views.

server.ts out of the box

``
const DIST_FOLDER = join(process.cwd(), 'dist');
``

locally it's
/pathToMyAppRoot/dist/

on the server it's
/pathToMyAppRoot/dist/dist/

in both environments I start my app with:
``

[2018-07-06 06:20] GokulaAdabala opened #614 "Issue"
Error: Failed to lookup view "../dist/index" in views directory "dist"
    at Function.render (/app/CustomerPortal_Angular/dist/server.js:156069:17)
    at ServerResponse.render (/app/CustomerPortal_Angular/dist/server.js:160301:7)
    at /app/CustomerPortal_Angular/dist/server.js:135614:13
    at Layer.handle [as handle_request] (/app/CustomerPortal_Angular/dist/server.js:74255:5)
    at next (/a

[2018-07-06 06:21] #614 closed

[2018-07-07 01:11] #613 closed

[2018-07-17 18:00] chriseugenerodriguez opened #615 "http requests"
Hi!

Any chance you got it to print out http requests server side? I am having issue and need help with express build. Want to switch to this, but was main concern.

[2018-07-20 20:58] whisher commented on #609
Hi there,
the same here

[stackoverflow.com/questions/51447558/angular-universal-pwa-error-error-uncaught-in-promise-error-cannot-matc](https://stackoverflow.com/questions/51447558/angular-universal-pwa-error-error-uncaught-in-promise-error-cannot-matc)

[2018-07-21 14:42] Ks89 commented on #609
I removed "//# sourceMappingURL=ngsw_worker.es6.js.map" from dist/appname/ngsw-worker.js and it's working.

Is this a bug of either universal or angular-cli?
My app is completely empty. It's simply the skeleton generated by angular-cli with some stupid additions.

[2018-07-30 11:31] nerdyator opened #619 "How to host it on Apache Server."
I build package with `npm run build:ssr` then i uploaded entire `dist` folder to server. My root directory is `dist/browser` .  (As mentioned in readme file).
But Im not able to get pre-render or SSR response from server.

My another questions are do I need to keep `server` folder in apache directory.

[2018-07-30 12:10] raviayadav commented on #356
@tomschreck got any solution for that?

[2018-07-30 13:55] m98 commented on #615
Please use StackOverflow to ask questions.

I could not understand what you asked, but if you mean how to print out something on Node server, it's easy. Just do `console.log('your text')` and it supposed to work same as the way it works on the browser.

[2018-07-30 15:03] chriseugenerodriguez commented on #615
@m98 your an idiot.

[2018-07-30 15:03] #615 closed

[2018-07-30 16:01] m98 commented on #606
If you have a big application, the watch mode for the server-side version of your app will take some times which is just not necessary; Also, if you will need to install more modules to refresh the browser version  as the dist updates. Because it's a different build, and it's not development mode.

[2018-07-30 16:13] m98 commented on #572
This problem is possible because some modules do not check if they're running on browser or server, it's not a rare case that some of them try to access `document`, `navigation`, or `window` which all will result in an error.

To handle this problem, you'll need to check if you're running on browser first. It means that the application is loading the scripts that the server represented, then you c

[2018-08-01 00:57] Appjak34 opened #620 "Cannot find module "node-mongodb-native""
The latest update broke the connection with mongoose

[2018-08-01 13:06] BenCole commented on #620
@Appjak34 Having the same issue today - did you get to the bottom of it?

[2018-08-01 14:01] BenCole commented on #620
@Appjak34 This PR should resolve the issue :)

[2018-08-06 07:45] vijaycreatise commented on #514
the same issue with Apache server, can anyone please help. what configuration do we need to change in apache to work.

[2018-08-06 21:30] yacineblr commented on #597
Were you able to solve this problem? If so, how?

[2018-08-09 19:56] alandroid opened #622 "Uncaught SyntaxError: Unexpected token <"
The demo works when i clone, install and run it, however when trying to integrate the universal code for my app I am encountering an error, In browser developer tools i see:

`runtime.a35bf39fc5af8ea8b125.js:1 Uncaught SyntaxError: Unexpected token <`
`polyfills.213e726bded9b4cc948c.js:1 Uncaught SyntaxError: Unexpected token <`
`scripts.5af62747973080384020.js:1 Uncaught SyntaxError: Unexpected t

[2018-08-09 20:11] #622 closed

[2018-08-10 06:30] alandroid commented on #605
Did you find a solution?

[2018-08-10 20:56] JonasJW opened #623 "ERROR ReferenceError: document is not defined"
Hello,

I have followed [this](https://github.com/angular/angular-cli/wiki/stories-universal-rendering#serverts-root-project-level) guide  set up universal for my angular project.

Now when I run `node dist/server.js` it gives me the url to the localhost and as soon as I open it I get this Error:

`ERROR ReferenceError: document is not defined
    at new AppComponent (/Users/jonas/Web Dev/ProjectR

[2018-08-11 09:12] GabrielCoriiu commented on #181
I have the same issue. The server doesn't wait for my **async** request to resolve, but it waits for 5 seconds if I set a timeout in the ngOnInit() function. I find this weird...

[code]

[2018-08-12 20:14] abhijeet1403 commented on #623
Not only you cannot use document in your project, But you cannot also use libraries which use document internally. So one of the imported modules is using document internally. So selectively import it.

[2018-08-12 20:18] abhijeet1403 commented on #595
In order to use custom webpack configuration you need to 'eject' out of cli.
Beware though, once you eject you cannot use cli other than ng generate.

[2018-08-12 20:48] abhijeet1403 commented on #401
I'm still getting it. Any fixes yet?

[2018-08-13 04:49] alandroid commented on #623
How do you selectively import?

[2018-08-14 15:57] takahser commented on #395
thanks @peterpeterparker, this was very helpful!
for **angular 6**, the complementary instructions are located here: https://github.com/ngx-translate/core/issues/754#issuecomment-387022945

[2018-08-14 16:00] peterpeterparker commented on #395
@takahser cool and thx for having linked the complementary "instructions" 👍

[2018-08-16 09:52] alxpsr commented on #595
@abhijeet1403 thank's. But how about disabled "eject feature" in angular 5-6 ?
Are there any ways to extract webpack configuration from angular-cli?

[2018-08-17 02:30] ishan123456789 opened #625 "How to import font-awesome in this package"
I'm currently doing it like this:
`$fa-font-path: "../../node_modules/font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";`

And I've tried this as well:
`$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";`

Here's the error I'm getting:

Can you please guide me what configuration change do I need to implement to get it working.

[2018-08-17 17:02] KxL51 commented on #605
Yes, I closed the issue. It was a mistake in static_path.ts

[2018-08-19 03:42] hesampour opened #628 "using animations in universal"
I am trying to use animations in universal mode. I follow the following link help.
https://stackoverflow.com/questions/44330537/need-browseranimationsmodule-in-angular-but-gives-error-in-universal.

1) Remove any reference to BrowserAnimationsModule from app.module.ts and create a separate app.browser.module.ts file which contains:

2) Import NoopAnimationsModule to your app.server.module.ts so yo

[2018-08-20 06:40] venkatinsaditya commented on #581
Exactly I don't know the issue but the build issue gone with the following steps. Thank you peterpeterparker

 npm remove webpack --save
 rm -r node_modules
 rm package-lock.json
 npm install

[2018-08-21 09:48] karimessouabni commented on #581
worked for me thank you

[2018-08-22 17:57] vtulin commented on #595
This article was very helpful for me for using Angular Universal without CLI.
https://blog.angular-university.io/angular-universal/

[2018-08-22 18:34] alxpsr commented on #595
@vtulin thank's

[2018-08-22 20:38] fardre opened #629 "Angular Universal view page source not showing API data"
I successfully used this universal-starter and made my angular 6 app universal. My app is using observable, resolve and promise to get the data from an API. The data that is coming from the API displayed just fine on the page. However when I view the "Page Source" on the browser, I'm not able to see the contents/variables that were rendered on the page. The page source shows html tags but not vari

[2018-08-23 03:38] #629 closed

[2018-08-23 03:41] fardre commented on #629
I found the problem. The problem was that I used $http in a different way where I should have used the plain $http service from angular.

[2018-08-24 06:12] renilbabu03 opened #630 "Data not shown in view source"
I have implemented Angular Universal for Angular 5. Everything has compiled well enough. The only places where I see the universal work ( html with content in view source) is in static pages i.e where no data is fetched from the server. Views having data fetched from resolve or any other means is not shown in the view source of the page. I am not quite sure what I am missing. Can you please help.

[2018-08-26 17:02] Appjak34 opened #631 ""@agm/core" Unexpected token import"
Error to load "@agm/core"

/Users/appjak34/Documents/GrupoR28/node_modules/@agm/core/directives/marker.js:1

(function (exports, require, module, __filename, __dirname) { import { Directive, EventEmitter, ContentChildren, QueryList, Input, Output } from '@angular/core';
                                                              ^^^^^^

SyntaxError: Unexpected token import
    at createScript (v

[2018-08-27 08:04] renilbabu03 opened #632 "Angular Universal Starter for Angular 5 not working"
I have cloned from the angular 5 branch and have implemented the same in my project using cli. I have copy pasted everything that the starter does and have done

`npm run build:dynamic && npm run serve:dynamic`

Though the process gets completed without error but the universal is only working for static pages like home page, contact page .
Pages having data fetched from the server is not working a

[2018-08-28 00:05] MarkPieszak commented on #632
Oh the Angular 5 branch is extremely old (and was just when we were trying to make the huge shift from 4->5). Can you try the latest branch, you should be able to use basically everything in there for 5.0 that you could for 6.x.

Hope that helps!

[2018-08-29 05:15] renilbabu03 commented on #632
@MarkPieszak  Thanks for the reply. I have only one problem left. Since I am using angular 5 in my project , it has **angular.cli.json** file while the **angular 6** starter has angular.json file. And both the file structure is different. How can i use the configuration of angular.json in angular.cli.json. Can you please help.!

[2018-08-29 06:10] peterpeterparker opened #633 "@agm Unexpected token after removing wekpack"
[X] I want to report a bug or problem

**Describe the Bug**
I've got an Angular Universal project which I always sync with the last commits of this project (https://fluster.io)

After removing `webpack` as committed by @CaerusKaru in the following commits

https://github.com/angular/universal-starter/commit/7d59edfc8a9f6a644ae2cf10a79388defb0d2e61

https://github.com/angular/universal-starter/comm

[2018-08-29 07:43] renilbabu03 commented on #632
@MarkPieszak . I have updated my angular 5 project to anguar 6 and have followed the wiki stories. Code is compiling correctly with not problem but the view source is still not showing the required content.
It is showing the same image
![ng6](https://user-images.githubusercontent.com/18526147/44773091-461f6080-ab8d-11e8-90b8-c2ab8afe02db.png)

[2018-08-29 07:46] renilbabu03 commented on #623
Put this code in your server.ts file

[code]

[2018-08-29 09:31] renilbabu03 commented on #540
@seetharaghavan . Have you any update for  the same.. I am also facing the same issue. Its been weeks.. if i remove resolve ..everything works. With resolve it shows the home page having no content. Its quite hard to make angular universal working.!

[2018-08-29 19:52] djabif commented on #545
Maybe it's to late but, I built this repo https://github.com/AngularTemplates/angular6-i18n-demo which uses this universal starter as a base and adds i18n to support multi language. Demo: https://i18n-demo-angular-templates.herokuapp.com/
Hope it helps ;)

[2018-08-30 08:53] seetharaghavan commented on #540
I didn't have any problem with the resolve. The issue i highlighted is that the server side rendering is not happening when we use resolve to communicate to the same server. But everything works fine in the browser. May be you could share your code or give more info so that I could tell you what is the issue