[2015-10-20 12:53] tamascsaba opened #2 "Typescript build error"
[code]

when I add to webpack.config.js:
[code]
then compiled, but come error from angular2/src/core/dom/parse5_adapter.js (missing parse5, lodash, and css and require errors)

[2015-10-20 14:52] gdi2290 commented on #2
If you delete your node_modules and install again does it work? If not can you submit a pull request

[2015-10-20 22:04] ICesarI commented on #2
Same here.
After typing ts-node server.ts I got:
Error: Cannot find module 'parse5/index'

[2015-10-21 04:14] gdi2290 commented on #2
ok I found the problem. can you run this command in your terminal
`npm install -g ts-node webpack webpack-dev-server`

[2015-10-21 18:24] ICesarI commented on #2
Thank you Patrick, it's working now.

[2015-10-21 21:36] #2 closed

[2015-10-22 13:06] jgodi opened #3 "Add in Routes?"
Would be cool to add an example with some routes.

[2015-10-25 11:02] bkinsey808 opened #5 "developer experience"
Does this project require a full build before the developer can see a change on the client reflected in the browser? Could anybody point me toward how to develop with bundling turned off until production deploy? Also, how would I go about trying to get browsersync or something like it to work with this project?

[2015-10-25 21:29] gdi2290 commented on #5
this repo is meant to be very minimal. The fullstack repo will be what you're looking for. I'll update it and get back to everyone once I get back to the states tomorrow

[2015-10-26 06:55] bkinsey808 commented on #5
Thanks! Looking forward to it. I am very impressed by the bootstrapping speed of this project, the fastest ng2 project I have come across yet. With the addition of state-of-the-art tooling, this project could be revolutionary. :)

[2015-10-30 17:24] gdi2290 opened #6 "migrate to angular org"
angular/universal-starter

[2015-10-30 18:05] gdi2290 commented on #6
done.

[2015-10-30 18:05] #6 closed

[2015-11-02 04:12] jtheoof opened #7 "Http requests in universal mode"
This is not really an issue, more of a noob's question. How to perform `http` requests in universal mode.
I'm trying to follow the current [documentation](https://angular.io/docs/js/latest/api/http/Http-class.html).

`app.ts`:

[code]

But the code is actually run in the server, and therefore nodejs is unhappy of `XMLHttpRequest` not being present (which is normal since running this code by the un

[2015-11-02 21:05] gdi2290 commented on #7
Hi Jeremy, this is an undocumented feature (as everything else is in the project). On the server you would import `HTTP_PROVIDERS` from `angular2-universal-preview` which will correctly include a server version of `XMLHttpRequest`

`server.ts`
[code]

`bootstrap.ts`
[code]

this will work but then you have a problem of waiting until all the http calls are done before rendering on the server. We ha

[2015-11-02 22:10] jtheoof commented on #7
Excellent. I think I'll wait a bit more to use the `universal-preview` and get back to it when there is more documentation. Thanks Patrick!

[2015-11-02 22:15] #7 closed

[2015-11-06 02:45] gdi2290 commented on #3
I've merged some fixes in the universal repo so the router should be working now

[2015-11-06 02:45] gdi2290 commented on #3
I'll include a master/detail layout with a navbar

[2015-11-17 07:10] arlair opened #10 "Minimize bundle size"
Hi, I tried this out and noticed the bundle.js created was 1.7 meg.

I had a quick look and found that Webpack has a -p option that will uglify the output. People who know Webpack, may have better ideas.

I realise Angular 2 is in development, but you could add this as a default or an option to make the bundle size a little less scary ;)

Cheers.

[2015-11-19 09:14] danicomas opened #11 "http service - ReferenceError: XMLHttpRequest is not defined"
@gdi2290 After add

[code]

and tsconfig.json:

[code]

**I receive the following error:**

[code]

[2015-11-19 15:45] danicomas commented on #11
https://github.com/angular/universal-starter/issues/7

[2015-11-19 15:45] #11 closed

[2015-11-19 16:02] danicomas commented on #7
+1

[2015-11-20 21:06] gdi2290 commented on #10
The angular team isn't finished working on the production version of Angular 2 which would address the biggest issue, filesize. Adding production to website would also slow down the build process when developing your app

[2015-11-23 10:32] valorkin commented on #10
waat? http://valor-software.github.io/ng2-bootstrap/index-bs4.html
angular2 with dependencies 642 KB (156KB gzipped)
what is comparable to ng1

[2015-11-23 16:28] daslicht opened #12 "Angular Universal"
Hi,
is it possible to start an Angular 2 App as client side only and later transform it as Universal App?
What do I need to be aware of ?
Or is it better to start as Universal App?

[2015-11-23 16:32] gdi2290 commented on #12
You can convert a client-side app to a universal one. You would have to use the renderer when interacting with the DOM
for example rather than this
[code]
you would need to do this
[code]

[2015-11-23 16:36] gdi2290 commented on #10
I'm going to close this for now. I'm planning on updating the build system for this starter but I won't make a production version until the beta

[2015-11-23 16:36] #10 closed

[2015-11-23 17:41] daslicht commented on #12
Ok that sounds feasible.
So instead of learning anything now I can just start by creating a client side app only to get started with Angular 2 at all.

Thank you !

[2015-11-23 17:41] #12 closed

[2015-11-23 17:49] daslicht commented on #12
The test rest can just be the same ?

[2015-11-23 17:50] gdi2290 commented on #12
are you talk about test case or testing a REST service?

[2015-12-02 08:20] jeyachanthuruj opened #13 "ERROR in ./src/bootstrap.ts"
When i try to `npm run build` in the command this error will appear.

[code]

[2015-12-02 08:44] tamascsaba opened #14 "Use router in server side"
What's wrong?

server.js

[code]

bootstrap.ts

[code]

Error:
[code]

[2015-12-02 12:05] gdi2290 commented on #14
the repo needs to be updated to alpha 47

[2015-12-02 12:06] gdi2290 commented on #13
this might be a problem with ts-loader and typescript 1.7

[2015-12-02 12:48] mikkeldamm commented on #13
Yeah, it seems to be working when forcing typescript in version **1.6.2**

[2015-12-02 14:36] tamascsaba commented on #14
thanks the quick answer @gdi2290 :)

[2015-12-03 03:38] jeyachanthuruj commented on #13
Thanks, I'll try.

[2015-12-05 18:09] manfredsteyer opened #15 "No server-side rendering?"
Hi,

I think, I don't get it. I've cloned this repo and did a ``npm install`` as well as a ``npm start``. Everything seems to work fine - the server is started at port 3000 and I can access it with a browser.

But when I trace the received html, I don't see anything that has been pre-rendered at server-side. I just see angular2-code that is executed at client-side, things like in the next listing.

[2015-12-10 15:05] tamascsaba commented on #14
@gdi2290 any update?

[2015-12-13 21:50] joaogarin opened #16 "Cannot find module 'express'"
I am getting an error in ubuntu that says

 Unable to compile TypeScript

server.ts (1,26): Cannot find module 'express'. (2307)
server.ts (13,18): Cannot find name '__dirname'. (2304)
server.ts (18,24): Cannot find name '__dirname'. (2304)
server.ts (21,15): Parameter 'req' implicitly has an 'any' type. (7006)
server.ts (21,20): Parameter 'res' implicitly has an 'any' type. (7006)
---------------

[2015-12-13 21:54] valorkin commented on #16
rm -rf node_modules
and follow https://github.com/angular/universal-starter#installation
npm node ts versions?

[2015-12-13 22:48] gdi2290 commented on #16
run `tsd install node express --save`

[2015-12-14 08:39] joaogarin commented on #16
Thanks @gdi2290 fixed it =)

[2015-12-14 08:39] #16 closed

[2015-12-14 09:46] joaogarin opened #17 "Typescript Module build failed: TypeError: compiler.parseConfigFile is not a function"
The repo works great. There are just some dependencies that have suffered some changes and would be nice to maybe update the package.json.

Its complicated to make all of them work well together. Mainly these ones :

ts-node
rxjs
angular

have suffered some changes.

I do get an error : Uncaught SyntaxError: Unexpected token < in my bundle.js

I think its a minor thing and updates will of course s

[2015-12-16 08:22] joaogarin opened #18 "Update to angular beta"
Would be great to get the repository working agains angular2 beta. I still run into some issues with typescript namely the one with "Typescript Module build failed: TypeError: compiler.parseConfigFile is not a function"

I think there is some issues with some breaking changes on ts-node. I am not sure.

[2015-12-16 08:38] tamascsaba commented on #18
:+1:

[2015-12-16 08:39] joaogarin commented on #18
forcing the typescript version to 1.6.2 fixes the issues I was talking about. So only thing remaining is really angular2 beta awesomeness=)

[2015-12-16 08:39] #17 closed

[2015-12-21 03:32] angelUniversal commented on #13
<pre>
--- a/package.json
+++ b/package.json
@@ -35,7 +35,7 @@
     "ts-loader": "^0.5.6",
     "ts-node": "^0.2.4",
     "tsd": "^0.6.5",
-    "typescript": "^1.6.2",
+    "typescript": "~1.6.2",
     "webpack": "^1.12.2",
     "webpack-dev-server": "^1.12.1"
   }
</pre>
for tag 1.0.1 Angular 2.0.0-alpha.45

[2015-12-21 03:37] angelUniversal commented on #15
works for me tag 1.0.1 Angular 2.0.0-alpha.45 Linux

[2015-12-21 03:41] angelUniversal commented on #5
Full-stack repo has troubles as of 12/20/2015. This one better.

[2015-12-23 02:32] anymos commented on #13
Good morning,

Same here, even with the modification. This is an install from scratch

ts-loader: Using typescript@1.7.5 and /Users/tantr/REPOS/universal-starter/tsconfig.json
Hash: 06903815e07b1afaab6c
Version: webpack 1.12.9
Time: 117ms
    + 1 hidden modules

ERROR in ./src/bootstrap.ts
Module build failed: TypeError: compiler.parseConfigFile is not a function
    at ensureTypeScriptInstance (/

[2016-01-06 14:41] wesleycho opened #20 "@Angular-Class in description should be @AngularClass"
@Angular-Class links to the wrong organization in the description - it should be @AngularClass

[2016-01-08 08:19] sandyjoshi commented on #18
Close once PR #21 gets merged.

[2016-01-11 05:54] gdi2290 commented on #18
the repo has been updated to beta.0 but I still need to update it to beta.1

[2016-01-11 05:54] #18 closed

[2016-01-11 15:08] graingert commented on #14
@gdi2290 is this updated to the latest version?

[2016-01-11 15:10] graingert commented on #14
@gdi2290 @tamascsaba https://github.com/angular/universal-starter/blob/master/package.json#L26

looks like it's updated

[2016-01-11 15:15] joaogarin commented on #3
+1! awesome

[2016-01-13 07:14] zamamohammed opened #22 "Delay some content load for client side"
Sometimes the developer would want things like ads, or comments section to load progressively on the browser so that the page load faster. So if this has to be done with server renderering, how could this be achieved with angular universal?

[2016-01-14 22:51] gdi2290 commented on #22
this is an advanced case but is completely possible. Can you open the issue at https://github.com/angular/universal

[2016-01-14 22:51] #22 closed

[2016-01-14 22:52] gdi2290 commented on #13
I rebuilt the build process and removed ts-node can you try again and open a new issue if there are problems

[2016-01-14 22:52] #13 closed

[2016-01-19 21:59] gdi2290 opened #23 "systemjs version"
having a systemjs branch would be great

[2016-01-20 02:18] gdi2290 opened #24 "switch to typings. tsd will be deprecated"
tsd will be deprecated so switch to typings

[2016-01-20 03:15] gdi2290 commented on #24
done via https://github.com/angular/universal-starter/commit/cfb7b52b12e1da9de7ee7c2a452e7636c93aaa09

[2016-01-20 03:15] #24 closed

[2016-01-20 09:01] gdi2290 commented on #23
done via https://github.com/angular/universal-starter/tree/systemjs

[2016-01-20 09:01] #23 closed

[2016-01-20 09:02] gdi2290 commented on #14
the starter has been updated with the router included in the example

[2016-01-20 09:02] #14 closed

[2016-01-24 00:26] #5 closed

[2016-01-24 00:26] #15 closed

[2016-01-24 00:26] gdi2290 commented on #3
done

[2016-01-24 00:26] #3 closed

[2016-01-28 06:10] mohammedzamakhan commented on #7
@gdi2290 I did what you have documented here, and it worked fine on the browser, but when I saw the page source, I did not see that it was rendered on server, the data was received on the server side, and then rendered only on client.

[2016-01-28 06:22] gdi2290 commented on #7
@mohammedzamakhan HTTP_PROVIDERS was removed in the beta.0 update so I need to include it back

[2016-01-28 17:07] mohammedzamakhan commented on #7
```eep in mind this feature is a huge problem in other server-side rendering implementation```

Can you expand more on this, what exactly do you mean by this, and which framework are you talking about. That would be helpful :smile:

[2016-02-04 22:14] bjwyse commented on #20
@gdi2290 This issue is referring to the Github Project description and must be changed by a project admin.

![screen shot 2016-02-04 at 22 13 09](https://cloud.githubusercontent.com/assets/511510/12831490/89088f90-cb8c-11e5-84f3-c83435dfb270.png)

[2016-02-04 23:10] jeffbcross commented on #20
Done, thanks @wesleycho and @bjwyse!

[2016-02-04 23:10] #20 closed

[2016-02-05 12:48] samvloeberghs opened #33 "A way to determine the end of "state 0""
Hello,

Is there a way or a flag to set to determine when the initial state ( the one that should be prerendered ) is complete? Let's assume the following usecase:

1. I have an app that consistst of 1 main component and 1 route with a component
2. The route component does an async http call to a backend API
3. The component for that route has several child components / directives
4. The result fr

[2016-02-08 16:26] joaogarin opened #37 "Error in module loaders"
Hello,

I am trying to setup an app, everything seems to work okay but the loaders (namely the sass loader) is throwing some errors.

Error: Cannot find module '!css!sass!./css/_siteintro.scss'

In my webpack config in the common var I have my loaders :

[code]

and in the ts file I am requiring the sass file :

`var css = require("!css!sass!./css/_siteintro.scss");`

Any idea what might be the is

[2016-02-09 11:46] joaogarin commented on #37
THis issue was completely unrelated to the repo itself. Was about the way I was loading the file
You should only do require("./css/_siteintro.scss"); without !css!sass! since its already in webpack config file.

[2016-02-09 11:46] #37 closed

[2016-02-09 15:30] joaogarin opened #38 "Http.get error"
I am trying to get angular universal into a existing angular2 app. I am getting the following error when accessing the site :

`EXCEPTION: Error during instantiation of BlogList!.
STACKTRACE:

ORIGINAL EXCEPTION: Error
ERROR CONTEXT:
_Context {
  element:
   { type: 'tag',
     name: 'blog-list',
     namespace: 'http://www.w3.org/1999/xhtml',
     attribs: { '_ngcontent-fid-4': '' },
     'x-attr

[2016-02-09 16:22] joaogarin commented on #38
By the way components are working, router also is working if I access localhost:3000/about (a specific routing that is not using HTTP) it seems to work.

The error comes only really on components that are using http.

[2016-02-10 15:51] zanettin commented on #7
+1
@gdi2290 and team: great work! can't wait to see this in "real-world-action"!

[2016-02-11 14:51] joaogarin commented on #7
Hello,

Any follow ups on how to use http with angular universal?

[2016-02-12 03:37] qdouble opened #39 "Preboot Bug... Not updating input value until new value is entered after full boot."
As can be seen if you load up the seed and type in the input field, the input value is not updated until a new value is entered. This problem exists even when using ngModel and/or form controls. The big issue is, if you are filling out a form or input field before the app fully loads, the forms fields or variable bindings won't be up to date until you type a new value, which could result in a very

[2016-02-12 15:44] zanettin commented on #39
same happens on button clicks with latest webpack version. I can click on any button, but after loading the app, nothing is propagated.

[2016-02-12 17:32] jeffwhelpley commented on #39
There are two separate issues here.

@gdi2290 I may be wrong, but it looks like we are not using preboot with the universal-starter. Shouldn't we be passing in `preboot: true` here:

https://github.com/angular/universal-starter/blob/master/src/server.ts#L16

The second issue, however, is that even after getting this working, there is a potential issue with components trying to use an input value d

[2016-02-15 07:22] zanettin commented on #39
@jeffwhelpley thanks for your reply. the preboot flag is set to true on the server.ts file (L:31) https://github.com/angular/universal-starter/blob/master/src/server.ts. I'm using the angular Class example provided here => https://github.com/angular/universal-starter (webpack version). thanks a lot for your work on this!

[2016-02-19 11:12] bjwyse opened #40 "Provide an alternative location for static files"
I don't think the project root should be used to serve static files as all files are then accessible (https://github.com/angular/universal-starter/blob/master/src/server.ts#L36).

I can see how some node_modules components need to be served but is there an alternative approach?

I also see some code in the universal project with these components hard coded (https://github.com/angular/universal/blo

[2016-02-19 15:26] bjwyse opened #41 "HTTP fetch fails: XMLHttpRequest is not defined"
I have added a service using HTTP fetch as described at https://angular.io/docs/ts/latest/guide/server-communication.html#!#fetch-data to my universal app but the request fails on the server side.

I have seen that there is a Node XHR Implementation but I don't know how to use it or if it even works.

Sample code at https://github.com/bjwyse/universal-starter/tree/http_fetch_test will reproduce th

[2016-02-19 18:08] ctwhome opened #42 "npm watch not runing"
after clone the repository and do "npm install",  "npm watch" does not work.

[2016-02-19 21:04] bjwyse commented on #42
try 'npm run watch'

[2016-02-25 06:41] jongood01 opened #43 "Prerender does not work with templateUrl or styleUrls"
Components that have separate html and css files and reference them via templateUrl and styleUrls do not prerender but client-side still loads i.e. this doesn't work:
[code]
But this does:
[code]

[2016-02-26 22:45] jon301 commented on #7
+1
keep up the good work :)

[2016-02-28 14:09] manekinekko commented on #43
@jongood01 can you give a link to your code?

[2016-02-28 14:20] manekinekko commented on #42
@ctwhome actually, you need to run both commands:
[code]
FYI, you need to refresh the browser manually.

[2016-02-28 14:29] manekinekko commented on #41
@bjwyse Could you give some basic steps to reproduce this?

[2016-02-28 14:34] manekinekko commented on #38
@joaogarin could you try again with the latest version of the starter and give us your feedback?

[2016-02-28 14:42] manekinekko commented on #33
@samvloeberghs could you give a real world example for this use case?

[2016-02-28 15:51] joaogarin commented on #38
Hello,

I still see this error log when using HTTP withing the "Home" component for example. I dont see the browser error though that says : Uncaught TypeError: Cannot read property 'cloneNode' of null

I will update the title of the issue.

This is the stack trace of a just cloned version of the repo :

STACKTRACE:

ORIGINAL EXCEPTION: Error
ERROR CONTEXT:
_Context {
  element:
   { type: 'tag',

[2016-02-28 17:09] manekinekko commented on #38
OK. I reproduced your issue. This is an issue related to universal. I'll open a issue on your behalf on the Universal repo.

[2016-02-28 17:11] joaogarin commented on #38
;) great. I am not sure I am actually using the http the proper way. but I followed the suggestions from @gdi2290 in https://github.com/angular/universal-starter/issues/7#issuecomment-153156415

[2016-02-28 17:14] manekinekko commented on #38
Yeah, universal is providing its own HTTP_PROVIDERS which you have to use.
We'll investigate this. Thanks :+1:

[2016-02-28 17:20] manekinekko commented on #38
@gdi2290 we may close this issue. It is not related to the starter.

[2016-02-28 17:22] #38 closed

[2016-02-28 19:42] bjwyse commented on #41
@manekinekko can you try the http_fetch_test branch at my fork here -> https://github.com/bjwyse/universal-starter.git?

[2016-02-28 20:16] jongood01 commented on #43
Here is the link to my repo:
https://Jongood01@bitbucket.org/Jongood01/shakecms.git

I have changed it to use multi line strings for the template and require
scss files for the styles. That is working but if you change the App
component to use app.html, it doesn't work. The app loads but not
prerendered.

On Mon, 29 Feb 2016 at 3:09 AM, Wassim Chegham <notifications@github.com>
wrote:

[2016-02-28 21:36] manekinekko commented on #43
Thanks @jongood01
I reproduced your issue. However this is related to Universal not the starter. I'll open an issue in the universal repo on your behalf.

[2016-02-28 21:40] manekinekko commented on #43
@gdi2290 I think we can close this issue. It's related to universal.

[2016-02-28 22:34] manekinekko commented on #41
@bjwyse in order to fix your error about `ReferenceError: XMLHttpRequest is not defined`. See the diff below.

However, we're still having issues with `Http` in the universal core. So XHR calls may not work for the moment. See https://github.com/angular/universal/issues/292

[code]

[2016-02-28 22:35] manekinekko commented on #41
@gdi2290 this issue is also related to universal. feel free to close it :)

[2016-02-28 22:48] #41 closed

[2016-02-28 22:48] #43 closed

[2016-02-29 00:39] mikkeldamm commented on #33
@samvloeberghs if I understand you correctly, you then want to make a http call from a parent component to get data and make child components use that data for rendering - and you want that to happen in the server side rendering.

I have done the above by making the http call in the [OnActivate](https://angular.io/docs/ts/latest/api/router/OnActivate-interface.html) interface implementation on the

[2016-03-02 09:12] manavsehgal opened #44 "enqueueTask/dequeueTask deprecation warning"
Did fresh install - on ```npm start``` get following deprecation warnings once server is running...

[code]

[2016-03-02 09:48] manekinekko commented on #44
Yeah. That's fine. You can ignore that for the moment

[2016-03-02 11:06] ericmartinezr commented on #44
According to Misko this has been fixed in zone.js 0.6.0 https://github.com/angular/zone.js/issues/262, so now it's just matter of time until the next release (I guess)

[2016-03-03 12:07] Bhushan001 opened #45 "dynamic component loader not working?"
I am using this repo for loading dynamic components. i am not getting any error in browser nor on console.but my child component is also not getting loaded in browser.
Its working correctly if i am defining child component inside **app.ts** itself.
for eg. this works:
`

    import {Component, Directive, DynamicComponentLoader, ElementRef} from 'angular2/core';
    import {ROUTER_DIRECTIVES, ROUTE

[2016-03-03 12:30] ericmartinezr commented on #45
It's working fine for me http://plnkr.co/edit/04bHkHexC5TTOCOJ98CD?p=preview

[2016-03-03 12:37] Bhushan001 commented on #45
@ericmartinezr I was saying while using universal-starter. its working for me in angular2,I am facing issue when I am trying to implement it using universal-starter.

[2016-03-03 15:37] manekinekko commented on #45
Could you share the errors you have ?

[2016-03-03 15:39] manekinekko commented on #45
@ericmartinezr could you post this issue in the Universal repo? Because I don't think it's related to the starter.

[2016-03-03 16:12] ericmartinezr commented on #45
@manekinekko I can't reproduce his issue. I just tried it and it works perfectly.

- Created a folder to hold the dynamic component
- Imported it from app.ts
- Used DCL
- Profit

I think he needs to provide a repo for his case. The only thing I see is the name of his import `'./DYNAMIC-BODY-1.component`. I did try with a wrong name for my importing file and the console threw a huge error, so he sh

[2016-03-03 20:26] manekinekko commented on #45
thanks @ericmartinezr
@Bhushan001 yeah if you could create a repo and help us reproduce this issues, this would be great ^^

[2016-03-03 20:26] manekinekko commented on #42
@ctwhome any news about issue?

[2016-03-07 05:19] Bhushan001 commented on #45
@manekinekko @ericmartinezr  guys it worked if I am not using http service in my child component.I will be creating a repo soon ,will update you on this.

[2016-03-07 09:23] Bhushan001 commented on #45
@ericmartinezr @manekinekko i am closing this issue because it is related with httpRequest undefined.waiting for implementation of httpRequest implementation in universal

[2016-03-07 09:23] #45 closed

[2016-03-07 09:43] Bhushan001 commented on #7
@gdi2290  I tried to do what you suggested above to use httpRequest to read json,but i am still getting the error : `ReferenceError: XMLHttpRequest is not defined`
I have used dynamicComponentLoader in `app.component` and inside this child component i have used HTTP_PROVIDERS.
I have done the modifications as mentioned above to server.ts and client.ts
any inputs?

[2016-03-07 17:59] munooo opened #46 "npm start error " Error: Cannot find module 'hoek' ""
Error: Cannot find module 'hoek'
    at Function.Module._resolveFilename (module.js:325:15)
    at Function.Module._load (module.js:276:25)
    at Module.require (module.js:353:17)
    at require (internal/module.js:12:17)
    at Object.<anonymous> (/home/manna/Project/e-munna/node_modules/angular2-universal-preview/node_modules/angular2-hapi-engine/dist/src/engine.js:3:12)
    at Module._compile

[2016-03-07 19:07] manekinekko commented on #46
Could you clean and npm install again?

[2016-03-07 20:41] munooo commented on #46
I run the start command  after clone repo and npm install command.

[2016-03-07 21:08] manekinekko commented on #46
did you follow the installation process (in the right order): https://github.com/angular/universal-starter#installation

[2016-03-07 21:21] gdi2290 commented on #46
I updated universal to install hoek for hapi engine so you need to grab latest

[2016-03-07 21:33] gdi2290 commented on #42
this is a problem with npm. to run npm scripts you must use the command `npm run` so in this case it's `npm run watch`. Please reopen if this is still an issue

[2016-03-07 21:33] #42 closed

[2016-03-07 21:37] gdi2290 commented on #40
the hard coded logic in express engine will be removed and replaced (with NgScript) in the near future. We only needed it for e2e testing and shouldn't be used. The root is served because the repo had to be consistent with systemjs and the polyfills. For webpack because the files are bundled you only need to serve the dist folder so long as the index.html is also copy/moved to dist

[2016-03-07 21:38] gdi2290 commented on #39
can you try latest?

[2016-03-08 07:06] zanettin commented on #39
Hi @gdi2290

thanks for your action on this issue! I can't get a working example on angular-universal-preview 0.70.7.
what I've tried:

- started web app
- toggled network to DLS (2Mb/s)
- changed "Angular" in the input to "random"
- waited till load completed

expectation: text over the input should be "random"
result: my input was overwritten to "Angular2" and the title above did not changed.

s

[2016-03-08 07:15] gdi2290 commented on #39
preboot was set to false can you change it back https://github.com/angular/universal-starter/commit/c6995a7a0321e74a283048fe8ab5d954d68b74f4

[2016-03-08 07:29] zanettin commented on #39
Thanks for your quick reply.
With preboot set to true to only thing that changes is, that at the end of the loading cycle my input value is still the entered one. but the title does not update.

[2016-03-08 11:00] Bhushan001 commented on #7
@gdi2290 @jtheoof @danicomas
I tried integrating the above solution in my project but not able to get it work, can anyone help me here? [https://github.com/Bhushan001/universal-starter-master](url)

[2016-03-08 16:18] gdi2290 commented on #7
@Bhushan001 you need the full url for the http requests to work on the server

[2016-03-08 16:20] gdi2290 commented on #39
I added a feature to provide server only components so I made a Title directive that replaces the initial title value
https://github.com/angular/universal-starter/blob/master/src/server-only-app/server-only-app.ts#L3...L9
you may want to delete it

[2016-03-08 16:27] gdi2290 commented on #44
closing this since the warnings will be removed in a future release

[2016-03-08 16:27] #44 closed

[2016-03-08 16:27] gdi2290 commented on #46
closing for now since I included hoek as a dep

[2016-03-08 16:27] #46 closed

[2016-03-08 19:55] zanettin commented on #39
Hi Patrick

I think you've misunderstood me. With "title" I meant the binded value right above the input test "Hello, Angular2!". This should update to the input value, right? It does, but not if you change something during the load cycle. What I expect here is this:

- I type something in the input
- load cycle completes
- preboot updates "Hello, XXXX" to what I've typed in the input

Thanks agai

[2016-03-09 04:38] Bhushan001 commented on #7
@gdi2290 full url as in `http;//localhost:3000/people.json`?

[2016-03-09 04:58] gdi2290 commented on #7
yup

[2016-03-09 05:57] Bhushan001 commented on #7
@gdi2290 @jeffwhelpley could you please have a look at [This Repository](https://github.com/Bhushan001/universal-starter-master) I tried the above solution but httprequest is still not working.please suggest if I am doing something wrong in order to be able to use http requests in universal.

[2016-03-09 06:03] gdi2290 commented on #7
@Bhushan001 can you update the repo to latest changes https://github.com/angular/universal-starter

[2016-03-09 10:02] Bhushan001 commented on #7
@gdi2290 @jeffwhelpley @manekinekko  I have updated it to latest repo. Still I am not able to use http request in universal . please have a look [My Repo](https://github.com/Bhushan001/universal-starter-master)

[2016-03-09 23:01] gdi2290 opened #50 "update to beta.9"

[2016-03-09 23:33] gdi2290 commented on #50
done

[2016-03-09 23:33] #50 closed

[2016-03-10 05:24] Bhushan001 commented on #7
@gdi2290 should I raise separate issue for this problem?

[2016-03-10 14:28] jeffwhelpley commented on #7
Hey, @Bhushan001 sorry about the delay in response. @gdi2290 is working on stuff that will affect http and other async stuff. We will get back to you tomorrow on this once we work this out.

[2016-03-10 14:32] joaogarin commented on #7
Hello @Bhushan001,

You can see here https://github.com/joaogarin/myblog-angular2/blob/master/src/client.ts and here https://github.com/joaogarin/myblog-angular2/blob/master/src/server.ts the server and client.

Mainly important is the usage of

`import {ng2engine, REQUEST_URL, NODE_LOCATION_PROVIDERS,NODE_HTTP_PROVIDERS} from 'angular2-universal-preview';`

In your server.ts

I think this goes mo

[2016-03-10 23:37] jon301 commented on #7
Hi,

Adding `NODE_HTTP_PROVIDERS` to my app providers fixed the `ReferenceError: XMLHttpRequest is not defined` error.

However, the ajax request is still made on the client side after the page load :(
I don't get any errors server side.
Any hints ?

[2016-03-11 02:30] gdi2290 commented on #7
@jon301 that was by design. you can track issue https://github.com/angular/universal/issues/274 for that feature request

[2016-03-16 22:30] sullivanpt opened #52 "webpackMerge 0.8.3 unsafe to call twice"
Don't know if this is by design or a bug in webpack merge, but attempting to call it twice in a row as in the example results in the 'Client' getting some configuration data from the 'Server'.

[code]

[2016-03-16 23:04] gdi2290 commented on #52
I have to replace `webpack-merge` with something like `extends` or create `webpack-default`

[2016-03-16 23:08] sullivanpt commented on #52
I solved it by wrapping with "_.cloneDeep(webpackMerge(..."

[2016-03-16 23:29] gdi2290 commented on #52
@sullivanpt can you make a PR and use https://www.npmjs.com/package/lodash.clonedeep

[2016-03-17 00:49] sullivanpt commented on #52
I haven't been able to reproduce with webpack-merge@0.7.3 (which is what universal-starter currently depends on) so I'm inclined to consider it a bug in @0.8.3.  Needs more investigation I think.

[2016-03-17 17:43] sullivanpt commented on #52
Closing this in favor of survivejs/webpack-merge#12

[2016-03-17 17:43] #52 closed

[2016-03-18 01:12] gdi2290 opened #53 "update beta.11"

[2016-03-18 06:53] Bhushan001 commented on #7
@jeffwhelpley @gdi2290 has this issue been resolved?

[2016-03-18 07:21] gdi2290 commented on #7
@Bhushan001 yes I need just need to publish a version

[2016-03-20 16:43] m1uan opened #54 "Issue in parse5 library"
After git clone && npm install ... npm start I get error message in console

[code]
I also found command `npm run watch` doesn't turn on the server

[2016-03-21 03:13] gdi2290 commented on #54
@m1uan hi, thanks for opening an issue. The problem was on my end in one of the recent release. You can reinstall or update to latest for the fix. I'm going to close this but if you still have an issue feel free to reopen this one or create a new one, thanks.

[2016-03-21 03:13] #54 closed

[2016-03-21 03:13] gdi2290 commented on #53
done

[2016-03-21 03:13] #53 closed

[2016-03-21 05:41] Bhushan001 commented on #7
@gdi2290  @jeffwhelpley any inputs on when that version will be releases?

[2016-03-21 06:12] gdi2290 commented on #7
@Bhushan001 the latest release works
[code]

[2016-03-21 11:11] jeffwhelpley commented on #7
@Bhushan001 can you confirm whether or not it resolves your problem when you get the latest?

[2016-03-21 14:08] joaogarin opened #55 "Fresh install preboot not working"
After a clean clone and install the preboot does not seem to take effect.

I changed the client to :

[code]

So that preboot is set to true but I don't see it updating the app.

[2016-03-22 09:51] Bhushan001 commented on #7
@gdi2290 @jeffwhelpley can you throw some light on how to read json file in this,as I know some angular2 only,i am not sure how to go forward on this.

[2016-03-22 10:00] jhades opened #56 "Change Detection not working after the upgrade to universal-preview 0.82.0 and Angular 2 beta-12"
I just tried the following:

- using node 4.2.1 and npm 3.7.5
- clean clone of the project
- npm install
- npm run build
- npm start
- go to http://localhost:3000/

The page gets rendered on the server side correctly, but change detection is not working.

What i mean by that is that as we type on the input text field, the title of the page does not get updated.
By trying with a keydown event, we g

[2016-03-22 10:02] joaogarin commented on #56
Same thing here : https://github.com/angular/universal-starter/issues/55

Also when setting async to true and preboot to true.

[2016-03-22 10:12] jhades commented on #56
@joaogarin I noticed they are both set to false on the starter.How do these flags work? Thxs

[2016-03-22 10:32] joaogarin commented on #56
Yes I think they should be set to true for preboot to take effect and start recording events before client side app is fully loaded. I am not sure if this is required for the change detection to work, don't think so.

You can read more about it here : https://github.com/angular/universal/tree/master/modules/preboot

[2016-03-22 10:46] jeffwhelpley commented on #7
@Bhushan001, can you check in your latest [to your repo](https://github.com/Bhushan001/universal-starter-master)?

[2016-03-22 11:54] jhades opened #57 "Request for an example on how to use HTTP and Universal in universal-starter"
Hi all, im trying to use the HTTP functionality of Angular Universal, by doing the following:

- take the latest universal starter
- add a REST API to return some test data
[code]
- On the Home component, add an Ajax request:
[code]
- The result is that on the console nothings gets logged

- I I then use `NODE_HTTP_PROVIDERS` instead of `NODE_PRELOAD_CACHE_HTTP_PROVIDERS` in server.ts, the console

[2016-03-22 11:59] Bhushan001 commented on #7
@jeffwhelpley @gdi2290  I have updated my repo for latest changes. please have a look at it.suggest changes in the code if required.

[2016-03-22 13:28] m1uan commented on #54
Thank you Patrick, it working awesome now !
very good job ;-)

2016-03-21 4:13 GMT+01:00 PatrickJS <notifications@github.com>:

--
Best regards
        Milan Medlik

[2016-03-22 15:42] gdi2290 commented on #7
@Bhushan001  for the server you need a full url for your http calls

[2016-03-22 16:24] gdi2290 commented on #57
replace `http.get('/api/hello')` with `http.get('http://localhost:3000/api/hello')` on the server you need the full url

[2016-03-22 18:56] jhades commented on #57
Adding the full url fixed the error message, thank you. But with the following code bellow, I cannot get the result of the HTTP request to get server side rendered:

[code]

what shows on the screen is "Hello initial value", the initial value of the message variable.

And not "Hello World" coming from the API response - which is working OK.

Do you think this is because the change detection issue

[2016-03-22 18:56] #57 closed

[2016-03-22 19:07] gdi2290 commented on #57
make sure you're sending json
`app.use('/api/hello', (req,res) => res.send({text:"Hello World"}));`
should be
`app.use('/api/hello', (req,res) => res.json({text:"Hello World"}));`

[2016-03-23 05:21] Bhushan001 commented on #7
@gdi2290 @jeffwhelpley  I tried changing path to full url too. I have uploaded my code to this [My Repository](https://github.com/Bhushan001/universal-starter-master). can you please have a look at it and suggest edits on that?

[2016-03-23 08:01] joaogarin commented on #55
The symptom I see in the latest version of the repo is actually the same I see in [my respository](https://github.com/joaogarin/myblog-angular2) where the promise for the bootstrap never actually finishes and so :

[code]
 does not actually get called at all.

[2016-03-23 08:40] jhades commented on #57
Hi @gdi2290 , i've applied the fix as such:

    app.use('/api/hello', (req,res) => res.json({text:"Hello World"}))

and the results are the same, meaning that the content of the JSON message {text: 'Hello World'} does not get rendered to the screen.

Instead, the initial value of the message variable is displayed 'Hello initial value'.

As

[2016-03-23 10:33] bjwyse commented on #56
Two issues are preventing this from working as is.

The client side JS is not being included in the rendered HTML page because the script tags are not allowed in templates I believe.

Moving the script back to index.html will resolve this issue. See https://github.com/bjwyse/universal-starter/commit/95401e8c6f0e233010078226cf82ea63e063437a

Also, the latest Angular2 beta version (11) has a bug whi

[2016-03-23 11:45] jhades commented on #56
About this part:

According to these docs https://angular.io/docs/ts/latest/guide/template-syntax.html:

[2016-03-23 19:15] zanettin commented on #39
With angular2 beta 11 and universal preview 0.82.1 can I confirm, that preboot works as expected. thank you very much for that!

[2016-03-23 21:16] gdi2290 commented on #39
@zanettin thanks for checking. I'll close this unless someone feels there is still an issue please reopen it

[2016-03-23 21:16] #39 closed

[2016-03-25 11:41] zanettin commented on #7
@gdi2290 @jeffbcross do you have any kind of working example on this? I need a working solution till Wednesday for a internal PoC presentation and it would be very nice if I could demonstrate this as well. Thank you very much for you help!

current state -> https://bitbucket.org/zanettin/isomorphic-poc (we just added some basic tests and removed webpack) npm start is still your entry point.

[2016-03-25 18:25] jhades commented on #56
I've tried this just now with beta-12, and the issue remains. The application boots up and there is no error in either the server or the client.

But when typing on the input field, the hello message on the screen does not get updated.

[2016-03-26 00:54] bromzh opened #59 "Missing client bundle in result html"
If we look into result html, we found no client bundle js plugged in:
[code]

[2016-03-26 01:29] gdi2290 commented on #59
the script tag should be generated from
https://github.com/angular/universal-starter/blob/a686d146faee6de0f9ecb20b86cda49b4dbc527f/src/server-only-app/html.component.ts#L48

[2016-03-26 01:52] bromzh commented on #59
@gdi2290 Yes, it should be generated, but actually doesn't. Html component hasn't the `scriptUrl` field, so template (script line) must be
[code]
But even we change this part, result html still has no script tag. It seems that universal just delete all script tags.

[2016-03-26 02:09] gdi2290 commented on #59
@bromzh can you make a pull-request?

[2016-03-26 02:46] bromzh commented on #59
@gdi2290 Unfortunantly I don't know how make project works for now. There are no effect when I change `scriptUrl` to `seo.src`. But if I fill index.html with code from Html component, then zone.js errors begin to appear. Since angular2 beta>10 starts using zone.js > 0.6 I dont know how to include zone.js without some hacks (like [this](https://github.com/AngularClass/angular2-webpack-starter/blob/

[2016-03-26 10:07] micooz commented on #59
same problem. :sob:

[2016-03-27 03:48] gdi2290 commented on #55
@joaogarin you need to call prebootComplete for it to complete
https://github.com/joaogarin/myblog-angular2/pull/1

[2016-03-27 03:58] gdi2290 commented on #55
@joaogarin I'm working on this now

[2016-03-27 04:19] gdi2290 commented on #55
@joaogarin this is a problem with core where they're removing the script tags (as well as style tags)

[2016-03-27 04:36] gdi2290 commented on #59
sorry this is a problem with Angular removing the script and style tags

[2016-03-27 06:15] gdi2290 commented on #59
thanks for the issue, everything works in latest changes so feel free to try it out again.

[2016-03-27 06:15] #59 closed

[2016-03-27 06:16] gdi2290 commented on #56
thanks for the issue, everything works in latest changes so feel free to try it out again. Please reopen if you still have this issue

[2016-03-27 06:16] #56 closed

[2016-03-27 06:17] gdi2290 commented on #55
thanks for the issue, everything works in latest changes so feel free to try it out again.

[2016-03-27 06:17] #55 closed

[2016-03-27 06:20] joaogarin commented on #55
Yes everything looks good now great;)

[2016-03-27 06:41] gdi2290 commented on #40
I'm going to close this but feel free to open the issue in https://github.com/angular/universal and track https://github.com/angular/universal/issues/309

[2016-03-27 06:41] #40 closed

[2016-03-27 06:59] micooz opened #61 "About http example, http.get() twice, it's bad."
It's reasonable that server get data from api then render pages. I noticed that when app bootstrapped in the browser, it of course fetches data from `data.json` in App component.

Maybe it's not necessary to fetch data **again** in the page which server respond.

After server got data, we can embed them into scripts, then client loads data from scripts. So the problem is how we hold data and how t

[2016-03-27 07:37] gdi2290 commented on #33
http calls are tracked, can you try to do this in the repo again

[2016-03-27 07:37] gdi2290 commented on #33
I'm going to close this for now to keep the issues down but feel free to reopen it

[2016-03-27 07:37] #33 closed

[2016-03-27 07:39] gdi2290 commented on #61
yup, we had a working solution during ng2 alpha I just need to update it. I'm going to close this issue but could you open it in this repo https://github.com/angular/universal

[2016-03-27 07:39] #61 closed

[2016-03-27 09:33] jhades commented on #56
It works, thanks!

[2016-03-27 15:45] jhades opened #62 "HTTP requests are issued twice - once on the server and again upon client rendering - causes flickering effect"
I just noticed the following on a clean installation of the starter using preview 0.84.0.

The data coming from an HTTP request gets rendered on the server side, and is visible on the HTML initially sent.

The problem is, once the page finishes to load the ajax request is issued again, and the part of the screen containing HTTP data is re-rendered. This causes a flickering effect, where the data i

[2016-03-28 02:34] gdi2290 commented on #62
thanks, I created an issue in the universal repo https://github.com/angular/universal/issues/338

[2016-03-28 02:34] gdi2290 commented on #61
I created an issue https://github.com/angular/universal/issues/338 in the universal repo for you to track

[2016-03-28 04:52] micooz commented on #61
Thanks :smile:

[2016-03-28 19:56] gdi2290 commented on #57
just checking in to make sure this is resolved. if it's not please reopen it, thanks!

[2016-03-28 22:03] jhades commented on #57
I confirm its working fine now, Thanks.

[2016-03-30 04:28] Bhushan001 commented on #7
@gdi2290 @jeffwhelpley did u look at my repository? was this issue resolved?

[2016-03-30 06:11] gdi2290 commented on #7
@Bhushan001 remove this line and update your repo to reflect the latest changes
https://github.com/Bhushan001/universal-starter-master/blob/master/src/app/app.component.ts#L20

[2016-03-30 07:12] stellanhaglund opened #64 "Use of const in strict mode"
I get this when I have built the app and try to run it

universal-starter/node_modules/angular2-universal-preview/node_modules/angular2-hapi-engine/node_modules/hoek/lib/index.js:5
const Crypto = require('crypto');
^^^^^
SyntaxError: Use of const in strict mode.
    at exports.runInThisContext (vm.js:73:16)
    at Module._compile (module.js:443:25)
    at Object.Module._extensions..js (module.js:4

[2016-03-30 22:34] gdi2290 commented on #64
thanks for opening an issue. You need node >=4.2.x for the module to work. I can recreate the function we're using so we won't run into this problem

[2016-03-30 22:56] gdi2290 commented on #64
I updated angular2-hapi-engine to use ts without `const` 0.7.1

[2016-03-31 02:57] gdi2290 opened #65 "update beta.13"

[2016-03-31 03:34] gdi2290 commented on #65
done via https://github.com/angular/universal-starter/commit/1b5e933fc5239fa60cb073b2e3aaa2a08e460b57

[2016-03-31 03:34] #65 closed

[2016-03-31 05:31] cristinecula opened #66 "Preboot fails to init"
I have set the preboot flag to `true` in server.ts and I am getting the following error:

`Uncaught HierarchyRequestError: Failed to execute 'insertBefore' on 'Node': Only one element on document allowed.`

I am using the latest version @ 1b5e933fc5239fa60cb073b2e3aaa2a08e460b57

[2016-03-31 09:34] jeffwhelpley commented on #66
Oh, weird. Haven't seen this one before. I will look into this and get back to you. Thanks for reporting.

[2016-03-31 09:55] Bhushan001 commented on #7
@gdi2290 @jeffwhelpley  thank u so much guys..finally this issue has been resolved.though I would like to pass the json externally.is that possible?

[2016-03-31 10:37] stellanhaglund commented on #64
Thanks!

Just a question that is not that related to this issue, but.
I'm completely new to angular 2, and I'm trying to understand what the capabilities universal adds.

I know it does rendering in the server side, but does that mean the entire application can be rendered on the server including realtime data and such?

[2016-04-02 20:26] keatz55 opened #68 "Rebuild or reload app on file change"
Is there a way I'm not seeing right from the start to reload the app with changes when files are modified in the src folder? Should we set it up ourselves?

[2016-04-02 21:43] gdi2290 commented on #68
in one terminal run `npm run watch` and in another run `npm run start`

[2016-04-03 10:39] jeffwhelpley commented on #66
@cristinecula are you setting any preboot options? Did you literally just change the option to true and that was it or are there other differences with your code and the latest repo code?

[2016-04-03 17:53] gdi2290 commented on #68
can you make a pull request to include this in the readme?

[2016-04-04 02:35] gdi2290 commented on #64
realtime data and such can be rendered on the server so long as it's clear to the app that it's done (not having long running requests). I'm closing this now that the error is fixed. thanks for opening an issue

[2016-04-04 02:35] #64 closed

[2016-04-04 02:35] gdi2290 commented on #68
I'm going to close this but please reopen or create another issue if you run into another problem thanks.

[2016-04-04 02:35] #68 closed

[2016-04-04 09:26] prayagmk opened #70 "The client bundle code size is huge after optimizing"
The client bundle code is huge after optimization.
 new webpack.optimize.UglifyJsPlugin({
       mangle: false
    })

Its coming around 1.37 MB.
Is there a way I can specify the angular common modules to be imported rather than importing everything?

[2016-04-04 23:11] gdi2290 commented on #70
you need to also include the source-map-loader for preLoaders (which I should add)and don't include all of rxjs

[2016-04-05 07:50] cristinecula commented on #66
@jeffwhelpley this is the output of `git diff`

[code]

[2016-04-05 17:51] keatz55 commented on #68
Sure I can do that.

[2016-04-05 18:21] gdi2290 commented on #66
@cristinecula can you change the value to `preboot: { appRoot: 'app' }`

[2016-04-06 08:00] HackPoint opened #72 "upgrade universal to latest scripts"
I have few issues with my code.

Here the code:
[code]

I followed by universal-starter - systemjs version.
Dependencies: package.json
[code]

[2016-04-06 08:38] Bhushan001 opened #73 "Dependency Injection not working"
So i was trying to pass an object to a child component using `@Input` , but its not working correctly.
I have used dynamic component loader to load child component and I want to pass the object to child component.
Following is my code snippet:

**app.component.ts**

    `import {Component, Directive, Renderer, DynamicComponentLoader, ElementRef} from 'angular2/core';
    import {Http} from 'angula

[2016-04-06 08:42] joaogarin opened #74 "bundle.js EXCEPTION: UnsubscriptionError"
I am getting some erros on a project and also is happening on the starter where zone js is trowing some errors :

bundle.js:30881 EXCEPTION: UnsubscriptionError

seems to be somehow related to the subscribe method. Looking at the longtrace I can see it goes back to

[code]
in the resolvePromise method.

By the way. I am having always longStacktrace enabled when pulling in the universal pollyfills,

[2016-04-06 20:32] gdi2290 commented on #73
@Bhushan001  when using DynamicComponentLoader you need to wire up the inputs manually.
[code]
this is a support question about Angular 2 so I'm going to close this issue to keep the issues down

[2016-04-06 20:32] #73 closed

[2016-04-07 15:11] MarkPieszak commented on #74
ZoneJS issue apparently, logged an issue @ universal as well.
https://github.com/angular/universal/issues/350

Looks like Zone needs to be bumped up to `0.6.8` for this to work.

https://github.com/angular/zone.js/issues/310

[2016-04-08 13:25] BojDom opened #76 "Path to include templateUrl and styleUrls"
I tried with this starter to import the template file from `templateUrl: './a.html'` instead of putting the template inside the component, but the console shows <img src="https://cdn.pbrd.co/images/28ZfOcX.png"/>.
I have tried also with ./app/a.html and /src/app/a.html but everything fails, any suggestion?

[2016-04-08 15:52] gdi2290 commented on #76
the server needs a full url

[2016-04-08 17:06] BojDom commented on #76
Now im faceing this problem ...
<img src="https://cdn.pbrd.co/images/2nto1N2.jpg"/>
where can i read a log to investigate about it?

[2016-04-08 23:24] BojDom commented on #76
Last error was because of a setInterval, im gonna close this

[2016-04-08 23:24] #76 closed

[2016-04-09 00:23] gdi2290 commented on #76
oh yeah, if you use setInterval then the server won't know when to stop before rendering

[2016-04-11 05:49] cristinecula commented on #66
@gdi2290 that does the trick :)

[2016-04-12 22:52] jensvdh opened #77 "How to get the render output as a String?"
Hi!

Instead of sending my serverside rendered Angular App straight back to the client I'd like to access it as one long HTML string and save it in a file.

basically I'm trying to get the output of

`  res.render('index', {
    directives: [Html],
    providers: [
      NODE_ROUTER_PROVIDERS,
      NODE_HTTP_PROVIDERS
    ],
    async: true,
    preboot: false
  });`

in server.ts as a long HTML

[2016-04-13 01:22] gdi2290 commented on #77
[code]

[2016-04-13 01:24] gdi2290 commented on #77
@jensvdh I also noticed you're located in SF. we can also meet up and I can quickly help you to get universal up and running

[2016-04-13 03:36] jensvdh commented on #77
Hi @gdi2290

That resolves my question. Thanks!

And thank you for the offer. I try to attend some meetups every now and then so I might have run into you. Angular Universal has been great so far but documentation is pretty lacklustre at the moment so I wasn't sure what the best place was to ask questions. Please point me to the right location if this wasn't it.

[2016-04-17 20:13] MarkPieszak commented on #74
This issue should be all fixed now (if you get latest) & can be closed out. @joaogarin

[2016-04-18 08:02] jhades opened #79 "Server side rendering always renders the homepage"
With versions  angular2": "2.0.0-beta.15, angular2-universal": "~0.95.1" of the starter (I just freshly cloned it now), I've noticed the following behaviour:

If we open the starter and go to the about page in [localhost:3000/about](localhost:3000/about]), and then hit refresh and inspect the response:

We notice that the home page is being rendered by the server, and not the about page.  We can s

[2016-04-18 13:07] blondinh opened #80 "Problem to inject $localStorage linked to window?"
Hello,

In debug window of Chrome i have window is not defined when I try to inject $locaStorage.
It refers to folder angular2/src/facade/browser.js

Please could you provide some informations?

[2016-04-19 09:20] danieleteti opened #81 "Using external html templates"
Using this starter-kit is it possibile to use external templates? The templateUrl attribute should contains the full file url? Where the html files should be? Is provided a build pipeline to creteate a proper dist folder with js,html,css and so on?

[2016-04-19 10:11] Bhushan001 commented on #81
#43 there is already a solution provided for this issue. you can track this issue here.and templateUrl must contain full Url in order to work correctly.

[2016-04-19 10:22] danieleteti commented on #81
Thank you. What about the build pipeline? Is there a recommended approach?

[2016-04-20 01:57] gdi2290 commented on #80
`$locaStorage` doesn't exist but we can make one in Universal for you to use

[2016-04-20 06:57] gdi2290 commented on #79
yeah sorry, this is a problem with the recent change to include `ORIGIN_URL` where we're reusing the platform injectors but accidently reusing the application injectors as well

[2016-04-20 06:59] gdi2290 commented on #79
I'll push an update right now

[2016-04-20 07:12] gdi2290 commented on #79
@jhades  update to universal `0.98.1` fixes it

[2016-04-20 07:13] #79 closed

[2016-04-20 07:14] #74 closed

[2016-04-20 07:21] jhades commented on #79
I've updated it and can confirm that everything is working well, Thx

[2016-04-20 07:29] gdi2290 commented on #79
make sure you're on beta.15

[2016-04-20 07:43] joaogarin commented on #74
Yes this is gone! 👍

[2016-04-20 17:56] blondinh commented on #80
Yes, please!

[2016-04-22 09:47] vincentwinkel commented on #79
Hi,
I'm sorry but I've still the same problem. This is my package.json :
[code]
You basic example works perfectly but when I try to insert my own code (another app I started to develop with angular2 starter), the client-side works perfectly, but the server always returns the index file containing empty <app></app>.
The build step is ok, everything build and run correctly, the problem is only about

[2016-04-22 19:07] gdi2290 commented on #79
@vincentwinkel can you update universal to `0.98.2` then run `npm prune` and `npm install`

[2016-04-23 13:24] MarkPieszak commented on #72
Done via #82 @gdi2290

[2016-04-28 19:55] asgerjensen commented on #72
When trying to add angular2-universal to the Angular2 Webpack starter project, I get

[code]

[2016-05-05 15:48] drejohnson commented on #77
Hi @gdi2290 when I updated angular2 to 2.0.0-beta.17 and angular2-universal to 0.99.0 the above method breaks.

`EXCEPTION: No provider for Token originUrl! (ComponentResolver -> RuntimeCompiler -> DirectiveNormalizer -> XHR -> Token originUrl)`

Here's the repo I stitched together: https://github.com/drejohnson/universal-angular2-starter.git

[2016-05-05 17:40] gdi2290 commented on #77
@drejohnson I created a PR https://github.com/drejohnson/universal-angular2-starter/pull/1

[2016-05-06 21:24] jeffwhelpley commented on #62
This is a dupe of #61.

[2016-05-09 15:48] glemiere opened #84 "Unable to find module..."
hi!

Thank you very much for your work, it is awesome! But there is something that disturbs me. I've added the module compression to my project, but when I try to import it on my server.ts, the compilation throw me that error : error TS2307: Cannot find module 'compression'.

Any idea to fix it ?

[2016-05-09 17:05] drejohnson commented on #77
Hi @gdi2290, thanks for the PR but now I get `ORIGINAL EXCEPTION: No provider for Http!`

I created a fork of universal-starter with issue: https://github.com/drejohnson/universal-starter.

Thanks again

[2016-05-09 21:29] gdi2290 commented on #77
@drejohnson can you try https://github.com/drejohnson/universal-starter/compare/master...gdi2290:patch-1

[2016-05-09 23:16] gdi2290 commented on #84
it's a typescript error where you need to install the types for compression
`typings install compression`

[2016-05-09 23:16] #84 closed

[2016-05-09 23:22] glemiere commented on #84
Hi gdi2290,
Thank you for the answer, I just tried to use the command line you gave me, but it doesn't work, npm give me the following message :
`typings ERR! message Unable to find "compression" ("npm") in the registry.`

Any other idea ?

[2016-05-09 23:26] glemiere commented on #84
I just found that :
https://github.com/DefinitelyTyped/DefinitelyTyped
https://github.com/retyped/compression-tsd-ambient

I will try to fix that issue this way ;-)

[2016-05-10 01:23] gdi2290 commented on #84
@glemiere can you run `typings install compression -SA`

[2016-05-10 12:35] glemiere commented on #84
I just ran that command, my output is the following one :
[code]
I've no error anymore but the compression is still not enabled, my code in my server.ts is the following one :

[code]

Thank you very much for your help, you're awesome! I suggest you to add that plugin in the webpack configuration to speed up that project when the node_env is not in production ;)
[code]

[2016-05-10 12:47] glemiere commented on #84
I've moved my `app.use(compression());` and it works very well now!
Thank you very much for your help! :D

[2016-05-10 18:43] drejohnson commented on #77
@gdi2290 That works. Thanks!

[2016-05-10 19:07] #77 closed

[2016-05-11 19:42] Kunepro commented on #66
To me it's not working at all.

Cloned repo.
npm install
I change this and only this in server.ts (it's a fresh install):
`preboot: false`
TO:
`preboot: { appRoot: 'app' } `
[code]
I open localhost:3000 on Google Chrome Version 50.0.2661.86 (64-bit)
I see the page.
I open dev tools.
Network -> throttle 4G for delay.
Empty Cache & hard reload.
I type some random letters in the "Two-way binding: <th

[2016-05-12 08:47] jeffwhelpley commented on #66
@Kunepro I just tried this out again with the latest and it does work for me. In `client.ts` try to change the bootstrap to:

[code]

Then test again. This obviously should do the same thing as network throttling, but just curious to see if you see different results. Let me know either way.

[2016-05-12 14:54] Kunepro commented on #66
Hi @jeffwhelpley , nice to meet you, expecially after watching your conferences!
If I load the page from localhost with your code it looks like it works,
I edit the input field, and after the 3 seconds the string gets updated.
However, I hate to bring bad news, but when using developer's tools and network throttling the issue persists. (your code is still there)
I tested this 5 more times to don't

[2016-05-13 12:14] jeffwhelpley commented on #66
@Kunepro ahhhhh....I see the issue. hey, @gdi2290 so it looks like the express engine is currently pulling in preboot as an external file. We need to make this inline. Let's discuss at our meeting today.

@Kunepro I will post here when we are able to get this change in, but if this is a blocker for you and you are adventurous, the workaround for this is to override the express engine and have the

[2016-05-13 13:10] Kunepro commented on #66
Hi @jeffwhelpley , thank you for the help.
I'm still working on the client, I can wait the official fix for the server, I'm just glad to know that it will be fixed!

[2016-05-13 14:01] dalgard opened #85 "indexFile and dist?"
The function `indexFile` in `server.ts` doesn't seem to be used anywhere. Should it perhaps be removed?

I stumbled upon it because I was looking into how `index.html` is served, since that file isn't in the `dist` folder. I find this very strange...

Is it correct that `index.html` is currently served from the `src` folder?

To be clear, I would expect to be able to distribute my application usin

[2016-05-13 20:02] gdi2290 commented on #85
`indexFile` isn't used. someone would use it if they're looking to only service the `index.html` It was mostly used for a demo at ng-conf

[2016-05-14 06:50] dalgard commented on #85
Thanks. Any comments in regard to my other question?

[2016-05-17 16:02] felipedrumond opened #86 "@Component template: does not find the template file"
I'm trying to move the Home component to a pair of files (home.ts and home.html) like this:

`@Component({
    selector: 'home',
    template: require('home.html')
})`

Both home.ts and home.html are in src/app folder. I've tried even to use the absolute path of home.html, with no success.

run what gives me the following error:
ERROR in ./src/app/home.ts
Module not found: Error: Cannot resolve mo

[2016-05-17 16:07] bigbassroller commented on #86
try  ``` templateUrl: 'src/app/home.html'```

[2016-05-17 16:41] felipedrumond commented on #86
Thank you Michael! It really solved the issue!

[2016-05-17 20:33] jhawlwut opened #87 "components.map is not a function"
After cloning the repository and going through the steps, when I run "npm start", a handful of errors are generated.

[code]

This error is preceded by
[code]

Nodemon still runs the server, but when going to the address @ localhost:3000 the service crashes
[code]

[2016-05-17 21:33] Codenator81 opened #88 "Is SystemJs starter deprecated?"
I try it but it not works even after updates to angular 2 rc 1 and last universal.  I know there issues to support SystemJs in Universal

[2016-05-18 06:54] Bhushan001 commented on #86
@felipedrumond if its solved then please close this issue.

[2016-05-18 11:05] #86 closed

[2016-05-18 21:05] visikov commented on #79
@gdi2290 I'm getting this issue with ng2-rc1 and ng2-uni@0.101.3

The seed project is producing the error as well, so you can pull that down to recreate the issue.

[2016-05-21 08:52] joaogarin opened #89 "HTTP not working with latest version"
Hello,

I just pulled a fresh copy of the repo and the HTTP is not being rendered server side. I noticed because update my own project to @angular rc and latest universal. and then pulled a copy of the starter and same thing happened, the HTTP request is not being loaded in the server only when the client kicks in.

![screen shot 2016-05-21 at 10 56 11](https://cloud.githubusercontent.com/assets/2

[2016-05-21 09:39] joaogarin opened #90 "Router not working with the latest version"
Router seems broken currently. Server side router does not map to the right views.

Just disable javascript and try out and and basically router and http will not fire anything. Tested with latest fresh version of today.

![screen shot 2016-05-21 at 11 38 32](https://cloud.githubusercontent.com/assets/2866604/15447602/919834c0-1f48-11e6-86ca-cc4da6a32a76.png)

[2016-05-21 09:50] joaogarin commented on #89
Might be related with latest comment here https://github.com/angular/universal-starter/issues/79

[2016-05-21 09:50] joaogarin commented on #90
Might be related with latest comment here https://github.com/angular/universal-starter/issues/79

[2016-05-21 12:02] felipedrumond commented on #89
I'm not sure which software platform you are interested in, but I'd suggest you looking at [https://github.com/aspnet/JavaScriptServices/tree/master/samples/angular/MusicStore](url)

I was trying to develop a website using universal and node.js, but definitely those guys on Microsoft are doing a great job to integrate angular 2 running at server.

[2016-05-21 15:23] joaogarin commented on #89
I am using express like the starter repo.

[2016-05-21 18:45] jessehouchins opened #91 "Docs/Bugs in SystemJS branch setup"
The system JS branch would not correctly complete `npm install` for me (unmet dependency, wrong version of angular2-universal ironically). This also seems to prevent the server from starting. I looked at the `package.json` to see why the documented `npm watch` was not working to find that there wasn't one. So I used `npm start` instead, where I encountered `error TS2307: Cannot find module 'angula

[2016-05-21 18:46] jessehouchins commented on #91
I was trying to run with node v6.1.0 and npm 3.8.6.

[2016-05-22 23:57] xe4me opened #92 "Styles are loaded twice"
Hi Guys.
I've forked and npm installed the repo and that's it , didn't touch anything else.
The problem is when I inspect the page after npm starting , I can see that every small style is loaded twice and appended at the head tag.
Attached the screenshot.
Thanks
<img width="923" alt="screen shot 2016-05-22 at 23 27 15" src="https://cloud.githubusercontent.com/assets/7995651/15457422/b0c45f9c-20cc-

[2016-05-23 15:35] coderabsolute commented on #92
Good catch! I wonder why? :) When you reported this issue, I notice the same.

[2016-05-24 07:04] jaumard opened #93 "This was rendered from the server"
Whatever I click on menu or reload, I always have the message `This was rendered from the server!` I suppose first load was made by the server but then if I click on the menu "About" from "Home" the render is local not from the server so message is wrong...

[2016-05-25 04:24] gdi2290 commented on #86
you need ./home.html

[2016-05-26 17:56] davidkaminsky opened #94 "Error in rxjs/Subscriber.js when attempting to load page"
When I try to load the root page after starting the server in the example, it fails because rxjs throws an error:

`/Users/david/git/universal-starter/node_modules/rxjs/Subscriber.js:196
                throw err;`

It looks like the typings have all built correctly and the server does start. I'm not sure what the problem is exactly. I'm running node 6.2.0 but i also tried it with node 5.11.0 and

[2016-05-26 18:10] davidkaminsky commented on #94
Looks like I just figured it out. It was swallowing an ECONNREFUSED error. Had a port conflict.

[2016-05-26 18:10] #94 closed

[2016-05-26 19:13] davidkaminsky commented on #89
I am seeing this as well.

[2016-05-26 19:14] davidkaminsky commented on #90
I'm seeing this as well.

[2016-05-26 19:44] yazeedb commented on #90
I see this as well

[2016-05-26 21:09] kylebuch8 commented on #89
@joaogarin I'd try again now. @gdi2290 just pushed a release that addressed an http issue. Try updating to version 0.101.4 and run npm prune and npm install.

[2016-05-26 22:13] #89 closed

[2016-05-27 06:35] ianbelcher commented on #79
Same issue here on ng2-rc1 and ng2-uni@0.101.3.

@visikov Did you figure out what your issue was? This is also happening for me another project I'm working on which leads me to believe the issue is with universal itself or I'm just not understanding how it is meant to be correctly implemented.

[2016-05-27 15:04] davidkaminsky commented on #89
This still works pretty funky even after upgrading to 0.101.4. The problem is less evident now but still exists to some degree. Let me explain.

1) Start the server. Hit the "About" page. You see the about page immediately - looking at the source it's clearly server rendering the text 'This is the "About" page'.
2) Hit the "Home" page in a new tab. It renders the about page and switches to the hom

[2016-05-27 15:10] visikov commented on #79
@ianbelcher I was only able to give it a few hours to investigate and couldn't find a solution. I'll try and take a look again sometime this weekend.

You're right, this is an issue with universal and not specific to this starter seed project.

[2016-05-27 15:44] davidkaminsky opened #95 "Async Service Runs Again on Client After Resolving and Rendering on Server"
Hello, not sure which project is the right one to post this on but I'm using the universal-starter and modifying it a bit to do some testing and have noticed that if I do a simple async service, it'll resolve and then render on the server and immediately do it again on the client - the result is it actually takes twice as long for the user to see anything. My simple service looks like this:

[code

[2016-05-27 16:41] gdi2290 commented on #89
@davidkaminsky please track https://github.com/angular/universal/issues/421 which is the correct problem

[2016-05-27 23:24] MarkPieszak commented on #95
Does it work better if you switch it to `async: false` in `src/server.ts` ?

[2016-05-27 23:25] MarkPieszak commented on #93
You're right I'll fix that up, I'll make the message go away once the client has bootstrapped.

The `<router-outlet></router-outlet>` area is also really small, so most things always stay on the screen. I'll tweak all of that to remove some of that confusion 😉

[2016-05-27 23:26] MarkPieszak commented on #92
Nice catch @xe4me I'll investigate this one!

[2016-05-28 10:53] jaumard opened #96 "Non webpack version ?"
Hi,

I'm trying to use this starter repo to start with Angular2 and server rendering. I didn't know webpack at all and don't want to learn it (found it too difficult to configure...).
Do you plan to do a version without it ? Maybe with gulp ?

My problem is that webpack is bundle `client` and `server` in one file. I use another framework to replace Express witch cannot be bundle easily (and don't

[2016-05-29 16:52] joaogarin commented on #89
sorry was out the last few days. I will track the progress there and try out the newer versions on my app to see how its doing;) tks

[2016-05-29 16:53] joaogarin commented on #96
There is a System js version available https://github.com/angular/universal-starter/tree/systemjs

[2016-05-29 16:54] joaogarin commented on #96
Haven't tested it myself so I cant tell how "in sync" it is with the latest on master;P

[2016-05-29 17:04] jaumard commented on #96
Thanks I see it but it's an old very that use the `preview` of `angular-universal`, and angular2 beta (not rc) it help me but I still have some problems :(

Maybe you can help me, the problem is that http://localhost:3000/node_modules/angular2-universal/dist/polyfills and http://localhost:3000/node_modules/angular2-universal/dist/browser/index return a 404 :(
I think my problem is only with System

[2016-05-29 17:11] joaogarin commented on #96
Yes I think at that time Universal did not have the pollyfills inside so that does not work. I think you will have to use a newer version like the one on the master branch, where universal already publishes its own pollyfills.

[2016-05-29 18:00] jaumard commented on #96
Ok thanks ! I change to use pollyfills module but no more luck, always have 404 I think my systemJS config is wrong but don't know how to make it right. Now it's look like :

[code]

[2016-05-29 18:01] gdi2290 commented on #96
for systemjs you can not use the polyfills helper. you would need to include it outside and before the app runs

[2016-05-29 18:46] jaumard commented on #96
Thanks, in fact I don't understand systemJS I think because even with `defaultExtension;'js'` I have this kind of error :
<img width="1440" alt="capture d ecru 2016-05-29 a 20 24 29" src="https://cloud.githubusercontent.com/assets/2970449/15635308/8722d100-25db-11e6-89c7-11669a85f63d.png">

Also angular2-universal use `zone.js/dist/zone-microtask` witch no longer exist on `zone.js`.

A full up to

[2016-05-29 20:11] gdi2290 commented on #95
this is expected behavior since you would need to provide a way to transfer the cache (state) to the client and then have your service look in the cache before making the async call

[2016-05-29 22:20] davidkaminsky commented on #95
@gdi2290 is there a prescribed way of doing this at the moment? I thought this was part of what preboot was supposed to handle? this is obviously something i could create for my service - just thought it was handled.

[2016-05-31 12:36] buraktamturk opened #98 "about page does not render on the server"
when I start the development server and run this curl command:

[code]

it responses with: This is the "Home" page.

However http://localhost:3000/about in the browser results: This is the "About" page

Browser receives the home page instead of the about page then renders about page.

[code]

[2016-06-01 11:48] vinodbhargava opened #99 "How to inject http service in server.ts"
I am currently trying to inject http service in server.ts and then pass the returned data to `app` component to render it.
Below is my snippet in server.ts -

`import {Http} from '@angular/http';`
`import {TemplateServiceFactory} from './app/services/template.service.factory';`

[code]

TemplateServiceFactory.ts -

`import { Injectable } from '@angular/core';`
`import { Http, Response } from '@ang

[2016-06-06 09:39] vaskgjuri commented on #91
It also seems to be outdated. The mater branch has been updated with the newest version of angular, but the systemjs branch still uses old beta.

[2016-06-06 12:05] joaogarin commented on #99
yeah like @MarkPieszak mentions you just need to inject it in the constructor. And yeah if possible close the issue as its not an issue with universal.

[2016-06-06 12:51] kuldeepkeshwar opened #100 "how to use universal with system.js"
existing branch(systemjs) is not working even after updating to latest angular2 and universal

[2016-06-07 15:07] sap9433 opened #101 "Error: No Directive annotation found on [object Object]"
using Angular universal `"angular2-universal": "~0.101.8",` , with `"@angular/core": "2.0.0-rc.1",` . Server starts up fine but whenever I hit `localhost:9876` server fails with following error

`Error: No Directive annotation found on [object Object]
    at new BaseException (/home/saptarshichatterjee/Desktop/server-side-rendering/node_modules/@angular/compiler/src/facade/exceptions.js:17:23)

[2016-06-07 20:29] MarkPieszak commented on #101
Can you take a look at this issue? It looks like it is caused by potentially colliding versions of Angular? (I'm not positive, haven't seen this one myself before)

http://stackoverflow.com/questions/35971299/angular2-exception-no-directive-annotation-found-on-alert

[2016-06-08 01:10] sap9433 commented on #101
I bumped onto that Stackoverflow thread before , but I'm not using module `ng2-bootstrap`, I', using exactly same dependencies mentioned in `https://github.com/angular/universal-starter`. Here is what my package.json looks like.

[code]

[2016-06-08 02:46] AhmedObaidi opened #102 "View flickers when data.json is slow"
If I add a delay to data.json, the view flickers when client side rendering executed.
[code]

[2016-06-08 12:08] MarkPieszak commented on #101
Any idea @gdi2290 ? Looked at the repo didn't look like anything stuck out to me

[2016-06-08 12:28] MarkPieszak commented on #102
In the `server.ts` file: Do you have `preboot : false` perhaps?
That can create a flicker since there isn't a shadowed copy of the app below it.

[2016-06-08 12:36] MarkPieszak commented on #100
Are you getting this error?

[code]

[2016-06-08 13:55] kuldeepkeshwar commented on #100
yes

[2016-06-08 14:19] kuldeepkeshwar opened #103 "npm run build is failing"
After running `npm run build` on master branch, i'm getting below errors

KuldeepMac:universal-starter kuldeepkeshwar$ npm run start

ts-loader: Using typescript@1.8.10 and /Users/kuldeepkeshwar/ui_workspace/universal-starter/tsconfig.json
ts-loader: Using typescript@1.8.10 and /Users/kuldeepkeshwar/ui_workspace/universal-starter/tsconfig.json
Hash: d876ad0032684e8c83f62102274b942c3ad1efb1
Version

[2016-06-08 14:25] AhmedObaidi commented on #102
I tried with both `preboot : false` and `preboot:  { appRoot: 'app' }`. I observe same behavior in both ways. The html page I get from the server already contains preboot code and script block.
[code]

[2016-06-08 14:40] kuldeepkeshwar opened #104 "Error: file table overflow"
on using `templateUrl` in place of inline template , I'm getting below error.

[nodemon] starting `node dist/server/bundle.js`
Listening on: http://localhost:3000
EXCEPTION: Failed to load app.component.html
ngOnInit Error: Failed to load app.component.html
Async Error: [TypeError: Cannot read property 'map' of undefined]
Rendering Document Error: [TypeError: Cannot read property '0' of undefined]

[2016-06-08 14:50] MarkPieszak commented on #102
try `true` ? I didn't see a true flicker besides the data going in & out on the page

[2016-06-08 14:51] MarkPieszak commented on #104
You cannot use external `html` templates with Universal just yet.
This is already tracked via issue: https://github.com/angular/universal/issues/294 and can be closed out.

[2016-06-08 15:07] MarkPieszak commented on #100
I'm working on this one now, I have it past that error but need to figure out a few other things. That branch hasn't been updated in quite a while. Sorry for the delay!

[2016-06-08 15:53] kuldeepkeshwar commented on #104
what about styleUrls ?

[2016-06-08 16:21] AhmedObaidi commented on #102
OK, I just tried it with `preboot : true`, and got same behavior.
This screencast shows the behavior.
http://screencast.com/t/RxkTgdch71sK

The page first rendered with
[code]

But when client side angular is bootstraped, it deletes the content before it get the response from the server. Since the server takes 2 seconds to return the response, user can notice the flicker.

[code]
After 2 seconds,

[2016-06-08 16:50] MarkPieszak commented on #102
Yes this flicker is supposed to happen unfortunately, the content is actually re-loaded again on the Client-side (and you have that 2 second delay). If you don't want to load async calls on the server-side just do `async: false` in your express settings.

I might be mistaken but I think we'll be adding a cache ability to Universal at some point in the future (to save these xhr calls if desired, so

[2016-06-08 16:53] MarkPieszak commented on #104
I don't think either work yet, they're both in the pipeline for the initial 1.0 release (I believe) though. I believe with webpack it's possible to use `require()` to be able to use externals (since internally it just injects the html / css). But that's just a temporary work-around.

[2016-06-09 06:05] gajdot commented on #96
Any update on this? @jaumard where you able to figure it out?

[2016-06-09 08:13] gdi2290 commented on #101
@sap9433 here's your fix https://github.com/sap9433/server-side-rendering/pull/1 the problem was realizing that there isn't deconstruction in es5

[2016-06-09 08:13] #101 closed

[2016-06-09 08:53] gdi2290 commented on #99
to get it to "work" on the server outside of Angular2 you're looking for
[code]
with that said for what I think you're doing I don't think (prefetching templates to store in _templateObject) I'm not sure if this is the best solution. If you're trying to use the templateCache then I can provide a better way to inject this in the document

[2016-06-09 08:56] gdi2290 commented on #102
the idea is that you're suppose to cache the api endpoints so when the app bootstraps and makes api calls it will hit the cache first. I need to wire up (again) sending the existing cache down to the client embeded in the index.html so when the client bootstraps the http calls would hit the cache yet again and returns the results

[2016-06-09 12:40] MarkPieszak commented on #96
I'm currently trying to fix the SystemJS version (it hasn't gotten any love in a while), been very busy but hoping to have it checked in within the next few days! @gajdot @jaumard @joaogarin

[2016-06-09 12:49] jaumard commented on #96
@gajdot finally I use this examples https://github.com/angular/universal/tree/master/examples/src witch working without any builders. Found them easy to understand.
@MarkPieszak would be great !! Can't wait to test it :)

[2016-06-09 13:21] gajdot commented on #96
@MarkPieszak that would be awesome :)
Whole day I was banging my head against the keyboard :) I got it working server side, the initial server side rendering is working, but couldn't really figure it out to work on client side after that, don't know what am I missing :)

I was just about to give it up and start learning webpack xD

@jaumard Thx, I'll look into that also, maybe I'll learn something

[2016-06-09 13:48] gajdot commented on #96
@jaumard did you do anything special to make the example working? For me on windows I get tons and tons of errors :(

[2016-06-09 13:51] jaumard commented on #96
@gajdot windows... it's evil lol no sorry I'm not on windows I just clone the repo npm i && npm start and let's go

[2016-06-09 13:55] gajdot commented on #96
I still don't get it why it's so painful to code on windows... The tools would be much more preferable, but the open source stuff is just killing... I'll try it on a virtual machine then later today

[2016-06-09 14:15] MarkPieszak commented on #96
@gajdot The actual Universal repo itself isn't working on Windows yet, I'm also working on that, a little over 1/2 way done there. There is an underlying huge issue with `npm` & `tsc` for windows that's making it take a while to overcome :(

[2016-06-09 15:44] gdi2290 commented on #90
can you try again with the latest version?

[2016-06-09 15:47] gdi2290 commented on #85
index.html is being read via express view engine then embedded with angular which is why it's never in dist. So this is only a concern with how express/server works

(closing for now but open another issue if you have more questions)

[2016-06-09 15:47] #85 closed

[2016-06-09 15:51] egaspro opened #105 "Does not bootstrap after project structure changes"
Hey,
that's a great work you're doing with angular-universal guys.

I am playing with this repo for some time and when i tried to change structure of this project i encountered an issue: html is supplied from server, but the client no longer bootstraps into the hidden `<app></app>`.

Folder structure:
 / Universal-Starter
 /-/ client <--- was "src"
 /-/- client.ts
 /-/- index.html
 /-/-/ app <---

[2016-06-09 16:09] gajdot commented on #96
Hehe, ok @MarkPieszak, so you're my savior then? :D

Till you can fix any of the two underlying issue then, I'll start working with the main repo on a linux VM so at least I can learn something, maybe in the future I'll be able to help.

[2016-06-09 17:16] gdi2290 commented on #81
this works but you have to set `moduleId` to `__filename` and make sure your server serves the file correctly

[2016-06-09 17:26] gdi2290 commented on #105
do you have a link to your repo with the changes?

[2016-06-09 17:28] gdi2290 commented on #87
I updated universal to reflect better errors for this case. the problems seems to be that 1`directives: []` is empty. Please open another issue if this wasn't the case and you can reproduce this error again

[2016-06-09 17:28] #87 closed

[2016-06-09 17:36] gajdot commented on #96
Wow, the build is dark and full of errors :D

@jaumard I just tried to run the build on Ubuntu with latest node, npm etc. Well I never saw so many errors in one build process without crashing the build. In the end it completed, but it's still not working with a simple install and start command for me. Did you do anything special to make the example working?

[2016-06-09 18:01] jaumard commented on #96
@gajdot I never use latest node because half of all node modules are not compatible with it ^^ I use last v4 and last v5 and no problem.

EDIT: I just try with latest version of the master and it's doesn't work anymore
[code]

[2016-06-09 18:09] vinodbhargava commented on #99
Closing this.

cheers :+1:

[2016-06-09 18:09] #99 closed

[2016-06-10 04:17] gdi2290 commented on #98
this should have been fixed a few releases ago. can you confirm otherwise reopen the issue or create another one thanks!

[2016-06-10 04:17] #98 closed

[2016-06-10 06:31] egaspro commented on #105
I've just imported it to my github: https://github.com/egaspro/angular-starter-tryout

[2016-06-10 16:30] AhmedObaidi commented on #102
Many thanks Mark and gdi2290.

Can't we just serialize the model and skip client side rendering until model is changed by user input, timer or server side push notification ?

[2016-06-11 19:21] gdi2290 commented on #102
yeah we can send the results to the client so the client will reuse the response made from the server

[2016-06-13 12:29] egaspro commented on #104
Using webpack alternative for component-relative paths worked for me:
https://angular.io/docs/ts/latest/cookbook/component-relative-paths.html#!#webpack ;
As for styles, i could not separate them just yet: you would need something like isomorphic-style-loader instead of style-loader for your webpack to build server bundle and in my case css-loader created a reference with an url server side could

[2016-06-14 08:05] joaogarin opened #106 "nodemon constantly restarting"
Hello,

On the latest pull (today with all node modules reinstalled) I am experiencing an issue with nodemon constantly restarting I think..I am attaching a screenshot.
![screen shot 2016-06-14 at 10 03 32](https://cloud.githubusercontent.com/assets/2866604/16035461/80e9783c-3217-11e6-8e56-04b6705d6b8f.png)

[2016-06-14 08:11] joaogarin commented on #106
I think this most an issue with nodemon. https://github.com/remy/nodemon/issues/844 I am actually on node 5.0.0 but I am getting this issue.

[2016-06-14 14:35] mikkeldamm commented on #106
it is not a nodemon issue. Its because the bundle.js file was renamed to index.js. See the fix here: https://github.com/angular/universal-starter/pull/107

[2016-06-14 14:46] MarkPieszak commented on #106
Nice catch Mikkel

[2016-06-14 14:46] joaogarin commented on #106
Cool will close this one then!;)

[2016-06-14 14:46] #106 closed

[2016-06-17 00:19] dfcarpenter opened #108 "Cannot find module 'methods'"
Fresh install, first and successive runs of npm run start

[code]

[2016-06-17 02:08] kuldeepkeshwar commented on #92
any way to avoid this ?

[2016-06-17 12:39] MarkPieszak commented on #108
Tried repro'ing but I didn't see that, seemed to start up fine but saw :

[code]

What are your system specs / Node version / etc?

[2016-06-18 05:51] kuldeepkeshwar opened #109 "Error: using RouteParams"
I'm getting below error when I try to use `RouteParams`

[code]

Code:

[code]

[2016-06-18 13:48] MarkPieszak commented on #109
What if you try `division:string =''` does that have any effect?

[2016-06-18 14:13] kuldeepkeshwar commented on #109
tried with `division:string =""` , still same result

[2016-06-19 04:58] xe4me commented on #92
@MarkPieszak  Any update on this ?

[2016-06-19 20:42] gdi2290 commented on #92
they're loaded twice because the client app needs to use the same id generated from the server

[2016-06-20 00:59] gdi2290 commented on #108
can you delete `node_modules` folder and install again
[code]

[2016-06-20 17:40] vinodbhargava commented on #100
@kuldeepkeshwar were you able to get any solution for this?

[2016-06-20 17:46] kuldeepkeshwar commented on #100
no , i moved to webpack

[2016-06-20 22:47] MarkPieszak commented on #100
Oh sorry I never checked in the System branch fixes! I was almost finished too. Give me a day or two I'll let you know when it's done @vinodbhargava

[2016-06-20 22:48] MarkPieszak commented on #109
Have you seen this one before by any chance? @gdi2290

[2016-06-21 04:59] vinodbhargava opened #110 "AnimationBuilder module not found when upgrading to @angular-2.0.0-rc.2"
Hi,

I am getting compile time exception in universal when upgrading the starter project to angular 2.0.0-rc.2

Details are as below -

Node Version - 6.2.1
npm Version - 3.9.5

Dependencies in my package.json -

[code]

Exception -
![error_2](https://cloud.githubusercontent.com/assets/17468172/16218386/def9e9b0-379a-11e6-888c-186d85cefd05.PNG)

Please suggest.

[2016-06-21 05:03] gdi2290 commented on #110
universal doesn't support rc.2 at the moment

[2016-06-21 05:03] vinodbhargava commented on #110
Any tentative timeline?

[2016-06-21 05:08] gdi2290 commented on #110
it's delayed a little bit because I want to also support the latest router

[2016-06-21 06:33] kuldeepkeshwar commented on #109
@MarkPieszak and @gdi2290
do you have any working example where RouteParams are being used with universal

[2016-06-21 12:54] MarkPieszak commented on #109
Hey @kuldeepkeshwar, I believe it's because you are passing in `RouteParams` under your list of **Providers**, so Universal is trying to DI it, causing the error. You actually don't need to pass it there.

Just remove that `providers: [RouteParams]`, and the error will go away.

Use it like normal after that:

[code]

Just tried, both server & client saw the params logged.

[2016-06-21 12:58] tettus opened #111 "Routes and ROUTE_PROVIDER"
Dear team,  do you have any working example of using routes instead of Route config from deprecated module

[2016-06-21 14:02] MarkPieszak commented on #109
Yes, that includes all of those things like `CanDeactive, RouteConfig, RouteParams`, etc, so you don't need to re-provide them.

[2016-06-21 20:48] kuldeepkeshwar commented on #109
@MarkPieszak , @gajdot
have a look at [poc](https://github.com/kuldeepkeshwar/universal-starter)
This is a fresh repo forked from universal-starter today only .
Changes :
added a new component `header` and using it in `app` component.

I'm using `RouteParams` in both `header` and `home` component.
Although I'm able to access route param(id) in  `home` component only (comment out `header` component

[2016-06-22 00:58] MarkPieszak commented on #111
Hey Tettus, not yet the newest router (that just came out with rc2) is currently in Alpha, but Universal will be set up to work with it at some point no doubt!

[2016-06-22 01:03] MarkPieszak commented on #109
You have `ROUTER_PROVIDERS` being injecting during bootstrap?

Also what does your `@RouteConfig()` look like?

In my example I just had this, and it works fine. You need to make sure the `name` is different than the non parameterized one for example. Otherwise in this case the redirectTo would cause the app to fail.

[code]

[2016-06-22 02:21] tettus commented on #111
Thank you very much for quick reply.

Sent from my HTC

----- Reply message -----
From: "Mark Pieszak" <notifications@github.com>
To: "angular/universal-starter" <universal-starter@noreply.github.com>
Cc: "Sudharsan Tettu" <sudharsan.tk@gmail.com>, "Author" <author@noreply.github.com>
Subject: [angular/universal-starter] Routes and ROUTE_PROVIDER (#111)
Date: Wed, Jun 22, 2016 8:58 AM

Hey Tettus,

[2016-06-22 14:28] kuldeepkeshwar commented on #109
I found the root case for this.
I was trying to directly inject RouteParams in non-routed component(`header`) .
Solutions : create a seperat service and access route-params using it

[2016-06-22 15:33] MarkPieszak commented on #109
That'll do it :+1:

[2016-06-22 21:18] #109 closed

[2016-06-23 05:15] #104 closed

[2016-06-23 05:15] #103 closed

[2016-06-23 09:27] kuldeepkeshwar opened #112 "how to handle DOM api with universal"
how to handle use-cases related to DOM API
- cookies (read/write)
- localStorage

there can be scenarios where one have to read/write cookies .
Right now while server-side rendering `document` object is not available

[2016-06-23 12:39] xe4me commented on #92
@gdi2290
So what does this mean ?
I sure know that this is not normal.

[2016-06-23 12:50] vinodbhargava commented on #110
Hi Patrick @gdi2290, i took the reference of https://github.com/angular/universal/pull/448, and integrated this with angular 2.0.0-rc.2, however got below issues when try to run the project -

1. Reference to wrong import in node.ts file
    (universal-master\modules\universal\src\node\platform\node.ts)
    `import {BrowserDetails} from '@angular/platform-browser/src/animate/browser_details';`  (L

[2016-06-23 19:45] gdi2290 commented on #110
@vinodbhargava universal supports rc.2 and rc.3 now as of `0.103.2`
https://github.com/angular/universal-starter/commit/894f700f8123c032277991dbb15885f73a2e5fa3

[2016-06-23 19:45] #110 closed

[2016-06-24 09:12] mmgyce opened #113 "Error: Cannot find module '@angular/router-deprecated'"
I think this come from the Universal repo, it depends on router-deprecated which is removed since rc 3

[2016-06-24 18:15] kaaboeld opened #114 "Solution problem: adding SEO meta tags to <head>"
Feature request for adding meta tags to <head/>
https://gist.github.com/kaaboeld/851bc3190eec67f6723c6054751ee2dc

This option passes the SEO test of Facebook.

[2016-06-24 20:56] vinodbhargava commented on #113
For temporary solution you can install router-deprecated package till the team comes up with the update.

[2016-06-24 20:59] vinodbhargava commented on #110
Thanks @gdi2290

[2016-06-24 21:01] MarkPieszak commented on #113
The starter uses router v3 alpha, maybe you need to wipe out node_modules and reinstall?

[2016-06-24 21:28] gdi2290 commented on #113
yeah, I forgot to remove it within universal can you make a PR to add it back here until I publish a patch

[2016-06-24 22:21] mmgyce commented on #113
Ok , I already submitted a PR with the change, thanks

[2016-06-25 07:48] #113 closed

[2016-06-25 10:46] okendoken commented on #108
same for me. Had to run `npm install methods` explicitly

[2016-06-25 19:39] gdi2290 commented on #108
make sure you're on npm 3 there's a problem with windows and how many folders deep you can have

[2016-06-26 03:32] MarkPieszak commented on #111
@tettus The repo has been updated the other day to use the latest router3alpha

[2016-06-26 23:06] #111 closed

[2016-06-26 23:10] gdi2290 commented on #88
ya systemjs is deprecated

[2016-06-29 15:32] mathilde-pellerin opened #116 "need to click many times on home to have the view displayed"
Hi,

I just updated my app (which is more or less nothing more than the starter) to the new angular 2.0.0-rc.3 with the new router and the last version of angular-universal.
This new version allows us to use `styleUrls` which is nice!

But on the first load, there is no view loaded on startup:
![no view loaded on startup](https://cloud.githubusercontent.com/assets/3293937/16458245/53e7c428-3e16-11

[2016-06-30 08:47] anop72 commented on #116
If you try to fresh clone this repos. Everything is working.

I think it might be some minor wrong in your code.

[2016-07-01 08:26] mathilde-pellerin commented on #116
You are totally right: I just found out that I didn't update my webpack config as you did!
Sorry about that.

[2016-07-01 08:26] #116 closed

[2016-07-01 19:02] gdi2290 commented on #114
we probably would name it MetaTagService rather than SEO

[2016-07-04 02:33] pokakhoaitay opened #117 "Confused about express.static()"
Assuming that i will deploy this project to my real server.
Follow the `server.ts` file, the root folder for express serve static files is whole `universal-start` folder (<=>`app.use(express.static(ROOT, {index: false}));`), then, i attemp to type this on the browser address bar: `http://ng-domain/src/server.ts`, the browser will download the source file, which should be prevent.

I am confused, @

[2016-07-04 03:03] gdi2290 commented on #117
that was only there for development and should be changed for production

[2016-07-04 03:19] pokakhoaitay commented on #117
I knew that. I mean do you intended implement it to this kit? Or dose this kit just is a very simple to understand  how the angular universal works? Since i need starter project that i can start to learn and enough for me to understand what i should to do to build a real project by my own that can good works on production.
Thanks!

[2016-07-04 03:22] gdi2290 commented on #117
there will be a fullstack angular2 starter release by the end of the month via http://www.meetup.com/AngularJS-MTV/events/232040136/

[2016-07-04 03:31] pokakhoaitay commented on #117
wow...This is a very good news. I didn't known it. Waiting for your awesome works.
So, we will have a fullstack angular2 starter project  after that event meetup right?

[2016-07-04 06:08] gdi2290 commented on #117
ya or at the end of the month at the latest

[2016-07-04 06:10] gdi2290 commented on #117
kool, I limited the public files via https://github.com/angular/universal-starter/commit/cf1b8f77c9757eba22df1806107f604500045921

[2016-07-04 06:10] #117 closed

[2016-07-05 08:51] joaogarin commented on #108
I am getting this on MacOS as well. Also had to install methods manually.

[2016-07-05 08:52] joaogarin commented on #90
This is fixed in latest version.

[2016-07-05 08:52] #90 closed

[2016-07-05 15:46] gdi2290 commented on #108
alright, I updated express and manually included methods.
https://github.com/angular/universal-starter/commit/c4b069eb820bd15eaa38043866d8ed20061efd5d

[2016-07-05 15:46] #108 closed

[2016-07-07 13:11] indcoder opened #118 "TS compile fails and rxjs cannot be found"
A whole lot if these errors

    ERROR in C:\Users\indcoder\Documents\GitHub\universal-starter\typings\browser\ambient\node\node.d.ts
    (1162,9): error TS2300: Duplicate identifier 'mtime'.

    ERROR in C:\Users\indcoder\Documents\GitHub\universal-starter\typings\browser\ambient\node\node.d.ts
    (1163,9): error TS2300: Duplicate identifier 'ctime'.

    ERROR in C:\Users\indcoder\Documents\Gi

[2016-07-07 15:08] MarkPieszak commented on #118
What version of TS are you using? What about Node&npm?
Also do you have typings 1.* ^ installed as well?

[2016-07-07 16:11] indcoder commented on #118
`tsc --version`
version 1.8.10

npm --version
3.9.5

node --version
v6.2.2

typings
v1.3.1

[2016-07-07 16:25] gdi2290 commented on #118
remove the `typings` folder and run `npm run postinstall`

[2016-07-07 17:05] indcoder commented on #118
Ran the postinstall and then ran npm start. Same issue

[2016-07-07 18:49] gdi2290 commented on #118
the problem is that you have an old version of typings with old config.
remove/update your `typings.json` to reflect the one is this repo
remove your `typings` folder
remove/update your `package.json` to reflect `typings` version in this repo
don't use your global `typings` unless it's version 1.x.x

[2016-07-08 01:56] JayKan opened #119 "Cannot start the project"
After running `npm i` and `npm start`, app crashed due to missing module `methods`. (Please see attached screenshot for exact error).

![screen shot 2016-07-07 at 6 51 04 pm](https://cloud.githubusercontent.com/assets/1400300/16675289/88479b44-4474-11e6-92a4-a339203ffc8c.png)

Any ideas on how to resolve this?

- npm@3.3.12
- node@5.2.0

Thanks,
Jay

[2016-07-08 07:35] dottodot commented on #88
Does this mean systemjs doesn't work with universal or that the systemjs branch isn't going to be updated anymore?

[2016-07-08 07:39] gdi2290 commented on #119
can you run
`rm -rf node_modules`
`npm cache clean`
`npm install`
this is either a problem with npm or node

[2016-07-10 17:01] scrapcupcake opened #120 "Server sets its view directory to project /src"
Steps to observe reproduction:
Replace the block at line 20 of server.ts with
[code]
then ```npm start```

Expected result:
Full path for project "dist/server" or similar

Actual Result:
"src"

Why this sucks:
Because I've restructured my app to have two separate front end clients at different router endpoints, a frontend only portion that is minimal, light and fast, and an editor for the same dat

[2016-07-10 18:30] scrapcupcake commented on #120
Solved this problem for myself with some re-engineering, including using the mentioned copy, updating a couple lines to serve up my separate app .js files with express.static, and critically, changing the webpack config for the server to:
[code]

The critical change is:
[code]
But also be sure to have some way to copy your index.html into the dist folder
or include it as source text in your server

[2016-07-11 03:51] scrapcupcake opened #121 "Issue in parse5 library"
See https://github.com/angular/universal-starter/issues/54

I am getting the same basic error in the app I am writing, a CMS I am writing to sharpen my skills and host the website for the homeless encampment I am part of. I have uploaded the project here:
https://github.com/scrapcupcake/dcms

My trace looks as follows. I get this from visiting the index of the site.
[code]

This may be caused by t

[2016-07-11 06:56] yuriychemodakovakv opened #122 "So, how to deploy it to heroku?"
Sorry for the stupid question. And if it's not an appropriate place for this king of questions, please let me know where...

You said in http://stackoverflow.com/questions/35424790/hosting-angular2-on-heroku that this project is an answer on question "how to deploy on heroku?"

Could you please explain how exactly I can deploy it on heroku?

I've uploaded everything where, without dist, node_modul

[2016-07-11 13:26] MarkPieszak commented on #121
This isn't an issue with Universal itself, but your configuration isn't set up right (or something is missing in your setup).

I'm not sure, but it could be a lot of things potentially.

I've seen `Cannot read property length of null` when there isn't an array of directives passed to Universal (so it has nothing to parse). Maybe you're passing the App to the server side incorrectly?

I'm not sure

[2016-07-11 19:36] scrapcupcake commented on #121
So, I'm fairly sure the issue is with my use of an observable data source, and/or the async pipe, but I'm not sure how to solve it. In particular, there seems to be some confusion (I know I'm a bit lost and confused) as to how best to preload data; I thought the preboot/postboot process handled that for server rendered pages, but I'm not sure how to properly build a data service that will work on

[2016-07-11 19:36] #121 closed

[2016-07-11 19:44] MarkPieszak commented on #121
Yes you can use the regular `http` service like normal. Once you have the original server rendering and everything setup, you can just business as usual after that!

[2016-07-11 20:17] scrapcupcake commented on #121
Unfortunately not what I'm seeing, and I'm not sure why. I'm currently
having server rendering my top level app element but not rendering my child
route elements, but the client does render everything after it fires up the
PageStore and retrieves the data.json again, so both server and client make
the call.

Any suggestions to point me in the right direction are appreciated, thank
you for being po

[2016-07-12 18:52] jaumard commented on #88
Any news on this ?

[2016-07-13 00:52] JayKan commented on #119
Thanks @gdi2290. I was able to resolve this issue by upgrading my node to 6.2.0 :)

[2016-07-13 01:30] JayKan commented on #122
I was running into a similar issue while trying to deploy to heroku (https://secure-tundra-88312.herokuapp.com/).

Do we need to modify `main.node.ts` ExpressEngineConfig.platformProviders in order to deploy to Heroku?

[2016-07-13 04:35] #119 closed

[2016-07-13 12:27] kuldeepkeshwar commented on #102
@gdi2290 any example of reusing the response from the server on client side ?

[2016-07-13 17:03] medozs opened #123 "There are bugs with the new version"
It renders twice now when server rendering (once at the server, once at the client), and Augury doesn't recognize the app as Angular2 Components.
The old version of the pack didn't have these issues.
Also: how to solve "DEPRECATION WARNING: `buildClientScripts` is no longer supported and will be removed in next release." warning?

[2016-07-13 23:07] Teshel commented on #122
I'm having the same problem, and here is Heroku's log of the crash:

`$ heroku logs --tail`
`2016-07-13T22:08:29.390846+00:00 heroku[web.1]: State changed from crashed to starting`
`2016-07-13T22:08:33.816513+00:00 heroku[web.1]: Starting process with command 'node dist/server/index.js'`
`2016-07-13T22:08:36.139906+00:00 app[web.1]: module.js:341`
`2016-07-13T22:08:36.139917+00:00 app[web.1]:

[2016-07-15 07:31] Junik opened #124 "Visual Studio Code"
After start "universal-starter" in visual studio code with Node.js launch setting and program entry point "server.ts" all work  but in debug console  EXCEPTION.

**DEBUG CONSOLE :**
Listening on: http://localhost:3000
EXCEPTION: Error: Uncaught (in promise): Error: Protocol "c:" not supported. Expected "http:"
STACKTRACE:
Error: Uncaught (in promise): Error: Protocol "c:" not supported. Expected "

[2016-07-19 05:31] prabirshrestha opened #125 "npm start should watch client and server"
Should npm start be this instead so we don't have to open two windows. One to watch server and another to watch client.

[code]

I'm using `npm-run-all` npm package to run scripts parallel in cross platform way.

Unfortunately wepback is run twice - one in `prestart` and another in `watch` but this is already happening when opening two windows.

[2016-07-19 15:36] amitgaikwad712 opened #126 "data is not showing after rendered from the server"
We have used this seed project for our website development.
  due to "prebootComplete" in client.ts, it is showing data and after some time it will remove the css of it and data is getting hide.
after commenting the "ngApp().then(prebootComplete);" it will work fine but this will not generate any click event , keyup event in DOM object.

[2016-07-19 15:52] MarkPieszak commented on #124
@Junik Is this a project based off of the Angular CLI by any chance?
What version of Universal are you using in your app also?

[2016-07-19 19:28] sunild commented on #100
Any word on this? I'd love to see a working example with SystemJS so I can get server rendering working on an existing project. My earlier attempts at this failed miserably, b/c it was impossible to resolve all of the issues w/unknown providers.

I'm hoping a slimmed down example will shed some light on why I couldn't get it working :)

[2016-07-21 04:40] JayKan commented on #122
Very interesting @Teshel, after reviewing my heroku log I realized my error was slightly different than yours, instead of can't find `dist/server/index.js`, my error was can't find module `/app/dist/server/index.js`. (See attached log screenshot)

<img width="1426" alt="screen shot 2016-07-20 at 9 35 31 pm" src="https://cloud.githubusercontent.com/assets/1400300/17011389/82be219a-4ec2-11e6-8d0f-85

[2016-07-21 17:42] Teshel commented on #122
That looks like basically the same error I was getting. Those are the same files, notice that your logs also mention an error in process `node dist/server/index.js`. Heroku puts your project into `/app/ ` and runs everything from there, so one error message is just giving the full path and the other a local path.

Anywho, my solution to this issue was switching to [Vlado Tesanovic's Angular2 Expre

[2016-07-22 11:44] beckmeindia opened #127 "Using angularfire2 with this starter"
Hey,
     I am using Angular2 webpack with Firebase for developing my application. Hence I am using this starter to build the entire application.

I searched through documentation for using firebase or angularfire2 with this but could not find any. The present angularfire2 docs use angular-cli & don't work with this.

Could you please help?

Thanks,
Rahul

[2016-07-22 20:50] manekinekko commented on #127
@beckmeindia what are you trying to accomplish? This starter is for Angular Universal not AngularFire.

[2016-07-22 21:18] joaogarin commented on #127
@beckmeindia I think you might be in the wrong repo? https://github.com/angular/angularfire2
Documentation is on https://github.com/angular/angularfire2/blob/master/docs/1-install-and-setup.md

[2016-07-23 06:22] beckmeindia commented on #127
@joaogarin thank you. I was referring to the wrong docs.

[2016-07-24 01:36] yuriychemodakovakv commented on #122
@Teshel, it doesn't work as well https://my-express-starter.herokuapp.com/. Completely the same.

[2016-07-25 13:04] beckmeindia opened #128 "Deploying production build"
Hey,
       I ran **npm run build** and in the dist folder it said "cannot find src/index" on adding it manually, the error vanished. Was it a bug against my compilation or a standard error that can be ignored?

Also I was curious to know that if I want to deploy on Google Cloud Platform for node.js would the way be the standard procedure for a node.js application as laid out in this: https://clou

[2016-07-25 14:28] Ignigena commented on #122
So there are a couple different issues here preventing a quick deployment to Heroku. @Teshel touched on a couple of them:

- The `Procfile` changes the default behaviour of Heroku from `npm start` to `node dist/server/index.js` which doesn't exist when Heroku clones the repository. The way this works now will require you to run a build and deploy process outside of Heroku using a service like Trav

[2016-07-26 05:57] beckmeindia commented on #127
Hey,
    I am trying to integrate angularfire2 with this starter. Apparently I keep getting an error AngularFire not found, as it is running on the server side. The setup seems to be fine for webpack. I don't know how to bypass this problem of server-side and make it work with this starter.

Could any of you give ideas about a workaround for it?

I have attached the repository here: https://github

[2016-07-26 14:04] manekinekko commented on #127
@beckmeindia I am gonna take a look at your issue tonight. I'll let you know.

[2016-07-26 14:10] beckmeindia commented on #127
Thank you so much Wassim
On 26 Jul 2016 19:34, "Wassim Chegham" <notifications@github.com> wrote:

[2016-07-26 23:28] manekinekko commented on #127
@beckmeindia I did some diggings. Here are my tldr: We simply need to add support for AngularFire2.

Here are more details:

One of the issues is coming from the `FirebaseSdkAuthBackend` implementation which requests `this._fbAuth = _fbApp.auth();`. However, `_fbApp.auth()` doesn't seem to work (??); and then `this.-fbAuth` is `NULL` all the way down.

Here are the steps to reproduce this issue:

[2016-07-27 03:13] mostlyjason commented on #70
It's 2.6 MB unoptimized. This is kind of crazy to me because one of the main attractions for universal code is the performance improvement, and yet we have this huge download and almost a third of a second parsing scripts, without even adding any business logic. Is there any way we can remove unneeded modules from the web pack config on the client side?

[2016-07-27 03:43] gdi2290 commented on #70
less code size is done with ngc by pre-compiling the app. This feature will be available in the near future.

[2016-07-27 03:45] gdi2290 opened #130 "update to webpack 2 and typescript 2"

[2016-07-27 14:01] beckmeindia commented on #127
@manekinekko  Hey Wassem thanks a lot for your time and debugging. Will look forward to changes in the universal Authbackend by @davideast and try to implement what you have said & see if it somehow maybe works.

Cheers,
Rahul

[2016-07-27 20:20] manekinekko commented on #127
@beckmeindia sure

[2016-07-27 22:56] manekinekko commented on #130
@gdi2290 I'm working on it

[2016-07-28 10:15] sabbirrahman opened #132 "How can I add proper Less support?"
I've installed less & less-loader and added the bellow line in webpack.config.js
[code]

It works fine If I load a simple less file with variables & mixins. But if I load a less file that imports another less file, I get the following error:
[code]

I need to import a less file which will contains some common variables & mixins in almost all of my component's less. It will be great if anyone can h

[2016-07-28 18:17] bhkim526 opened #133 "Cannot find module 'angular2-web-worker/web-worker'"
I am trying to use 'angular2-web-worker' module ([https://www.npmjs.com/package/angular2-web-worker](https://www.npmjs.com/package/angular2-web-worker)) with Angular Universal but it's throwing below error which doesn't quite make sense to me since it's installed properly and if I switch NG Universal to just serve index.html without prerendering at server-side then it works fine without any except

[2016-07-30 17:06] LennardWesterveld opened #134 "Support for file loader (loading html through file loader)"
Hello,

I was trying to get the webpack file loader work to get the templateUrl through the file loader.
So i changed this line of code in the commonConfig `{test: /\.html$/, loader: 'file?name=html/[name].[ext]?[hash]'},`.
Also i changed the line of codes where i use templateUrl to templateUrl: require('./app.component.html'), for example.

But i get the follow error when i try to startup the nod

[2016-07-30 17:45] Subway19 opened #135 "Getting errors on running npm install"
![capture1](https://cloud.githubusercontent.com/assets/14835320/17272099/5f327c8a-56ab-11e6-98da-b48657ca97a4.PNG)
![capture](https://cloud.githubusercontent.com/assets/14835320/17272101/6137f65e-56ab-11e6-818c-928a78ad01d9.PNG)

installed typings globally still getting error. Tried npm install both on node v6 and v4.4.7

[2016-07-30 18:01] MarkPieszak commented on #135
Are you behind a proxy or anything? It looks like your `Unable to connect`
Does it work when you manually put in `typings install` in the command line at this directory?

[2016-07-30 18:56] Subway19 commented on #135
@MarkPieszak ` typings install` gives following error. Yes, i am behind proxy, however i have set up npm and node for proxy. I am able to run` npm install `in other projects on my system. Does i have to configure proxy for typings or something like that?
![capture](https://cloud.githubusercontent.com/assets/14835320/17272507/6f5ebaa6-56b5-11e6-9571-7c7041e96a44.PNG)

[2016-07-30 19:05] MarkPieszak commented on #135
Yes you need to have access to that address I believe (api.typings.org). Give that a shot and it should clear it right up.

Typings will soon be gone anyway once the starter moves to Typescript 2 & `@types`. Everything will be in the package.json and downloaded via npm. :)

[2016-07-30 19:21] Subway19 commented on #135
Well, how to set up proxy for typings?

[2016-07-30 19:38] Subway19 commented on #135
@MarkPieszak  Ok. Thanks for the quick replies. This resolved the issue --- https://github.com/typings/typings/issues/106. We are working  for Server-Side rendering of Client's Web Application in Angular 2 .  :)

[2016-07-30 19:46] MarkPieszak commented on #135
Glad you got it working! Enjoy. 👍

[2016-07-31 17:06] MarkPieszak commented on #124
You're also trying to access a `ts` file as the program.

    "program": "${workspaceRoot}/src/server.ts"

You need to point to your `dist` folders compiled `.js` file like this:
Then once you do `npm run build` and the files have been built, you'll be able to do **F5** to start the project with VSCode.

    "program": "${workspaceRoot}/dist/server/index.js",

[2016-08-01 14:24] shoudaos opened #137 "How to import jQuery plugins in Angular Universal"
please help with this issue.
In **angular2-webpack-starter** for importing jquery plugins i'm doing this:
in webpack.config define jquery variables in **ProvidePlugin**:
**jQuery: 'jquery',
$: 'jquery',**
... and etc.
And in `ts` component i'm importing the plugin, for example:
`import 'jquery.backstretch'`
And all works fine, in console.log it shows the lib.

**Can you help what to do in angular2

[2016-08-01 15:24] MarkPieszak commented on #137
You're in the wrong repo :)
Make an issue here at the angular2 webpack starter : https://github.com/AngularClass/angular2-webpack-starter/issues

[2016-08-01 15:26] shoudaos commented on #137
Why? it is the question for angular universal, am i wrong?

[2016-08-01 15:30] MarkPieszak commented on #137
Just noticed you are referring to Universal at the bottom :)
So at the moment, jQuery or most any other DOM related things won't work with Universal since Node has no concept of them. I think eventually we'll try to add some sort of support so that, at the very least it doesn't error out on the server-side. (Or switch out to jsdom as a parser for those who want to use jQuery) You can follow issue

[2016-08-01 15:51] drejohnson commented on #137
Couldn't you require jQuery within the` isBrowser` conditional?

[2016-08-01 17:10] MarkPieszak commented on #137
You could do a lot of **if** statements for each time, if you're not using jQuery very much this could be a decent solution you're right. @drejohnson

I think we're hoping we have a more well-rounded solution for these kinds of things in the future.

[code]

[2016-08-02 15:20] maufarinelli opened #138 "How to load only the selected language json file"
Hi,
I am starting to test universal-starter for a personal project that will have at least 3 languages.
How could I compile and bundle only one language file.

In my app, I did (based on the language param passed in the route for now):
ngOnInit() {
    this.route.params.subscribe(params => {
      let lang:string = params['lang'];

      if(lang == 'fr') {
        this.content = JSON.parse(require

[2016-08-03 00:30] bhkim526 opened #139 "Re-rendering when bootstraping at client"
Using async http is causing the UI flickering when bootstraping at client side since the UI is rendered twice, 1 at server-side and 1 at client-side after each async http call.

So I came up with a home-brewed service which embeds the data from the first http call at server into rendered html so I can skip the second call and use the cached data instead at client side but still the UI is re-render

[2016-08-03 09:13] beckmeindia commented on #127
hey @manekinekko & @davideast
Any updates for the auth implementation?
Really excited to implement it on my website!

[2016-08-04 06:49] GabrielDelepine opened #140 "Upgrade @angular/router"
Hi,

The starter is currently running ```"@angular/router": "3.0.0-alpha.8",```.

It would be nice to have it out of the box with ```"@angular/router": "3.0.0-beta.2"```.

from **alpha.8** to **beta.2**

[2016-08-05 06:39] Hongbo-Miao opened #142 "Cannot find module 'preboot'"
It works well before updating preboot, after updating preboot to v4.3.0, got error:

[2016-08-05 13:51] vidinev commented on #139
+1

[2016-08-05 21:41] alacret opened #143 "Unable to Start the Server"
When I use:

npm start

/vagrant/universal-starter/node_modules/@angular/platform-server/src/facade/collection.js:160

SyntaxError: Unexpected token ILLEGAL
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:404:25)
    at Object.Module._extensions..js (module.js:432:10)
    at Module.load (module.js:356:32)
    at Function.Module._load (module.js:311:12)
    at Module

[2016-08-06 11:07] manekinekko commented on #143
please check you're using Node 5.

[2016-08-06 14:53] alacret commented on #143
Any specific version?

[code]

[2016-08-06 22:28] goelinsights commented on #128
+1 I've struggled with this on Google Cloud or in deploying production build using the Heroku 1 click deployment

[2016-08-06 23:08] MarkPieszak commented on #142
@jeffwhelpley any idea ?

[2016-08-07 00:54] #130 closed

[2016-08-07 01:55] Hongbo-Miao opened #144 "latest universal-starter cannot run"
My node version is v6.3.1, npm is v3.10.3
After clone the lastest version starter including [this PR](https://github.com/angular/universal-starter/commit/cf4bb7127b2a5ea8b75a786ed8d8c7a7848efccf). (Before this PR, the universal-starter runs well)

And I did `npm install -g typescript@beta` before.
`npm i` then `npm start`, got the error

**At the front, there are some other typings error, please c

[2016-08-07 18:23] manekinekko commented on #144
do have `webpack` installed?

[2016-08-07 18:24] manekinekko commented on #140
it's coming in https://github.com/angular/universal-starter/pull/141

[2016-08-07 18:26] manekinekko commented on #142
@Hongbo-Miao
1. try installing it manually `npm i preboot` and tell us if this fixes the issue...
2. BTW, are you using Windows ?

[2016-08-07 18:38] Hongbo-Miao commented on #144
https://github.com/angular/universal-starter/commit/a40f0d1b24d04a62a72bd1199ad0334405a76534 fixed, now it works well!

[2016-08-07 18:38] #144 closed

[2016-08-07 18:52] Hongbo-Miao commented on #112
[Angular 2 Universal Patterns](https://www.youtube.com/watch?v=TCj_oC3m6_U wi) explains.

[2016-08-07 18:57] Hongbo-Miao commented on #142
@manekinekko all packages can be updated only this one cannot.
After doing this, still same error.
[code]
preboot works well on v2.1.2, but not v4.3.0

I am using Mac.

[2016-08-07 19:59] Hongbo-Miao commented on #132
The question is better be asked in Stack Overflow. It is not an issue of universal

These may help:
https://github.com/AngularClass/angular2-webpack-starter/wiki
http://stackoverflow.com/questions/35404737/how-to-use-less-with-angular-2

[2016-08-09 11:42] felipedrumond commented on #139
I'm having the same issue here. I believe that there should exist a strategy that allows us to configure what is going to run or re-run at the client or not. For instance, if the client has a cart-id cookie, I'd like to re-run a http call to get its cart json and update the view, without bootstraping the whole app at the client.

[2016-08-09 14:09] MarkPieszak commented on #139
The flicker is something we can look at, there might be something new going on that's causing it. As for the client bootstrapping, it actually needs to render again, since that's how the browser turns it into an actual SPA application, otherwise it's nothing more than rendered html.

An ideal way to store http calls from the server and use that cached data is still in the works. Is that what you g

[2016-08-09 14:12] MarkPieszak commented on #142
It looks like 4.3 isn't rendering itself correctly, some files aren't being published. The .d.ts file is there, but it's referencing nothing.

[2016-08-09 16:39] abeleshko commented on #139
You can see this flicker on the screenshot
![screen shot 2016-08-09 at 9 36 05 am](https://cloud.githubusercontent.com/assets/18040799/17524836/09cb906c-5e15-11e6-8490-cab6d2d563f6.png)

[2016-08-09 18:28] kuldeepkeshwar commented on #139
flickering duration increases as ajax calls on page increases

[2016-08-09 18:31] kuldeepkeshwar commented on #139
duplicate #102

[2016-08-10 01:13] ClickSimply commented on #143
Also happening for me.
Windows 10 x64, Node 5.10.1, NPM 3.10.5

It's happening on a fresh clone, no changes made whatsoever.

[2016-08-10 10:56] kumar-sid opened #146 "Unable to start server - Different error - Internal watch failed"
Hi,

I'm getting the following error after executing npm start. It executes fine till webpack. After that throws below error. Node and npm versions that I'm running are mentioned below. Please let me know if I'm missing anything obvious.

[nodemon] Internal watch failed: watch /mnt/c/my-projects/universal/universal-starter-master/dist EPERM

npm ERR! Linux 3.4.0+
npm ERR! argv "/usr/bin/nodejs" "/

[2016-08-10 20:44] kuldeepkeshwar commented on #92
@gdi2290 @MarkPieszak any update or workaround for this ?

[2016-08-10 21:19] Hongbo-Miao commented on #140
This can be closed

[2016-08-10 23:54] gdi2290 commented on #92
this will be fixed in the next release

[2016-08-11 16:14] MarkPieszak commented on #143
If you're getting `Unexpected token ILLEGAL` there are probably some illegal characters in your Node code. Try using a different text editor to see them and remove them, maybe they came from copy & pasting code from someplace. You could try putting it into Notepad to see if you can spot them.

[2016-08-11 16:15] MarkPieszak commented on #146
You have a permission error:

    [nodemon] Internal watch failed: watch /mnt/c/my-projects/universal/universal-starter-master/dist EPERM <-- "EPERM"

Using `sudo` should get you going. (Or reconfiguring your permissions for npm / this folder / etc)

[2016-08-13 03:18] iamdenny opened #147 "Upgrade to RC5"
Please upgrade to Angular RC5

[2016-08-13 03:32] gdi2290 commented on #147
working on it. Please track https://github.com/angular/universal/issues/511

[2016-08-14 01:38] dimitrovs opened #148 "How do we use DI with separate client/server services?"
I want to integrate authentication in a Angular Universal app. I found this example: https://gist.github.com/jhades/4d9e1422b020b10acaf616d3ee4a3db7 which shows how to do it with a common Client / Server interface and a Server service no-op implementation. But it's not clear how to actually use these services in the Universal app.

I found this pattern referenced in a few places regarding Angular

[2016-08-14 19:30] MarkPieszak commented on #148
https://github.com/gdi2290/ng-conf-2016-universal-patterns/tree/master/3-di-demo

^ You can see a small example of it there that Patrick did a while back.

[2016-08-14 21:20] dimitrovs commented on #148
Thanks, this was a helpful example. What I gather from it is that the pattern works in the following way:

1) Create 3 classes, one Mock (I would normally use an interface, but TypeScript complains that it "can't find name"), one Server implementation and one Client implementation.
2) In the constructors we use the Mock class, and call methods on it.
3) In main.browser.ts we put as part of the boo

[2016-08-14 22:09] MarkPieszak commented on #148
Yes, basically you're giving a "dummy" class, that either client or server then override with their own (in provide) implementation. You just need a base structured class that each correspond with.

We have plenty of documentation we need to add, for now changes keep coming so quickly it's hard to keep up. But it's definitely on the to do list!

[2016-08-17 05:54] dimitrovs commented on #148
I was able to do it with an interface:
[code]

Then in the router config I just used the AUTH_GUARD. If you are injecting it in a constructor then you can use `@Inject(AUTH_GUARD)`:
```{ path: 'about', component: About, canActivate: [AUTH_GUARD]  },```

And at injection time (main.browser.ts):
```{provide: AUTH_GUARD, useClass: ClientAuthGuard}```

and main.node.ts:
```{provide: AUTH_GUARD, useCla

[2016-08-17 05:54] #148 closed

[2016-08-17 14:54] MarkPieszak commented on #148
Ah you're using it to prevent a Component from initializing if it's not authorized? Very nice!
I'll keep a note on this if you don't mind, would be a very good example of showcasing DI in the documentation somewhere. Thanks Stefan.

[2016-08-17 15:53] DamonGant opened #149 "Choice of loader for JSON files"
You should consider using a loader that returns JSON objects when loading JSON files via import for the server config, since that is the default behavior for Node's require and might [confuse people](http://stackoverflow.com/a/39000803/1754827).

If you're trying to keep the parts as close as possible (I mean, I've never considered bundling a server with webpack before), maybe this caveat should b

[2016-08-18 07:29] #124 closed

[2016-08-18 11:26] Honn opened #150 "Gap events are ignored"
I might be missing some setup, but I can't seem to get the gap events handling to work.

To experiment a bit I tried throttling the browser and changing the data-bound input field on the home screen before index.js has loaded. I expected Universal to rerun the events, but once the js takes over the field is reset back to it's default value instead of what I had typed. I've tried setting preboot in

[2016-08-18 15:58] MarkPieszak commented on #127
Others interested in this as well. https://github.com/aspnet/JavaScriptServices/issues/268
Hopefully we can get this in for 1.0 if it's not too involving?

[2016-08-18 16:24] Hongbo-Miao commented on #149
I met this issue:

So usually for a node.js app we can do this:
import * as config from '../config.json';
console.log(config.api);

But now we need do like
import * as config from '../config.json';
const json = JSON.parse(config);  // <- need this line
console.log(json.api);

[2016-08-19 12:46] Honn commented on #150
I saw there will be a new version of Angular Universal in a few days with full preboot integration, so perhaps this issue will go way once that comes.

[2016-08-19 13:22] Junik opened #151 "ngFor template not rendered in child route"
After add  *ngFor to Component template  repeater template not rendered on server.
and in view-source:
`
...

...
`
Can someone help?

[2016-08-19 13:33] MarkPieszak commented on #151
What are you trying to loop through, can you post some of the data and what your ngFor looks like as well? The class / etc. thanks!

[2016-08-19 13:36] MarkPieszak commented on #150
It might, I haven't experienced this one myself, usually slowing it down has no issues. What version of Preboot are you currently using?
@jeffwhelpley Haven't ran into this one myself, not sure if you have? Might be gone in 4.*

[2016-08-19 14:22] Junik commented on #151
[code]

in view-source -> It came from the server  or when do not bootstrap app in client side (client.ts):
[code]

when inspect element
[code]

[2016-08-19 14:56] jeffwhelpley commented on #150
@Honn definitely wait for the next version. Once that is out, there will only be a couple reasons why an event is not captured or replayed:

1. Inline preboot isn't included or init() within inline code is not run to start listening for events.
2. preboot.complete() not called to replay events
3. The specific event you are trying to capture is not in the default list of events
4. Your client side

[2016-08-20 02:33] #140 closed

[2016-08-22 12:38] #151 closed

[2016-08-22 13:04] MarkPieszak commented on #151
@Junik Is everything working ok now? Apologies been swamped.

[2016-08-22 14:13] Junik commented on #151
Hi, yes it is my fall error in constructor of 'PageEditorComponent'. End error related to third party lib.

[2016-08-24 11:46] beckmeindia commented on #127
Hi, I observed that the new angular2-webpack-starter has a very simple approach for integrating Angularfire2 through this:
add 'firebase' to my tsconfig.json file.
make sure you install typescript 2.0.0 npm install typescript@2.0.0 --save
install angularfire with npm install angularfire2@next -- save
add "firebase" to types array in tsconfig in the module
{
  "compilerOptions": {
    "declaration"

[2016-08-25 15:35] gerlstar commented on #88
Note in https://github.com/angular/universal-starter/tree/systemjs wouldve been nice indicating that it's deprecated.

[2016-09-06 12:53] Junik opened #154 "Upgrade to RC6"
Please upgrade to Angular RC6

[2016-09-06 14:27] MarkPieszak commented on #154
Support for the latest rc5/6 angular (with NgModules) will be coming soon,  you can follow https://github.com/angular/universal/issues/511 to track when it's finished & published to npm.

[2016-09-07 01:07] pokakhoaitay opened #155 "How do i can use NgModule?"
I read this guide for NgModule: [https://angular.io/docs/ts/latest/guide/ngmodule.html](url)
But it seems that the @angular/core has no any member called NgModule exported.
Or was I missed somethings else? What i need to config to get ngModule available?
Thanks!
--------
**UPDATE: ** I heard that NgModule will be available in angular 2 rc.5/6. I will try to update the packages

[2016-09-07 01:20] #155 closed

[2016-09-07 01:52] MarkPieszak commented on #155
@pokakhoaitay Also Universal itself needs to be updated to work with rc5/6, so at the moment I'd just create your application normally, then you can add in Universal.

You can track https://github.com/angular/universal/issues/511 if you'd like to see when it gets published. Best of luck!

[2016-09-13 16:02] Hongbo-Miao commented on #154
@Junik Check https://github.com/angular/universal-starter/commit/45f8fcd053c235f5a6ad7300d9a818ba885f4261

[2016-09-13 16:02] Hongbo-Miao commented on #147
@iamdenny Check https://github.com/angular/universal-starter/commit/45f8fcd053c235f5a6ad7300d9a818ba885f4261

[2016-09-13 17:24] #147 closed

[2016-09-13 17:25] #154 closed

[2016-09-14 07:49] medozs opened #156 "Can't Start Application"
Hello,
I can't start the app, and I get this error. Can you help?
![capture](https://cloud.githubusercontent.com/assets/16297164/18504035/2a97d3f2-7a2e-11e6-96a2-7e6a3fd27b35.PNG)

Thank You.

[2016-09-14 08:11] bohacc commented on #156
I have the same issue (windows 10, node 4.3.1, npm 3.7.3)

[2016-09-14 09:23] kuldeepkeshwar commented on #139
this is still happening with rc7 release

1.

<img width="1345" alt="screen shot 2016-09-14 at 2 45 38 pm" src="https://cloud.githubusercontent.com/assets/10448534/18506516/0d414ade-7a8a-11e6-88d2-41ec2225c7e1.png">

2.

<img width="1369" alt="screen shot 2016-09-14 at 2 45 57 pm" src="https://cloud.githubusercontent.com/assets/10448534/18506517/0d4df068-7a8a-11e6-9fa8-8636f6b5313c.png">

3.

<img

[2016-09-14 09:42] kuldeepkeshwar commented on #102
this is still happening with rc7 release

<img width="1345" alt="screen shot 2016-09-14 at 2 45 38 pm" src="https://cloud.githubusercontent.com/assets/10448534/18507350/9be339de-7a8d-11e6-92d6-cbc7f3304b16.png">
<img width="1369" alt="screen shot 2016-09-14 at 2 45 57 pm" src="https://cloud.githubusercontent.com/assets/10448534/18507351/9be81792-7a8d-11e6-99ea-01fc1b687ed1.png">
<img width="1339"

[2016-09-14 09:46] kuldeepkeshwar commented on #92
fixed in rc7 release

[2016-09-14 11:14] mmgyce commented on #156
Add this to tsconfig.json, it works to me
[code]

[2016-09-14 11:48] bohacc commented on #156
Yes, now work, thanks

[2016-09-14 12:09] jeffwhelpley commented on #139
We did resolve this issue with the latest updates. The only reason why you would still see this is if `preboot.complete()` is called before the client side http calls are complete. Just so you understand what is going on here. With the new changes, the server view will be displayed until the client view is completely rendered. The switch between the hidden client view and displayed server view onl

[2016-09-14 12:18] beckmeindia commented on #127
Hey @manekinekko
   Does the new update to rc6 solves the problem we were facing with Auth earlier?

Excited to hear about it

[2016-09-14 14:19] crebuh opened #157 "Livereload"
I wondering if it is possible to reload the application in the browser automatically when running `npm start` and `npm run watch` in two separate terminals?

Isn't this working by default or I'm just missing something? e.g. when working with the Angular CLI with Webpack, the livereload process is already included.

anybody with same issues?

[2016-09-14 16:36] josiah1888 opened #158 "View doesn't update after http call during prerender"
If I make an http call, the server will make the call as expected, but not update the view during serialization.

[code]

In this example, we see the console output from the node server with the correct json, but `this.data` does not get updated in the view.

As soon as the client rerenders the page, it gets updated correctly but this will not help the initial paint.

Full example: https://github.

[2016-09-14 20:35] kuldeepkeshwar commented on #139
@jeffwhelpley got your point. but earlier prebootComplete was part of `universal` module.
and if I directly use `prebootClient` from `preboot` module, then  I need to generate inlinePrebootCode and inject in the HEAD section of the server-side template.

Ideally, if `preboot` option is turned on ,universal should out of box generate `inlinePrebootCode` and inject it in the server-side template.

[2016-09-14 20:50] #92 closed

[2016-09-14 21:01] medozs commented on #156
It now compiles and starts without errors, however, I get the app stuck at "Hello Angular2 App" and Angular2 is not loading. Any help?

[2016-09-15 04:39] medozs opened #159 "Routing doesn't work, just displays 'Hello Universal App'"
Can someone help? Can someone provide me with example that uses routing and controls?

[2016-09-15 05:13] MarkPieszak commented on #159
Think we'll be updating the example some more in the coming days to spruce it up!

[2016-09-15 06:28] davidmontgom commented on #159
I added routing..worked but i get this in the logs:

Error: Template parse errors:
'router-outlet' is not a known element:
1. If 'router-outlet' is an Angular component, then verify that it is part of this module.
2. If 'router-outlet' is a Web Component then add "CUSTOM_ELEMENTS_SCHEMA" to the '@NgModule.schema' of this component to suppress this message. ("
    <div class="container">
    <main>

[2016-09-15 07:49] MarkPieszak commented on #159
Might of just set it up wrong or something. No worries, yes just wait I'll try and update it today if I can, on a 10 hour plane ride, if the wifi is decent I'll fix it up.

[2016-09-15 20:04] zenithtekla commented on #144
I run into the same issue, even after going through your fix

`npm start

C:\Users\PhucTran\uninode\node_modules\ts-node\src\index.ts:253
          throw new TSError(diagnosticList)
                ^
TSError: ⨯ Unable to compile TypeScript
webpack.config.ts (1,15): Cannot find name 'require'. (2304)
webpack.config.ts (2,12): Cannot find name 'require'. (2304)
webpack.config.ts (3,22): Cannot find

[2016-09-15 22:02] gdi2290 commented on #144
@zenithtekla can you try again with a clean install and pull latest
https://github.com/angular/universal-starter/compare/0c3294a16e783bc9ea7d8a1526ac06e768a9d8bd...master

delete node_modules
run `npm cache clean`

[2016-09-15 22:04] gdi2290 commented on #158
remove `import { HttpModule } from '@angular/http';` on the server and client since it's included in UniversalModule

[2016-09-15 22:05] gdi2290 commented on #158
reusing the server response isn't in yet but everything is ready to add it in the next minor release

[2016-09-15 22:06] gdi2290 commented on #142
this should be fixed now as we're using latest preboot

[2016-09-15 22:06] #142 closed

[2016-09-15 22:24] josiah1888 commented on #158
Thanks @gdi2290 !

Just a thought,
I'm assuming there's a way to programmatically check if a module has been imported twice. It would be really nice if we got a warning message to the console telling us that we imported something more than once, especially when the problem is masked like in this situation where Http is encapsulated in another module.

Either way, that's out of the scope for this i

[2016-09-15 22:24] #158 closed

[2016-09-15 22:31] gdi2290 commented on #159
thanks for the issue. I updated the repo with router included

[2016-09-15 22:31] #159 closed

[2016-09-15 22:49] gdi2290 commented on #158
ya sorry I'll try to fix that

[2016-09-16 00:52] Hongbo-Miao commented on #156
this can be closed now, it has been fixed in latest version
https://github.com/angular/universal-starter/blob/master/tsconfig.json#L20

[2016-09-16 02:38] nchutchind opened #162 "Node and Express conflicting types"
I'm using Node 6.0.0 and npm 3.8.6.

The project includes @types/node and @types/express-serve-static-core, which includes its own version of @type/node, resulting in the following error on build:

[code]

[2016-09-16 02:42] gdi2290 commented on #162
can you try latest? I update some of the types

[2016-09-16 02:42] #156 closed

[2016-09-16 03:20] goriunov opened #163 "error TS2430: Interface 'ErrorConstructor' incorrectly extends interface 'ErrorStackTraceLimit'"
Hello .
 I am using npm 3.10.3  node v6.5.0
 I am getting an error when i try to run npm start

Child
    Hash: 95f608ca927f991115b2
    Version: webpack 2.1.0-beta.22
    Time: 16573ms
       Asset     Size  Chunks             Chunk Names
    index.js  3.55 MB       0  [emitted]  main
     [317] ./src async 160 bytes {0} [built]
        + 533 hidden modules

    ERROR in /Users/goriunov/Desktop/U

[2016-09-16 05:03] medozs opened #164 "newest Zone.js doesn't work with mongoose db"
old version compilers but create other problems.
the new version displays:

c:\Users\ahmed\Documents\Me\Projects\Netbine5\node_modules\zone.js\dist\zone-node.js:129
                        throw error;
                        ^

TypeError: Cannot read property 'filter' of undefined
    at zoneAwareEventListeners (c:\Users\ahmed\Documents\Me\Projects\Netbine5\node_modules\zone.js\dist\zone-node.js:

[2016-09-16 05:10] Hongbo-Miao commented on #164
@medozs I am using Mongoose, it works well. You need give more info, and maybe ask on Stack Overflow?

[2016-09-16 05:30] medozs commented on #164
@Hongbo-Miao I had an old version and it works well, this version doesn't work with mongoose at all.

[2016-09-16 05:50] gdi2290 commented on #163
thanks, should be fixed via https://github.com/angular/universal-starter/commit/9669dd70d2e2223171e0e3615920cf96251a3e4b

[2016-09-16 05:50] #163 closed

[2016-09-16 06:12] medozs commented on #164
When I do any operation on the database, this error happens??

[2016-09-16 06:15] medozs commented on #164
btw, id did this to config types:
types": [
      /*"body-parser",
      "compression",
      "cookie-parser",
      "express",
      "express-serve-static-core",
      "mime",
      "serve-static",
      "express",*/
      "node"
    ]
using the old version, as this way was causing node package bath conflict and even when removing one package, the above problem persists and still happens.

[2016-09-16 08:43] crebuh opened #165 "How to integrate a testing environment"
Hi guys,

really great project that you have established with angular universal. For my own project I want to include some tests. There are so many different configurations out there (e.g. https://angular.io/docs/ts/latest/guide/webpack.html#!#common-configuration), but I'm not sure how to make it work with the current project structure.

In general most of the projects have splitted config files

[2016-09-16 11:09] nchutchind commented on #162
Works great! I should have checked and made sure those those libraries were updated when I got the error. Thanks for fixing it.

[2016-09-16 11:09] #162 closed

[2016-09-16 13:45] crebuh commented on #157
I added the following to the webpack.config.js fiel

     var LiveReloadPlugin = require('webpack-livereload-plugin');

in the plugins sections of the commonConfig

    new LiveReloadPlugin({
      appendScriptTag : true
    })

The browser is now reloaded automatically. The only remaining issue is that the page is reloaded twice. On the first attempt localhost is unavailable and on the second att

[2016-09-16 19:48] gdi2290 commented on #139
the latest version has preboot via flag in the express config and the client universal module checks for preboot so don't use `UniversalModule.withConfig` as it's an advanced feature now

[2016-09-16 20:49] gdi2290 commented on #165
for right now you have to create different entry files and in this repo the entry files are `client.ts`/`server.ts` so you would make `test.ts` that would use the same testing setup as you normally would in a normal browser app. I'm planning on adding an example to this repo and more testing helpers in the near future. Please create an issue at [angular/universal](https://github.com/angular/univer

[2016-09-17 05:20] imgsworld commented on #164
I also have this error。

<img width="923" alt="qq20160917-0 2x" src="https://cloud.githubusercontent.com/assets/10345145/18606155/87a963f0-7cd9-11e6-9d81-e9e77d664b54.png">

[2016-09-17 07:55] GrandSchtroumpf opened #166 "How to add third party libraries ?"
Hi guys,
I would like to import gsap into my angular universal starter. There is no @types/gsap for now, and I cannot find where in the starter I should import a third party library.
Can you help me with that ?
Thanks =)

[2016-09-17 10:38] MarkPieszak commented on #166
Do you mean how to install it? `npm i --D @types/gsap` to install to devDependencies?

[2016-09-17 10:52] GrandSchtroumpf commented on #166
No, I mean gsap doesn't provide @types/gsap for now, so I only have the traditional .min.js file. And of course it is not enough to add it in a script in index.html. What would be the best way to import this library (or any other .min.js library) into my components ?

[2016-09-17 11:52] medozs commented on #164
Yes, I get this error too!!
Someone please help!

[2016-09-17 12:50] medozs commented on #164
I did different tests and discovered that is a bug with the new Zone.js, and the old Zone.js didn't have this problem of not being able to connect to db. But the old Zone.js causes different error when used with the new universal app.

[2016-09-17 13:05] khanyuriy opened #167 "Parse5DomAdapter has no implementation for getCookie"
Hi,
i make an http.get request, and get following error on the server

EXCEPTION: This method is not implemented in Parse5DomAdapter: Parse5DomAdapter#getCookie
ORIGINAL STACKTRACE:
Error: This method is not implemented in Parse5DomAdapter: Parse5DomAdapter#getCookie
    at _notImplemented (/home/khan/code/stroika/node_modules/angular2-platform-node/parse5-adapter.js:22:12)
    at Parse5DomAdapter

[2016-09-17 13:52] mhevery commented on #164
@alxhub could you have a look? I think t is related to your nice work

[2016-09-17 14:09] medozs commented on #164
@mhevery @alxhub @imgsworld
I fixed the issue, I found that [this ](https://github.com/angular/zone.js/blob/de318ceb2bf640c4fd4c4762f721ba855cfe5d0a/dist/zone-node.js)version of the file zone-node.js committed 7 days ago (after replacing the current one with it in zone.js/dist/zone-node.js) worked well without any errors for my app.

[2016-09-17 14:15] MarkPieszak commented on #167
From https://github.com/angular/universal/issues/536#issuecomment-247762794

That should fix it for you! We might need to make sure we document that somewhere.

[2016-09-17 17:10] khanyuriy opened #168 "Exception 200 - Ok"
I call http.get() in AppComponent ngOnInit, server stops with

200 - Ok
EXCEPTION: 200 - Ok
/home/khan/code/stroika/node_modules/zone.js/dist/zone-node.js:129
                        throw error;
                        ^
200 - Ok

[2016-09-17 17:11] medozs opened #169 "new package causes reload when navigating"
old package.json(from 2 days ago node-modules), when supplied with missing packages, work.  Probably a bug with the new version of the packages.

[2016-09-17 17:24] MarkPieszak commented on #169
What do you mean by old package?

[2016-09-17 17:24] MarkPieszak commented on #168
What exact call are you trying to make can you some code so I can take a look and test it out?

[2016-09-17 17:25] medozs commented on #169
@MarkPieszak  package.json node_modules

[2016-09-17 17:30] MarkPieszak commented on #169
Did you try removing the `node_modules`completely and then reinstall them?

[2016-09-17 17:41] medozs commented on #169
@MarkPieszak I had the old modules from 2 days ago and just replace the folder and it worked.

[2016-09-17 17:43] MarkPieszak commented on #168
Just tried this, and it seems to work fine, let me know if you're doing anything different

[code]

[2016-09-17 17:44] MarkPieszak commented on #169
Great, glad to hear it 👍

[2016-09-17 18:06] khanyuriy commented on #168
Thank you for your time.
I finally reproduced the error on clean starter project.
changes in app.ts
`
import { Observable } from 'rxjs/Observable';
import 'rxjs/add/operator/catch';
import 'rxjs/add/observable/throw';
`
...
`
@Component({
  selector: 'home',
  template: 'Home component'
})
export class Home {
  constructor(private http: Http) {
    http.get('/test')
      .catch(this.handleError)

[2016-09-17 18:11] khanyuriy commented on #168
oh... it seem that something changed in express since last used version. With end() it works.

[2016-09-17 18:18] medozs commented on #169
@MarkPieszak  actually, when I reinstalled the new package, it works fine now. It seems that the package I downloaded before was not the right one for the app, and the right one came few hours after.

[2016-09-17 18:20] medozs commented on #169
Ignore this post!!
When I reinstalled the new package.json from here, it works fine now. This package wasn't there when I download the app, it was updated few hours after.

[2016-09-17 18:25] khanyuriy commented on #168
I finally reproduced the exception on clean starter project

app.ts

import { Component } from '@angular/core';
import { Http } from '@angular/http';
import { Observable } from 'rxjs/Observable';
import 'rxjs/add/operator/catch';
import 'rxjs/add/observable/throw';

@Component({
  selector: 'app',
  template: `
  <p>Hello Angular Universal App</p>
  <router-outlet></router-outlet>
  `
})
export cl

[2016-09-17 19:39] kuldeepkeshwar opened #170 "npm install failing on latest checkout"
npm install is failing on updating to the latest code.
I have even tried this after deleting node_modules folder
[code]

[2016-09-17 19:49] gdi2290 commented on #170
make sure you use npm 3

[2016-09-17 20:20] gdi2290 commented on #168
res.**json(** _{ title:'hello' }_ **)**

you're not sending json (json is a string) so the server is erroring out.

[2016-09-17 20:21] #169 closed

[2016-09-17 20:44] khanyuriy commented on #168
Hi, Patrick!
res.json() and res.json().end() not helped

[2016-09-17 21:19] gdi2290 commented on #168
ok here's the fix
https://github.com/angular/universal-starter/commit/32a73f1abdb8b304d7bea55f2e69b7d89fea36a5
the problem was that the server was responding with `connect ECONNREFUSED 127.0.0.1:80` since req.hostname was `127.0.0.1`

[2016-09-17 21:19] #168 closed

[2016-09-17 21:21] khanyuriy commented on #164
i have the same issue, and i am not using mongoose.

[2016-09-17 21:26] gdi2290 commented on #149
thanks for the issue. I added json-loader

[2016-09-17 21:26] #149 closed

[2016-09-17 22:45] Dralac opened #171 "Grab routes from external API"
This is more question than the issue, and it's about dynamic routes from external API.

What I try to achieve is to grab the routes from external API, prepare them and use them with universal, which I managed. Anyway, if I request directly any other route than the home ( / ) route I get error that route doesn't exist because API call didn't finished and routes are not ready yet.

So what I'm wonde

[2016-09-18 02:55] #170 closed

[2016-09-19 03:59] Hongbo-Miao commented on #164
@medozs you are right, got same error, **zone.js** 0.6.21 works well, it starts to have this issue since 0.6.22

[2016-09-19 08:13] crebuh commented on #165
Yes an example would be great I modify my setup now to have an test.ts file as entry point, but then I'm struggeling with the execution of the tests. It seems that there are some problems related to the filepath.

What about the webpack config for the testing environment, would you add it like the other configs and merge it at the end like:

      // Testing
  webpackMerge({}, defaultConfig, commo

[2016-09-19 11:34] arielhenryson opened #172 "https calls not working"
In the new version  when I try to make a HTTPS request to third-party APIs server, I'm getting this error

{ Error: socket hang up
    at TLSSocket.onHangUp (_tls_wrap.js:1092:19)
    at TLSSocket.g (events.js:291:16)
    at ZoneDelegate.invokeTask (/xxx/xxx/xxx/xxx/node_modules/zone.js/dist/zone-node.js:225:37)
    at Zone.runTask (/xxx/xxx/xxx/xxx/node_modules/zone.js/dist/zone-node.js:125:47)

[2016-09-19 12:53] esakkikrishnan opened #173 "npm run server fails"
npm run server fails and shows me the following error:

npm run server

[nodemon] 1.10.2
[nodemon] to restart at any time, enter `rs`
[nodemon] watching: D:\EXP\JS\ANGULAR2\universal-starter\dist/**/* src/index.html
[nodemon] starting `node dist/server/index.js`
events.js:141
      throw er; // Unhandled 'error' event
      ^

Error: spawn cmd ENOENT
    at exports._errnoException (util.js:907:11)

[2016-09-19 13:22] MarkPieszak commented on #173
Do you have a fresh repo, or have you completely removed your `node_modules` folder and then reinstalled everything?

Also can you try updating your Universal depdencies to the latest 2.0.10 version, wondering if those could be the problem as well.

    "angular2-platform-node": "~2.0.10",
    "angular2-universal": "~2.0.10",
    "angular2-universal-polyfills": "~2.0.10",
    "angular2-express-eng

[2016-09-19 13:23] MarkPieszak commented on #172
Do you have a fresh repo, or have you completely removed your `node_modules` folder and then reinstalled everything?

Also can you try updating your Universal depdencies to the latest 2.0.10 version, wondering if those could be the problem as well.

    "angular2-platform-node": "~2.0.10",
    "angular2-universal": "~2.0.10",
    "angular2-universal-polyfills": "~2.0.10",
    "angular2-express-eng

[2016-09-19 13:48] arielhenryson commented on #172
Just to make sure I deleted my node_modules folder and updated  the universal  stuff as you suggest but the problem is still there.

[2016-09-20 04:08] kuldeepkeshwar opened #175 "support for lazy routes ?"

[2016-09-20 10:53] RephoneYin opened #176 "npm start failed for something about webpack"
I working on master branch. I really make me confused when I tried to start the server. Here is my output in termimal:

`
     E:\research\angular2\universal-starter>npm start

    Invalid configuration object. Webpack has been initialised using a configuration object that does not match the API schema.
     - configuration[0].resolve has an unknown property 'root'. These properties are valid:

[2016-09-20 11:16] matiishyn commented on #176
have the same issue

[2016-09-20 11:29] matiishyn commented on #176
here's a temp fix:
https://github.com/angular/angular-cli/issues/2234#issuecomment-248174857
Webpack team is working on it

[2016-09-20 14:26] matiishyn commented on #122
Deploy still doesn't work, but it's an issue that we also have locally: https://github.com/angular/universal-starter/issues/176

Somehow it can be fixed locally (https://github.com/angular/angular-cli/issues/2234#issuecomment-248174857) but doesn't help for Heroku:

![image](https://cloud.githubusercontent.com/assets/3661065/18674262/e58b8350-7f4e-11e6-94c1-3ff9f2b8f755.png)

[2016-09-20 15:50] akshaybabajob opened #177 "Unable to load templateUrl even with absolute path"
I am trying to load external html template but I am unable to do so.
Here is the code :
  selector : 'home',
  templateUrl : 'src/components/home/home.component.html',
  //encapsulation: ViewEncapsulation.None,
  styles: [require('./home.scss').toString()]

Also the folder structure:
universal-starter/src/components/home/home.component.html

Any ideas? Tried all the possible path, even tried 'requ

[2016-09-20 22:17] Hongbo-Miao commented on #164
After updating to latest version:

[code]

The issue is gone now.

[2016-09-21 05:28] gdi2290 commented on #172
can you try with zone.js 0.6.21?

[2016-09-21 06:22] crebuh commented on #167
I've got the same issue. Putting the UniversalModule as the last import in my main.node.ts solves the problem, but then a couple of my styles (e.g. bootstrap, font-awesome etc.) aren't rendered directly from the server.

Anybody with the same problem?

[2016-09-21 09:21] MarkPieszak commented on #167
@crebuh Were you importing things like HttpModule BrowserModule and such in your imports by any chance? Can you copy paste what you had, curious why that was happening. Thanks

[2016-09-21 12:19] crebuh commented on #167
@MarkPieszak

the import part of my main.node.ts looks like this:

    UniversalModule, // NodeModule, NodeHttpModule, and NodeJsonpModule are included
    FormsModule,
    ReactiveFormsModule,
    RouterModule.forRoot([
      { path: '', component: LoginPage, pathMatch: 'full' },
      { path: 'dashboard', component: DashboardPage },
      { path: 'login', component: LoginPage },
      { path: 'l

[2016-09-21 12:22] arielhenryson commented on #172
I rolled back Zone from 0.6.25 to 0.6.21 and now it's working again
i did a file compare between the versions and i see that in version 0.6.25 there is a new code in the zone-node.js related to HTTP so maybe that's is the problem

But I have a question.I don't understand why in the server-side Zone  takes control over global stuff. I understand why in the browser Zone it needs to be aware of a lot

[2016-09-21 14:01] MarkPieszak commented on #167
Is your root App the entire `<html>` component? I believe styles aren't being injected correctly when doing that now in the latest updates. Otherwise nothing looks unusual to me, hmm..

[2016-09-21 15:47] Junik opened #178 "VS Code Debug"
Guys could you create help or best practice for creating VS Code environment  with debug configuration.
-Breakpoints in server side render workflow
-Breakpoints in client side workflow

[2016-09-21 18:22] kuldeepkeshwar commented on #139
@jeffwhelpley @gdi2290
I have turned on the preboot flag, but still, the view is flickering.

repo: https://github.com/kuldeepkeshwar/universal-starter

[2016-09-21 19:12] jeffwhelpley commented on #139
OK, I will try out your code tonight and let you know.

[2016-09-21 21:56] gdi2290 commented on #172
cc @alxhub

[2016-09-22 06:30] crebuh commented on #167
No I used the same structure the universal-starter project is using. My root component is <app></app> ...

I took a closer look at the error message and it seems the problem is related to the ng2-translate lib, which I'm using in the project.

     EXCEPTION: This method is not implemented in Parse5DomAdapter: Parse5DomAdapter#getCookie
        ORIGINAL STACKTRACE:
        Error: This method is no

[2016-09-22 09:41] matt4446 commented on #177
I have not got around to trying it, but I do remember reading about it::

http://stackoverflow.com/questions/37178192/angular2-what-is-the-meanings-of-module-id-in-component

[2016-09-22 12:38] jeffwhelpley commented on #139
@kuldeepkeshwar not sure if I am doing this the right way, but I just ran your project and I didn't see any flicker. Can you tell me the exact steps to take to recreate the issue (assume that i have the project running and am on the default page of the app).

[2016-09-22 12:54] kuldeepkeshwar commented on #139
use localhost:3000/offers/delhi-ncr or navigate to `local` route

[2016-09-22 14:09] crebuh opened #179 "Deploy build: Error: Failed to lookup view "index" in views directory "src""
Hey guys, today I tried to build the whole application and deploy it to a aws server. I used **npm run build** to generate the dist folder with the sub-folders server and client.

Then I tried to start the server app with **node dist/server/index.js**, which outputs:

      Listening on: http://localhost:3000

Similar then running the application with **npm start**. In addition I adjusted nginx to

[2016-09-22 14:12] jeffwhelpley commented on #139
@kuldeepkeshwar I need to investigate this a bit further, but I don't think this has anything to do with preboot. It looks like the flash specifically is coming from the snippet behind your router outlet. I need to see why there is the delay in resolving that route because it should resolve immediately on the client, but if you look at the network tab, you can see that the client side route doesn'

[2016-09-22 14:17] flauc commented on #177
Hi @akshaybabajob, this is how i do it and it work just fine:

[code]

The `something.html` file is located in the templates folder of the parent directory.

Btw there is nothing that you need to configure in your webconfig for this to work

[2016-09-22 14:27] kuldeepkeshwar commented on #139
@jeffwhelpley API call does take time (intentionally made it wait for 1 second to make it look like more real time), but preboot should show server rendered view until client bootstraps completely

[2016-09-22 15:26] jeffwhelpley commented on #139
Wait..why are you doing the http call in the provider? I am not sure that will work that way. If you move it to the ngOnInit() I would guess this problem will go away.

[2016-09-22 15:36] kuldeepkeshwar commented on #139
@jeffwhelpley I have to put the http call in the `HomeResolve`(Resolve) because I want data to be available in the component  .
If I make call from ngOnInit() then this will again cause blinking effect until the http call completes

[2016-09-22 16:53] MarkPieszak commented on #177
@akshaybabajob  Yes, you want to use `styles` and `template` not URL.
This way Webpack will get the file for you, and return it as a String.

[2016-09-22 17:20] bkinsey808 opened #180 "error TS2687: All declarations of 'prototype' must have identical modifiers."
I have the latest angular universal-starter and the latest typescript.

When I run `npm start` I get some errors:

[code]

etc.

[2016-09-22 19:51] flauc commented on #166
Hi @GrandSchtroumpf did you manage to resolve your problem? I'm also trying to import external libraries and  it isn't going that good.

[2016-09-23 17:53] khanyuriy opened #181 "async data does not render on server"
to reproduce, is used the latest universal-starter clone
i added  text property and ngOnInit to App class
...
text: string;
ngOnInit() {
    this.http.get('assets/text.txt')
      .subscribe(response => {
        console.log('text');
        this.text = response.text();
      })
  }
...
then i added binding to template
`
 <p>Hello Angular Universal App</p>
  <p>{{text}}</p>
  <router-outlet></rout

[2016-09-23 18:37] emanuelverardi commented on #139
Hi! I'm having the same Issue.
I'm using angular2 universal with server rendering and I'm showing a list of videos that came from my API.
As you can see, if is the first time the list of videos are being shown and after a second it desapears and  another http request is made and the list of videos appear again.
This is too bad for UX.
I tried  to optimize it using ng2-cache to cache my http reques

[2016-09-24 12:30] GrandSchtroumpf commented on #166
Hi @flauc, no I still not manage to import it. When I do `import 'gsap'` it looks into the right file, but I cannot run the server then with `npm start`. I don't know if this is something I should do with webpack or angular ...

[2016-09-24 12:37] GrandSchtroumpf commented on #166
I ended by using a cdn...

[2016-09-24 20:18] MarkPieszak commented on #171
It should be waiting on any http calls etc before loading everything, or are you talking about something completely outside of angular? You might just need to run your code, then load your App if that's the case?

[2016-09-25 11:08] bkinsey808 commented on #180
Installing the latest version of node fixed this for me. v6.6.0

[2016-09-25 11:40] Dralac commented on #171
Thanks @MarkPieszak, what I needed is just wait for 1 call that will grab async routes from API, so I guess your answer should do the job. I'll just try to run that call before bootstraping ng2.

[2016-09-25 16:01] flauc opened #182 "Unexpected value 'UniversalModule' error"
I made this simple change to the repo:

`server.ts`
[code]

Then i get this error:

[code]

Even if i just run Mongo.init() separate from app.listen just like this:

[code]

I get the same error.

This error has nothing to do with `Mongo.init()` it's just a simple promise that resolves when a connection has been established and I've tested it extensively. Also if i change `Mongo.init()` with any o

[2016-09-25 16:37] MarkPieszak commented on #180
Did you wipe your node_modules and reinstall?
Also, your tsconfig doesn't have lib : [es6] or anything does it?
Also, are you using npm 3.* or higher?

[2016-09-26 16:00] MRokas commented on #181
Correct me if I'm wrong, but shouldn't server-side code use fs to retrieve content?

[2016-09-26 17:55] khanyuriy commented on #181
You're right. This example just for reproduce the bug. I actually do async requests to mongodb, and getting no data rendered on a server. So it does not solve the SEO of SPA problem.

[2016-09-27 07:11] aiboy commented on #181
Any attention to this issue? Also can't figure out what we need to do to force Angular-Universal to wait for http.get before rendering the page.

Find some information but it's all outdated.

[2016-09-27 09:43] esakkikrishnan commented on #173
The issue is with my nodemon. Thanks anyway @MarkPieszak

[2016-09-27 09:44] #173 closed

[2016-09-27 12:35] Junik commented on #178
Оk I leave it here.
 server side:
.vscode->launch.json
[code]

src->webpack.config.ts

[code]
VS Code breakpoints work

client side:
  after this in chrome Developer tools source maps is available so breakpoints work as usually

[2016-09-27 13:16] MarkPieszak commented on #178
@Junik The Starter actually comes with the .vscode files needed for debugging, are those default ones not working for you?

[2016-09-27 13:31] MarkPieszak commented on #178
Actually you're right, doesn't seem to be working for client-side. A while back I was able to hit breakpoints for the client-side also...

[2016-09-27 13:33] MarkPieszak commented on #173
Oh great, glad you figured it out!

[2016-09-27 13:36] MarkPieszak commented on #181
Strange, it should automatically be waiting for those things since they are in the Zone, let me take a look. @aiboy

[2016-09-27 13:44] aiboy commented on #181
@MarkPieszak thanks a lot

Heres a repo - https://github.com/ServerSideRender/angular-universal

There is a possibility that we misconfigured something, but what i get so far that by default angular-universal doesn't wait for Http to finish.

[2016-09-27 15:43] MarkPieszak commented on #181
@khanyuriy I was unable to reproduce your issue, I tried a text file (in assets/text,txt) and it was able to grab the text from it without any issues. Is there something else you have going on that might be stopping these things from working?

@aiboy I was also unable to reproduce this one, it seemed to work fine using the baseline Starter. It worked with & without the `async` pipe, I added the sa

[2016-09-27 15:57] aiboy commented on #181
rmrf-ed node_modules and it didn't helped at all. What i see is "null" rendered at server side ( look at Http response from server for index.html )

![2016-09-27_18-54-17](https://cloud.githubusercontent.com/assets/1760346/18881429/4bc8a074-84ec-11e6-8b4b-4f648b559710.png)

PS: I see the article being rendered, but it's rendered later on, by client side request :/

[2016-09-27 19:19] khanyuriy commented on #181
@MarkPieszak  hi! Thank you for your attention!
You can clone this repo https://github.com/khanyuriy/universal-starter.
npm i && npm run server
I switched off the javascript in chrome, and see that page come from server without async data.

[2016-09-27 22:52] LendsMan commented on #181
Both our repos work the same: server doesn't "wait for all async to resolve before returning response".

[2016-09-28 06:41] #178 closed

[2016-09-28 13:56] MarkPieszak commented on #181
@LendsMan @khanyuriy @aiboy
Wow this is very strange, I'm now able to repro it on different repo & the one you provided Khan.
But my original fork Starter repo, it works completely fine...

Investigating what the heck is going on here, give me some time, not sure if this is something to do with graceful-fs updating recently, or something else... nothing in Core / Universal has changed recently

[2016-09-28 14:09] MarkPieszak commented on #181
@LendsMan @khanyuriy @aiboy @MRokas
Took hours but I finally figured it out... But it was Zones that was incorrectly capturing these events.

Update your Zone.js from 0.6.21 to **0.6.23** and it'll fix the issue :dancers: :sparkles:

https://github.com/angular/universal-starter/pull/183

[2016-09-29 21:54] flauc commented on #182
I've managed to resolve the error. The problem was that i was importing 'reflective-metadata' in a connected file in the project. I'm not sure why, but removing the import fixed the problem and i still had the needed functionality.

[2016-09-29 21:54] #182 closed

[2016-09-30 03:57] Hongbo-Miao commented on #176
Got same issue, and
[code]
does not work for me

[2016-09-30 09:46] qdouble opened #185 "Material 2 patch needs to be updated for alpha-9"
Angular material is no longer using @angular2-material, it is now using @angular/material, so the patches here need to be updated: https://github.com/angular/universal-starter/blob/master/webpack.config.ts#L55

[2016-09-30 10:14] qdouble commented on #185
Also individual packages no longer need to be used, a person can just use MaterialModule, so the only file that needs to be made to work is @angular/material/material.umd.js

[2016-09-30 16:42] Hongbo-Miao commented on #176
Okay, so I got same issue but because of different thing.

Please check my answer here: http://stackoverflow.com/questions/39783856/failed-at-the-myproject1-0-0-build-script-webpack

[2016-09-30 17:29] gdi2290 commented on #185
move it from `preLoaders` to `loaders`

[2016-09-30 18:45] #181 closed

[2016-09-30 18:47] jeffwhelpley commented on #180
Just checked and this seems alright to me, but please re-open if you are still having this issue.

[2016-09-30 18:54] jeffwhelpley commented on #179
So, to be clear, this does work for you locally, but it does not work when you try to run it on AWS, right? Please do the following locally:

[code]

Then take the entire folder structure and drop it into AWS. Then you should be able to run:

[code]

Feel free to re-open if that doesn't work.

[2016-09-30 18:54] #179 closed

[2016-09-30 18:55] jeffwhelpley commented on #177
Closing this for now, but please re-open if Mark's suggestion does not solve your problem.

[2016-09-30 18:55] #177 closed

[2016-09-30 18:57] jeffwhelpley commented on #175
@kuldeepkeshwar I have not tried this out. Are you saying with the Angular Router, async routes don't work on the server side?

[2016-09-30 19:15] jeffwhelpley commented on #166
The solution here is pretty straightforward. Just create your own .d.ts file with the type definitions. Or you put the library JavaScript in a ts file and run:

[code]

[2016-09-30 19:15] #166 closed

[2016-09-30 19:17] jeffwhelpley commented on #165
Trying to cut down on noise, so I am going to close this and we will track creating an example with https://github.com/angular/universal/issues/544

[2016-09-30 19:17] #165 closed

[2016-09-30 19:22] jeffwhelpley commented on #157
@crebuh this is because you are reloading based on file changes instead of source file changes. You need to wait until the server restarts before you do the live reload.

[2016-09-30 19:22] #157 closed

[2016-09-30 19:23] jeffwhelpley commented on #150
OK, if you get the latest this should be fixed. Please re-open this if that is not the case.

[2016-09-30 19:23] #150 closed

[2016-09-30 19:26] jeffwhelpley commented on #143
If you work off a clean version of the latest for this repo, you should not get this. I suggest you start there and then apply your changes to the latest starter. Use tslint to find the source of these types of issues.

[2016-09-30 19:26] #143 closed

[2016-09-30 19:37] jeffwhelpley commented on #138
Hi, @maufarinelli. We have not yet adapted the Angular 2 i18n lib to the server.

@chirayuk @vicb @pkozlowski-opensource any thoughts as to how the i18n lib for Angular 2 would work on the server side? If you aren't sure, just point me to any documentation/resources you have on exactly how the translation files are managed (i.e. are they packaged with the JS package or downloaded separately? how a

[2016-09-30 19:40] jeffwhelpley commented on #137
So, the sort answer here is to abstract out all code referencing jQuery either using `isBrowser` or (preferably) using DI abstraction so your code references an abstract interface class which is implemented differently on the client and server.

However, one heads up to be aware of is that further out in the future (say months away, so don't hold your breath), we are working on some advanced funct

[2016-09-30 19:40] #137 closed

[2016-09-30 19:41] #135 closed

[2016-09-30 21:05] qdouble commented on #185
@gdi2290, that solution isn't sufficient as I said, the packaging has change to @angular/material and the delivery is a different....

If I put the loader to `{ test: /angular\/material/, loader: 'imports-loader?window=>global' }`, or even `{ test: /angular\/material/, loader: 'imports-loader?document=>global' },` and put this `'@angular/material/',` in the includeClientPackages part, I will still

[2016-09-30 22:10] gdi2290 commented on #185
ya the `RippleRenderer` needs to use the `Renderer` and use the correct methods such as `Renderer#createElement` so the fix needs to happen with the material repo. I have solution for dealing with browser globals that I can update but it also needs to include `window.getComputedStyle`

[2016-09-30 22:24] gdi2290 commented on #176
thanks, should be fixed via https://github.com/angular/universal-starter/commit/2f1a70db9d5879d57ff6363956635e1052d1896c now

[2016-09-30 22:24] #176 closed

[2016-10-01 01:28] vicb commented on #138
The docs have been merged to angular.io. Ping me next week if you need more info.

[2016-10-01 02:28] MarkPieszak commented on #182
Good to hear! Sorry I forgot to respond the other day, and a lot of the team was away at AngularConnect all week.

[2016-10-01 02:35] kuldeepkeshwar commented on #175
@jeffwhelpley
sorry async was a mis-leading term, what actually I want is support for lazy routes.

on client-side , we can define using the `loadChildren: () => System.import('somePath')` , but I don't know how this will work on server side ?

One way to do it is to replace `loadChildren` with `children` and adding corresponding route info at the build using some loaders.

[2016-10-01 04:57] mekya commented on #139
Hi,
I'm also having the same issue and it delays project timeline. I can share full source code if you need.

Bests,
A. Oguz

[2016-10-01 09:21] bkinsey808 commented on #180
I did wipe node_modules. Originally I had `"lib": ["es6", "dom"],` in my tsconfig.json file. I tried some different values for this, and they seem to change the errors around but nothing has worked.

$ npm -v
3.10.3

With this: `"lib": ["dom"],`, I got

[code]

With `"lib": ["es5", "dom"],`, I get:
[code]

I really wish I had some idea what was going on.

[2016-10-01 09:52] flauc commented on #175
Hi @kuldeepkeshwar I'm struggling with the same issue. I've tried this:

[code]
Unfortunately it isn't working, this is the error i get:  `Not allowed to load local resource:`

[2016-10-01 14:04] MarkPieszak commented on #139
@jeffwhelpley you think this is a preboot issue or just a universal browser platform bootstrap issue that's causing this? We can always do some CSS trick and overlay the client boo trapped version hidden yet on top of the server rendered, then hide the server one and show the other real fast, that might work? Forget what it's doing now.

[2016-10-01 15:35] kuldeepkeshwar commented on #139
@MarkPieszak @jeffwhelpley

is this what preboot does(apart from capturing the event and replaying them) ?

[2016-10-01 15:41] jeffwhelpley commented on #139
There should not be any flicker. This is a bug. I will be investigating this later today and give more details about the root cause.

[2016-10-01 15:45] kuldeepkeshwar commented on #139
@jeffwhelpley you can use this [repo](https://github.com/kuldeepkeshwar/universal-starter).
I will be online , let me know if I can help you

[2016-10-02 03:27] Hongbo-Miao opened #186 "support webpack config for minification"
Please add webpack config options for minification, thanks!

Right now the browser loads a 3.4MB index.js file:

![image](https://cloud.githubusercontent.com/assets/3375461/19018433/687a7004-882e-11e6-9fea-8ed15d2c3289.png)

[2016-10-02 19:45] jeffwhelpley commented on #138
Ah, thanks, @vicb. OK, @maufarinelli, from what I can see then the Angular 2 i18n lib should work on the server side if you use AoT. I have not tried this out, but according to the documentation, AoT will replace all values in the template. The only catch will be that you will need a different server side deployment for each site.

There may be a way to use JIT i18n on the server side, but I would

[2016-10-02 19:46] jeffwhelpley commented on #180
@MarkPieszak can you take a look whenever you get a chance and then slack me so we can talk about it?

[2016-10-02 19:53] jeffwhelpley commented on #175
Ah, yes, I see now. In short, lazy loaded routes won't work on the server side. However, I can think of a couple hacks we can do depending on your specific use case. Is the route loading completely dynamic or do you know the routes ahead of time? Just give me some more details here @kuldeepkeshwar @flauc.

[2016-10-02 20:18] vicb commented on #138
In JIT mod you only have to provide TRANSLATIONS (xliff content) and LOCALE_ID tokens from (`@anguar/core1`), should be straightforward.

[2016-10-02 20:58] flauc commented on #175
In my case i know the route ahead of time. Thank you for taking the time and helping us :+1:

By the way do you know if lazy loading will be supported in angular2-universal later on?

[2016-10-03 00:32] kuldeepkeshwar commented on #175
@jeffwhelpley , yes we do know routes ahead of time . I tried to make it working ,the way I have mentioned above .
I think we should provide support for it out of box from universal. I do see a strong reason to have it asap , as Angular/webpack promotes it for perf.

[2016-10-03 03:29] MarkPieszak commented on #180
Sure I can take a look tomorrow @jeffwhelpley I wasn't able to repro it last I tried either.

[2016-10-03 09:37] jeffwhelpley commented on #175
So, in general, there is no point to dynamically load routes on the server side and no need to lazy load. The key then is to set it up so we can lazy load on the client, but not on the server. The easiest way to do this is if you are doing lazy loading via NgModule. Then it is just a matter of building your package as one on the server or separate for the client. If you are using a different custo

[2016-10-03 09:40] jeffwhelpley commented on #134
@TheLarkInn @gdi2290 you guys have any ideas on this?

[2016-10-03 09:47] jeffwhelpley commented on #133
It looks like there are some incompatibilities with this library. Specifically, from what I can see, it works on the client side because you reference a TypeScript file with 'angular2-web-worker/web-worker' and webpack will automatically convert that to JavaScript and include it in your package. However, unless you do a similar packaging for the server side, that won't work. The module author need

[2016-10-03 09:48] #133 closed

[2016-10-03 09:48] #132 closed

[2016-10-03 09:49] jeffwhelpley commented on #128
@MarkPieszak have you tried deploying the starter on any other environment? If not, we should try a couple and potentially make some adjustments. Let's talk about this today.

[2016-10-03 09:54] jeffwhelpley commented on #127
@manekinekko what is the current status of this issue? I am just catching up on open problems and it seems like there was some back and forth on this as we were playing catchup with the angular release. Can you check again on this when you get a chance and let me know?

[2016-10-03 09:54] flauc commented on #175
Could you please provide a very minimal example of doing this? Just to give us an idea of what to do.

[2016-10-03 10:01] jeffwhelpley commented on #126
When you comment out `ngApp().then(prebootComplete)` then you are only seeing the server view. You need that in order for preboot to switch from server to client view. Try changing the preboot `buffer` settings to false and see if that changes anything. Can you share with me your code?

[2016-10-03 10:39] jeffwhelpley commented on #123
Rendering on both sides is normal. Preboot should handle the transition from server view to client view. There have been many updates since this has been posted. Please check again and let me know if you see any other issues.

[2016-10-03 10:39] #123 closed

[2016-10-03 10:41] jeffwhelpley commented on #122
This is similar to #128. @MarkPieszak we should have a guide for the most popular platforms and see what has to change in the lib to make it easier.

[2016-10-03 10:42] #120 closed

[2016-10-03 10:43] #118 closed

[2016-10-03 10:44] jeffwhelpley commented on #114
Closing this as we already have an open issue in the Universal repo for this:

https://github.com/angular/universal/issues/309

[2016-10-03 10:44] #114 closed

[2016-10-03 10:47] jeffwhelpley commented on #112
We have discussed this in other issues, but to recap:

universal service is a feature request:
https://github.com/angular/universal/issues/309

use DI swapping for abstracting out localStorage and some equivalent (redis, etc.) on the server side.

for accessing cookies on the server side, get a handle to the request with `Zone.current.get('req')`. this will be improved in the future.

[2016-10-03 10:47] #112 closed

[2016-10-03 10:51] jeffwhelpley commented on #105
@egaspro obviously a lot has changed since this was posted. Please get the latest and try again. In general, when you move around the file structure, you are going to have to modify your webpack config and perhaps some other configs. Let me know if you run into any further issue.

[2016-10-03 10:51] #105 closed

[2016-10-03 10:52] jeffwhelpley commented on #102
This is a duplicate of #139. I am going to close this one and we will just track the issue from 139.

[2016-10-03 10:52] #102 closed

[2016-10-03 10:55] jeffwhelpley commented on #100
I am going to close this as we are tracking System.js support here:

https://github.com/angular/universal/issues/283

Just note, however, that with the recent push in the community toward Webpack, this issue is lower priority for now. Feel free to add your 2 cents to the issue on the Universal repo, though.

[2016-10-03 10:55] #100 closed

[2016-10-03 10:56] jeffwhelpley commented on #96
FYI, the alternative to webpack is systemjs and that effort is being tracked here:

https://github.com/angular/universal/issues/283

[2016-10-03 10:56] #96 closed

[2016-10-03 10:59] jeffwhelpley commented on #95
So, everything in your app will run twice by default, but that should not adversely affect any UX. The user should see the server view immediately and then the client view is displayed only after the data is fetched and rendered on a hidden div. Please get the latest and then check out existing open issues if you run into any problems. In all likelyhood the only thing you will run into is a small

[2016-10-03 10:59] #95 closed

[2016-10-03 10:59] jeffwhelpley commented on #95
And, FYI, you can easily cache data between server and client but it is not something built into the library right now.

[2016-10-03 11:00] #93 closed

[2016-10-03 11:01] jeffwhelpley commented on #88
This repo is only for webpack. We won't have a systemjs version until this is resolved:

https://github.com/angular/universal/issues/283

[2016-10-03 11:01] #88 closed

[2016-10-03 11:02] jeffwhelpley commented on #91
Systemjs need to be address in core first. Follow the issue here:

https://github.com/angular/universal/issues/283

[2016-10-03 11:02] #91 closed

[2016-10-03 11:03] #81 closed

[2016-10-03 11:04] jeffwhelpley commented on #80
You can create this yourself, but we will eventually have some services to cover this:

https://github.com/angular/universal/issues/309

[2016-10-03 11:04] #80 closed

[2016-10-03 11:05] #72 closed

[2016-10-03 11:05] jeffwhelpley commented on #70
With AoT this issue is resolved

[2016-10-03 11:05] #70 closed

[2016-10-03 11:05] jeffwhelpley commented on #66
Try the latest and let me know.

[2016-10-03 11:05] #66 closed

[2016-10-03 11:06] jeffwhelpley commented on #62
Dupe of #139. Follow issue there.

[2016-10-03 11:06] #62 closed

[2016-10-03 11:41] mekya commented on #186
you can try to run

`npm run build:prod`

It reduces index.js size to about 1MB

Welcome for better recommendations...

[2016-10-03 14:04] gdi2290 commented on #134
use `template: require('./app.component.html')`

[2016-10-03 16:11] Junik opened #187 "Typescript emitted no output"
It seems that the problem in ts-loader from
[code]
[code]
anyone ever faced this problem?

[2016-10-03 16:17] Ignigena commented on #180
I was getting this exact same issue after removing `node_modules` and re-installing with NPM 3 and Node 6.  I was able to solve this by removing the `typings` folder as well.

[2016-10-03 16:28] Junik commented on #187
Ok i change
from
[code]
to
[code]
but after that in root component temlateUrl cant find template.html
so
[code]
and it is work ...

[2016-10-03 17:01] antonyRoberts opened #188 "Zone 0.6.25 Issue with Mongoose Again"
Updated zone.js to version 0.6.25 and the same issue as with moving to 0.6.23 occurs #164

P:\UniversalSports\node_modules\zone.js\dist\zone-node.js:140
                        throw error;
                        ^

    at zoneAwareEventListeners (P:\UniversalSports\node_modules\zone.js\dist\zone-node.js:772:13)
    at Db.listeners (eval at createNamedFn (P:\UniversalSports\node_modules\zone.js\d

[2016-10-03 17:14] #180 closed

[2016-10-03 20:54] jeffwhelpley commented on #188
@antonyRoberts no need to open a new issue. I am working on prioritizing all issues now and we just need one open issue. Please add comments to #164.

[2016-10-03 20:54] #188 closed

[2016-10-03 20:55] #187 closed

[2016-10-03 21:00] jeffwhelpley commented on #172
@gdi2290 is this related to #164?

[2016-10-03 21:03] jeffwhelpley commented on #167
@gdi2290 does this mean that ng2-translate should be doing DI swapping for diff implementation on client and server? If so, this points out the need for us having a universal cookie service so we can abstract how we get access to request level stuff on the server side.

[2016-10-03 21:19] gdi2290 commented on #167
we can support `getCookie` now with the new Zone proxy design and should update our node http module to use it

[2016-10-03 21:19] gdi2290 commented on #167
@jeffwhelpley we can support `getCookie` now with the new Zone proxy design and should update our node http module to use it

[2016-10-03 21:19] jeffwhelpley commented on #139
OK, so I think we identified the root cause here. Basically, preboot.complete() is running on the client side before all the http calls complete. So, what is happening is:

1. Server view displayed
2. Client view generated in hidden div but http calls not complete
3. Preboot switches views
4. Client view now displayed without data
5. Http calls complete and then do update

That is the momentary fl

[2016-10-03 21:22] #126 closed

[2016-10-03 21:24] jeffwhelpley commented on #122
I am consolidating this with #128. In short, we need to create some documentation and potentially config changes to make it easier to deploy to a number of target environments including Heroku.

[2016-10-03 21:24] #122 closed

[2016-10-03 21:26] jeffwhelpley commented on #128
Please note that in general, we want to document and potentially add configuration to make it easy to deploy the starter. In addition to Google Cloud, let's make sure we try this out with Heroku (from #122) and a couple other popular services.

[2016-10-03 21:31] jeffwhelpley commented on #167
The Zone proxy is a temporary workaround for this. It is a bad idea to try and have anyone using this as a standard. The goal should be to have it as an injectable service.

[2016-10-03 22:08] felipedrumond commented on #139
Hi @jeffwhelpley. If I simply delay the preboot by 10 seconds (just to make sure all my requests will be completed), it will blink anyway in the following scenario: [https://github.com/angular/universal/issues/514#issuecomment-251217047](https://github.com/angular/universal/issues/514#issuecomment-251217047)

[2016-10-03 22:20] gdi2290 commented on #172
if you want to isolate zone.js then you would want angular to run in an isolated process outside of your server app as you suggested. We use zone.js to track async calls that are being made before converting the app into a string to send down to the client. We also use it to proxy globals such as `document` (and more in the future) for when the developer doesn't have control over the implementatio

[2016-10-04 12:10] kuldeepkeshwar commented on #139
@jeffwhelpley `AUTO_PREBOOT ` is not present in version `2.0.11` .
This was added by  [ Allow for configuring if preboot complete() is called…](https://github.com/angular/universal/commit/aa4fc4239a6177ab4c70bc8c6af35b84148bbebb)

I guess We need to bump the version

[2016-10-04 15:10] jeffwhelpley commented on #139
Ah, yes. Our mistake. Patrick is about to push in another change and he will publish the new version after that goes in.

[2016-10-04 21:22] MarkPieszak commented on #128
@jeffwhelpley I haven't in a while, but I can try to deploy it to Heroku or something and see how it goes.

I think I remember others having trouble with it as well though...

[2016-10-04 22:57] flauc opened #189 "Hammerjs window undefined issue"
I've added hammerjs like this in my webpack:

[code]
And everything works, however i get the window undefined error from the server. I know how to do DI Swapping and this is what i do when i need window usually but the problem here is that i think it's angular that is causing the error this time because this is the error i get:

[code]

Now as far as i can say it doesn't really break anything it j

[2016-10-04 23:50] MarkPieszak commented on #189
Thanks for reporting the issue! The problem is window is a Browser only object, at the moment you could do some conditional things such as isBrowser from Universal, to make sure it's not used on the server side pretender of your App.

You can follow the general issue here, where support for window and other globals will be attempted:
https://github.com/angular/universal/issues/534

[2016-10-05 00:21] Exgaves opened #190 "Can't use templateURL for components"
"No ResourceLoader implementation has been provided. Can't read the url "/views/app/index.html""
This only happens when a component is loading the html from a url. If the HTML is in-lined its fine.
Also tried using "http://localhost:3000/views/app/index.html" with no success.

This error is thrown when the server attempts to render the page for a client. Is there something I need to load for the s

[2016-10-05 01:21] flauc commented on #189
Thank you for the quick response 👍

[2016-10-05 18:38] fergalmoran commented on #167
I am getting this when I access a deep link i.e. http://site/item/1 but if I visit the root (http://site/) then click a link which leads to /item/1 it works perfectly.

[2016-10-06 16:36] mekya opened #192 "Router initialNavigation is called twice when bootstrap two components ( SEO related )"
Hi,
I need to add some meta tags to the head of the app for seo purposes so I bootstrap two components in NgModule one for the <app> tag inside body and one for the <head> tag. It seems ok. There is no problem with that.

[code]

However when there is two components in bootstrap, router's initialNavigation function is called twice because callback function is called with APP_BOOTSTRAP_LISTENER  an

[2016-10-07 05:38] davidmontgom opened #193 "How to run in production"
# Hi,

How do use your app in production?  I find very unstable if exception and hpoing I am doing something wrong

1) when I am ready to push I run the below:
npm run build

2) on my production server I then run:
npm start

3) I serve via nginx:

 server {

[code]

}

[code]

location /browser-sync {
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_pass         http://127.0.0.1:30

[2016-10-07 10:20] LendsMan opened #194 "Angular Universal with Augury"
I have an issue with Angular Universal starter pack and Augury.
When I run `npm start` in universal-starter and try to run Augury I see a message:

I tried to comment `enableProdMode()` in both server.ts and client.ts and all I got was:

on the server and the same message

in the browser.
Setting node environment to _development_ didn't help.

Is it possible to run Angular Universal with Augury?

[2016-10-07 14:39] flauc opened #195 "AoT with universal-starter"
This isn't really an issue, just a question. I'm trying to implement AoT with the starter but with no luck, so I'm wondering if an implementation is in the works at the moment? Or is AoT maybe incompatible with the current version of angular universal?

Thank you for the great starter project 👍

[2016-10-07 14:44] MarkPieszak commented on #195
You can track https://github.com/angular/universal/pull/578
AoT isn't working just yet with Universal.

[2016-10-07 15:16] flauc commented on #195
Thank you for the quick response. Just one more question, do you plan on integrating it in to the starter?

[2016-10-07 15:30] wallaceiam opened #196 "Azure"
Has anyone been able to get server side rendering to work with Azure?

[2016-10-07 15:35] MarkPieszak commented on #196
Are you talking about asp.NET Core integration with Universal?

[2016-10-07 16:44] antonyRoberts commented on #175
I run into the same issue that @flauc is exhibiting with lazy Loading, any time a lazy loaded module is attempted to be accessed Chrome throws error
`Not allowed to load local resource: file:///P:/UniversalSports0.index.js`
webpack.config file is the same as initial other than addition of loader for scss.  I've split my server and client modules, and the server has no dependency on app.routing whe

[2016-10-07 20:16] antonyRoberts commented on #175
@gdi2290 https://github.com/antonyRoberts/UniversalLazyLoadIssue/blob/master/README.md

[2016-10-08 09:09] wallaceiam commented on #196
I'm wondering more if I'm going to be hosting my site on Azure using App Services than if anyone has experience getting server side rendering to work or if it is better to switch to something like JavascriptServices (https://github.com/aspnet/JavaScriptServices).

[2016-10-08 09:36] gdi2290 commented on #195
Thanks for creating an issue, as Mark said please track that issue and yes this starter will have AoT. I'm going to close this so you can track that issue in the universal repo

[2016-10-08 09:36] #195 closed

[2016-10-08 14:45] MarkPieszak commented on #196
Yes if you're using Azure I'm assuming you want/need to use .NET. I've helped make sure Steves Angular2 repo is working with the latest Universal changes. https://github.com/aspnet/JavaScriptServices/tree/dev/templates/Angular2Spa

There should information there on deploying to Azure as well!

[2016-10-08 17:01] wallaceiam commented on #196
Cheers - going to switch over my project

[2016-10-08 17:01] #196 closed

[2016-10-09 21:45] TomerCohavi commented on #186
@mekya Any idea on how to reduce even more the bundle size? 1MB is super heavy especially on mobile.

[2016-10-10 01:45] kuldeepkeshwar commented on #186
@TomerCohavi  use code splitting (lazy-routes) and AOT

[2016-10-10 04:30] kuldeepkeshwar commented on #175
@jeffwhelpley using DI swapping approach will increase the bundle size as it still refers to module in the code.

[2016-10-10 10:15] AlexYankee commented on #172
Same here - request to https results in "Socket hung up" with 0.6.25, something was definitely broken. Downgrading to 0.6.21 resolved issue, thanks  @arielhenryson

[2016-10-10 13:29] gdi2290 commented on #172
can you report these issues in the [angular/zone.js](https://github.com/angular/zone.js) repo

[2016-10-10 14:37] akshaybabajob commented on #177
Thanks everyone. It worked!

[2016-10-10 15:09] Quixomatic commented on #164
Any updates on this issue?

[2016-10-10 15:15] MarkPieszak commented on #164
Pat was suggesting if someone could open up an issue in the Zonejs repo for this as well.

I haven't heard any updates though.

[2016-10-10 15:40] Hongbo-Miao commented on #164
@MarkPieszak oh it is at https://github.com/angular/zone.js/issues/448

[2016-10-10 15:42] MarkPieszak commented on #164
Perfect, thanks!

[2016-10-11 07:47] pokakhoaitay commented on #117
@gdi2290, can you please get me a bit of info about  fullstack angular2 starter that you mentioned recently?
Thanks!!!

[2016-10-11 14:19] Quixomatic commented on #167
Any updates on this, moving the module load order doesn't do the trick.

[2016-10-11 14:22] MarkPieszak commented on #167
@gdi2290 We could add this one into that parse5 (if we finally get it fixed up) We implemented getLocation and a bunch of other things but not cookies yet.

[2016-10-13 01:50] gdi2290 opened #197 "update build to include AoT build"

[2016-10-13 01:52] gdi2290 commented on #164
thanks for creating an issue on this. I'm closing for https://github.com/angular/zone.js/issues/448

[2016-10-13 01:52] #164 closed

[2016-10-13 02:38] gdi2290 commented on #117
ya sorry I ended up not publishing it yet. NgModule delayed it since the structure on an ngApp completely changed

[2016-10-13 03:16] pokakhoaitay commented on #117
yeah :) We are waiting for the good news from you, from that project. Thanks!

[2016-10-15 16:54] shedar opened #198 "More detailed polyfills import comment"
[First line of server.ts](https://github.com/angular/universal-starter/blob/master/src/server.ts#L1) states that polyfills should be the first thing to import.

I would suggest something like

    the polyfills must be one of first things imported in node.js.
    The only modules that can be imported higher - node modules with es6-promise dependency
    (you only need to do it if you have zone.js

[2016-10-17 14:52] ignaciolarranaga commented on #139
Hi @jeffwhelpley, quick question. I'm following your suggestion regarding AUTO_PREBOOT false and manually call the prebootComplete, but I think I'm having some rookie mistake because I'm having this exception at the client:

`TypeError: angular2_universal_1.prebootComplete is not a function`

Version: 2.1.0-rc.1

What I did is:

* Set AUTO_PREBOOT to false:
[code]

* And this after the http loadin

[2016-10-17 16:44] jeffwhelpley commented on #139
Try this:

[code]

[2016-10-17 20:19] ignaciolarranaga commented on #139
Thanks @jeffwhelpley, actually it did not work:
[code]

but a similar approach does:
[code]

One naive question. Why not to put the preboot.complete() at the end of the async queue by default ?, this will force all the async events to happen before the preboot gets executed and no need to disable it and do it manually, or am I missing something ?

[2016-10-17 20:36] jeffwhelpley commented on #139
Which async queue are you referring to? You can initiate async events anywhere in your code. You either need to manually coordinate them all through a custom mechanism (in which case you would have to manually call `preboot.complete()` OR you can modify NgZone so that upon initial page load, you want for the app to be stable and then call automatically call `preboot.complete()`. The stabilization

[2016-10-17 21:07] ignaciolarranaga commented on #139
Well I was thinking on using the zone as you mentioned. If I got it correctly you can catch all the async calls (with the addAsyncListener I guess) on the client inside the zone (as you did on the server) and executing the preboot.complete() after all of them finish, and before the new async events from the client starts.
Or perhaps even better, you can just wait till the same async events that we

[2016-10-17 22:59] jeffwhelpley commented on #139
No, the "stable" state on the server and client are fundamentally different. They are similar but generally speaking the client "stable" state can take longer because there may be multiple async calls and push based realtime which is involved. On the server, the rule we have is just 1 iteration of async before we return the response. The client "stable" state is more complicated. But it is certain